/*
  About page
*/
.view-about-page {
  padding: 30px 0;
  
  .view-content {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
  }
  
  .views-row {
    width: 48%;
    
    @media (max-width: $breakpoint) {
      width: 100%;
    }
    display: inline-block;
    float: left;
    margin-bottom: 2em;
    .views-field-title {
      border-bottom: 3px solid $purple-primary;
      margin-bottom: 30px;
      a {
        color: $purple-primary;
        text-transform: uppercase;
        font-family: $open-sans-condensed;
        font-size: 28px;
        font-weight: bold;
        line-height: 1.5;
        margin-top: 1.5em;
        margin-bottom: 0;
      }
    }
    &:nth-child(2n+1) {
      float: right;
      clear: right;
    }
    &:nth-child(2n) {
      float: left;
      clear: left;
      margin-right: 4%;
      @media (max-width: $breakpoint) {
        margin-right: 0;
      }
    }
    
    .views-field-field-image {
      img {width: 100%;}
    }
    .views-field-body {
      margin-top: 1.5em;
      p:last-child {
         margin-bottom: 0;
       }
    }
  }
  
  .views-row-first {
    width: 100%;
    
    .views-field-title {
      text-align: center;
      border-bottom: 0;
      a {
        font-family: $open-sans-condensed;
        font-size: 32px;
        font-weight: $fw-semi-bold;
        letter-spacing: 1px;
        line-height: 1;
        color: $purple-alt;
        text-transform: uppercase;
        text-align: center;
        margin: 1em 0;
      }
    }
    
    .views-field-field-image {
      margin-top: 50px;
      height: 480px;
      overflow-y: hidden;
      
      @media (max-width: $max-width) {
        height: auto;
      }
      img {
        width: 100%;
        image-position: center center;
      }
    }
    
    .views-field-body {
      h2 {
        color: $purple-primary;
        text-transform: uppercase;
        font-family: $open-sans-condensed;
        font-size: 18px;
        margin-top: 1.5em;
        margin-bottom: 0;
      }
    }
  }
}