/*
  Blog Landing page, blog node page
*/

.page-blog {
  #content {
    width: 100%;
    margin: 0;
    @include breakpoint(768px) {
      @include zen-grid-item(8, 1);
      padding-right: 15px;
    }
  }
  .sidebars {
    width: 100%;
    margin: 0;
    padding: 0;

    @include breakpoint($breakpoint) {
      @include zen-grid-item(4, 1);
      margin: 0;
      float: right;
    }

    @include breakpoint($desktop) {
      padding-left: 15px;
      box-sizing: border-box;
    }
  }
  .region-sidebar-second {
    margin: 0;
    width: 100%;
  }
}

.view-news-and-events-blog {
  
  .views-row {
    clear: both;
    float: left;
    margin-bottom: 2em;
  }
  .views-field-title {
    border-bottom: 2px solid $purple-primary;
    
    a {
      font-family: $open-sans-condensed;
       @include adjust-font-size-to( $h2-font-size );
       color: $purple-primary;
       font-weight: 600;
       text-transform: uppercase;
    }
  }
  
  .views-field-created {
    margin-bottom: 1.2em;
    
    .views-label {
      display: none;
    }
    .field-content {
      font-family: $open-sans-condensed;
      text-transform: uppercase;
      font-style: italic;
      letter-spacing: 1px;
      color: $silver-chalice-2;
    }
  }
  
  .views-field-field-image {
    width: 200px;
    height: auto;
    float: left;
    margin-right: 20px;
  } 
  
  .views-field-title-1 {
    a {
      @include readmore;
    }
  }
  
  .views-field-field-tags {
    width: 100%;
    text-align: right;
    display: none;
    
    @include breakpoint($breakpoint) {
      display: block;
    }
    
    .views-label,
    .field-content {
      font-family: $open-sans-condensed;
      display: inline-block;
    }
    .field-content a {
      color: $purple-alt;
    }
  }
}
