/**
 * @file
 * Style for drupal blocks.
 */

/**
 * Style by region
 */

// Header
.region-header {

  .block {

    .block-title { @include element-invisible(); }
  }
}

// Footer
.region-footer {

  .block {
    float: left;

    .block-title { @include element-invisible(); }
  }
}

/**
 * Style by type
 */

// Blocks menu
.block-menu {

  ul.menu {
    padding: 0;

    li {
      list-style: none outside none;
    }
  }
}


/**
 * Unique blocks
 */

// Search form
#block-search-form {
  position: absolute;
  top: 30px;
  right: 60px;

  @include hide-contextual-links();

  .form-text {
    font-size: 0.846rem; // 11px
    font-weight: normal;
    height: 16px;
    padding: 2px 5px;
    width: 76px;
  }

  .form-actions {
    display: none;
  }
}
