/**
 * @file
 * Style for drupal blocks.
 */

/**
 * Style by region
 */

// Header
.region-header {

  .block {

    .block-title { @include element-invisible(); }
  }
}

// Footer
.region-footer {

  .block {
    float: left;

    .block-title { @include element-invisible(); }
  }
}

/**
 * Style by type
 */

// Blocks menu
.block-menu {

  ul.menu {
    margin: 0 0 rhythm(1) 0;
    padding: 0;

    li {
      list-style: none outside none;
      margin-bottom: .3em;
    }
  }
}

/**
 * Unique blocks
 */


@media all and (min-width: $breakpoint) {

	body.front #content #block-views-peace-geeks-twitter-block {
			width:290px;
			height:444px;
			padding:1.4em;
			background:$soft-grey;
			font-size:1em;
			display:block;
			float:left;
			color:$text-grey;
			a {
				color:$orange;
			}
			h2.block-title {
				display:none;
			}
			.view-content {
				height:330px;
				width:260px;
				overflow:scroll;
			}	
			
			.view-header {
				padding-bottom:1em;
				a {
					color:$text-grey;
					font-style:italic;
					font-family:"Open Sans Italic";
					font-weight:normal;
					font-size:1.1em;
				}
			}
			
			.views-row {
				display:block;
				width:100%;
				border-bottom:1px solid $text-grey;
				margin-bottom:1em;
				padding-bottom:1em;
			}
			
			.views-field-created-time {
				a {
					color:$text-grey;
				}
			}
			
			.view-footer {
				display:block;
				width:100%;
				height:40px;
				#front-twitter-logo-block {
					display:block;
					background:url(../images/twitterbird.png) bottom right no-repeat;
					width:98%;
					height:50px;
					background-size:40px;
				}
			}	
		}

	body.front #content .block-views {
	
		a {
			color:white;
		}
		
		color:white;
		display:block;
		float:left;
		
		.front-above-titles {
			font-weight:300;
			font-size:1.1em;
			font-style:italic;
			display:block;
			padding:1em 0 .2em 1.6em;
		}
		
		
		
		.views-field-title {
			font-weight:600;
			font-size:2em;
			letter-spacing:1px;
			line-height:1.4em;
			padding-left:1em;
			padding-right:1em;
		}
	
		.view-display-id-front_latest_project {
			
			position:relative;
		  	display: inline-block;
		  	width: 648px;
		 	height: 444px;
		 	margin-right:22px;
		 	background:$blue;
		 	float:left;
		
		}
		
		.view-display-id-front_volunteer {
			
			position: relative;
		  	display: inline-block;
		  	width: 264px;
		  	height: 350px;
		  	margin-top:20px;
		  	margin-right:20px;
		  	background:$grey;
		  	float:left;
		}
	
		.view-display-id-front_latest_news {
		
			background:$grey;
			position: relative;
		  	display: inline-block;
		  	float:left;
		  	width:364px;
		  	margin-top:20px;
		  	margin-right:22px;
		  	height:500px;
		}
		
		.view-display-id-front_latest_event {
		
			background:$grey;
			position: relative;
		  	display: inline-block;
		  	float:left;
		  	width:290px;
		  	padding-bottom:3em;
		  	margin-top:20px;
		  	height:500px;
		}
		
		.view-display-id-front_areas_of_focus {
			
			background:$blue;
			position: relative;
		  	display: inline-block;
		  	float:left;
		  	width:264px;
		  	height:270px;
		  	margin-top:-130px;
		  	padding-top:.8em;
		}
		
		.view-display-id-current_volunteer_opps {
			
			background:$orange;
			display:inline-block;
			float:left;
			margin-top:20px;
			margin-left:20px;
			width:676px;
			height:120px;
		}
	
	}

}


// Search form
#block-search-form {
  display: inline-block;
  float: right;
  text-align: right;
  margin-top: -4px;

  //screen bigger than 768px
  @media all and (min-width: $breakpoint) {
    margin-top: 0;
    width: auto;
    position: absolute;
    top: 24px;
    right: 0;
  }

  @include hide-contextual-links();

  .form-text {
    background-color: $soft-grey;
    @include font-size(12px);
    font-weight: normal;
    line-height: 12px;
    height: 24px;
    padding: 6px 10px;
    width: 170px;
  }

  .form-actions {
    display: none;
  }
}



/* Twitter Block */
#block-views-front_page_tweets-block  {
  .view-header {
    display: none;
  }

  .field-content.message_text {
    font-family: 'Open Sans Semi Bold';
  }

  .field-content.twitter_date {
    font-family: 'Open Sans Light Italic';
  }

  li.views-row {
    margin: 0;
    list-style-type: none;
    padding: 0;
    border-bottom: 2px solid;
  }

  .block-title {
    font-size: 18px;
    color: #5B616F;
  }
}

.region.region-twitter {
  position: relative;
  display: inline-block;
  width: 285px;
  height: 350px;
  margin-bottom: 10px;
  background-color: rgb(230, 230, 230);
  padding: 20px;
}



