// Calendar block
#block-views-calendar-of-events-block-3 {

  font-family: $open-sans;

  @media all and (max-width: 990px) {
    background: #5e5e5e;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 70px;
    margin: 0%;
    box-sizing: content-box;
  }

  .view-calendar-of-events {
    background: rgba(0,0,0,0.7);
    height: auto;

    @media all and (max-width: 990px) {
      //width: 280px;
      width: 290px;
      margin: 0 auto;
    }

    .view-header {
      color: white;
      font-size: 1.5em;
      text-transform: uppercase;
      font-family: $open-sans-condensed;
      letter-spacing: 2px;
      padding: 6px;

      * {
        display: inline-block;
      }

      &::before {
        content: "";
        background: url("../images/icon-cal.png") 100%;
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        margin-bottom: 5px;
      }

      p {
        margin: 0;
      }
    }

    .calendar-calendar {
      table {
        border-collapse: separate;
        border-spacing: 5px 7px;
        min-height: 290px;
      }

      .month-view .full td .inner div.day {
        width: 28px;
        margin-top: auto;
        padding-top: 20px;
      }

      tr, td {
        vertical-align: bottom;
      }
      
      td {
        padding-top: 20px;
        background: rgba(0,0,0,0.7);
        font-weight: 300;
        
        &.has-events {
          a {
            color: $purple-primary;
          }
        }
      }

      .month-view .full tr.single-day .no-entry,
      .month-view .full tr.single-day .no-entry .inner {
        height: 20px !important;
      }

      // set background colors
      * {
        background: transparent;
        color: white;
      }
      th {
        background: rgba(255,255,255,0.3);
      }
      th.days {
        border: none;
        font-weight: 300;
      }

      tr.single-day {
        display: none;
      }

      .date-box {
        td {
          border: 0;
          background: rgba(0,0,0,0.7);
          padding: 0;

          .day {
            text-align: right;
          }
          
          a {
            color: $purple-primary;
            text-decoration: underline;
            
            &:hover {text-decoration: none;}
          }
        }
      }
    }

    .date-nav-wrapper {

      .date-nav {
        margin-bottom: -38px;
      }

      .date-heading {
        color: white;
        font-size: 0.7em;

        h3 {
          font-family: $open-sans-condensed;
          text-transform: uppercase;;
          font-weight: 400;
          color: $white;

          .month {
            color: #ce9bc0;
            //font-size: 1.5em;
            line-height: 40px;
          }
        }
      }
    }

    .pager {
      list-style-type: none;
      color: white;

      li {
        background: none;

        a {
          font-weight: 100;
          font-size: 3em;
          outline: none;
          font-family: $open-sans;
        }
        .ajax-progress-throbber {
          display: none;
        }
      }

    }
  }
}

// Calendar block in front page - Desktop

.front #block-views-calendar-of-events-block-3 .view-calendar-of-events { 
  background: rgba(0,0,0,0.4);
   
  @media all and (min-width: 990px) {
    height: 388px;
    max-height: 390px;
    
    .calendar-calendar {
      height: 278px;
      overflow-y: auto;
    }
  }
}

.view-calendar-of-events {
  .pager {
    list-style-type: none;

    .date-prev {
      right: 94%;
    }
  }
}
 
 
//Calendar of events Page

.page-calendar-of-events-day {
  #content {
     width: 100%;
     margin: 0;
     @include breakpoint(768px) {
       @include zen-grid-item(8, 1);
       padding-right: 5px;
     }
     .views-row {
       width: 100%;
       flex-grow: 0;
       -webkit-flex-grow: 0;
       padding-bottom: 20px;
       margin: 0 0 20px 0;
       @include breakpoint($breakpoint) {
         width: 47.5%;
       }
       &.views-row-even {
         margin-left: 1.75%;
       }
       &.views-row-odd {
         margin-right: 1.75%;
       }
     }

     @media (max-width: $breakpoint) {
       .views-row.views-row-even,
       .views-row.views-row-odd {
         margin-left: 0;
         margin-right: 0;
       }
     }
   }
   .sidebars {
     width: 100%;
     margin: 0;
     padding: 0;

     @include breakpoint($breakpoint) {
       @include zen-grid-item(4, 1);
       margin: 0;
       float: right;
     }

     @include breakpoint($desktop) {
       padding-left: 15px;
       padding-top: 40px;
       box-sizing: border-box;
     }
     
     .view-calendar-of-events {
       padding-top: 0;
     }
   }
   .region-sidebar-second {
     margin: 0;
     width: 100%;
   }
   
  .view-calendar-of-events {
    padding-top: 35px;
    
    .views-row {
      margin-bottom: 20px;
    }
  }
  
  .date-heading h3 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1;
    color: $purple-alt;
    text-transform: uppercase;
    text-align: center;
    margin: 1em 0;
    padding: 20px 0;
  }
  
  .view .date-nav-wrapper .date-prev,
  .view .date-nav-wrapper .date-next {
    background: transparent;
    
    a {
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 20px;
      font-weight: 200;
      color: $purple-primary;
    }
    
    .ajax-progress-throbber {
      display: none;
    }
  }
  
  .calendar-agenda-hour.first {
    font-size: 18px;
  }
  
  .calendar-calendar .day-view .full div.single-day div.dayview {
    background-color: $almost-white;
    border: 1px solid $purple-primary;
    padding-top: 15px;
  }
  
  .views-field-title a {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: $purple-primary;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
  }
  
  .date-repeat-rule {
    color: $purple-alt;
    font-size: 18px;
    padding: 5px 0;
  }
  
  .calendar-calendar div.calendar {
    font-size: 14px;
  }
  
  .calendar-calendar .day-view #single-day-container{
    border-right: 1px solid #ccc;
  }
  
  //Event Calendar block on right sidebar
  
  #block-views-calendar-of-events-block-3 {
    background: none;
    padding: 0;
    margin: 0 0 30px 0;
    width: 100%;
    
    .view-calendar-of-events {
      background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
      width: 100%;

      .calendar-calendar th {
        background: rgba(206,155,192, 0.4) none repeat scroll 0 0;
      }
      
      .view-header {letter-spacing: 1.5px;}
      
      .view-header:before { 
        background: none;
        content: "\e900";
        font-family: amani-icons;
        margin-right: 0;
      }
            
      .calendar-calendar .month-view .full td .inner div.day {
        width: 26.5px;
      }
    }
  }
}

.page-calendar-of-events-day #block-views-partners-carousel-block.block-views {
  background: transparent;
}
