///////////////////////////////////////////////////////////////////////////////
//
// Footer
//
///////////////////////////////////////////////////////////////////////////////

.footer-top {
  background-color: $purple-dark;
  border: 1px solid #67486b;
  border-width: 1px 0;
  height: 12px;
}

.footer-wrapper {
  background-color: $purple;
  border: 1px solid #84568b;
  border-width: 1px 0;
  color: $almost-white;
  font-weight: $fw-light;
  padding: 25px 0 17px 0;
  @include zen-grid-container;

  a {
    color: $almost-white;
    @include link-hover-color();
    text-transform: uppercase;
  }

  .menu {
    a {
      color: $almost-white;
      @include link-hover-color();
    }
  }
}

footer {
  > .block-menu {
    display: inline-block;
    //@include zen-grid-item(7, 1); // main menu in footer
    margin-bottom: 0;

    // @media screen and (max-width: $breakpoint) {
    //       float: none;
    //       margin: 0;
    //       @include zen-grid-item(7, 1);
    //     }
    //     
    //     @media screen and (max-width: 640px) {
    //       float: none;
    //       margin: 0;
    //       @include zen-grid-item(5, 1);
    //     }
  }
}

#block-bean-amani-powered-by {
  @include zen-grid-item(4, 1); // amani and peace geeks logos
  text-align: right;

  @media screen and (max-width: 580px) {
    clear: both;
    //float: none;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}

footer {
  position: relative;
  width: 100%;
  .menu {
    float: left;
    position: relative;
    margin: 0 15px 0 0;

    @media screen and (max-width: 640px) {
      float: none;
      margin: 0 0 15px 0 !important;
    }

    li {
      position:relative;
      //text-indent: 20px;
      margin-bottom: 10px;
      
      &:before { 
        //content: "\f078";
        //font-family: amani-icons;
        //margin-right: 8px;
        //font-size: 11px;
      }

      @media screen and (max-width: 580px) {
        text-indent: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      font-family: $open-sans-condensed;
      transition: all 0.3s;
      font-size: 14px;
      leeter-spacing: 1px;

      &:before {
        position: absolute;
        content: '';
        top: 3px;
        left:0;
        // @include icons-sprite(grey-right-arrow);
      }
    }
    a.active {color: $white;}
  }
}
.footer-wrapper .menu  a:hover {
  color: $melanie;
}

footer > .block-menu {
  margin-right: 0;
}

footer .block-menu ul.menu {
  margin-right: 15px;
}

footer .field-label {
  display: none;
}

.region-footer .block.block-bean {
  display: inline-block;
  margin: 10px 0 0 40px;
  float: right;
 
}

.peacegeeks-logo {
  margin: 0 0 20px 50px;

  @media screen and (max-width: 570px) {
    margin-left: 0;
  }
}

.footer-legal {
  font-family: $open-sans-condensed;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: $purple-dark;
  border-top: 1px solid #67486b;
  color: white;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  div {
    margin: 0 auto;
    width: 75%; // strange bug with text align on the parent not correctly centering the text
  }
}

#footer {
  ul.menu li ul.menu {
    display: none;
  }
  
  ul.menu {
    li {
      display: inline-block;
      float: left;
      min-width:80px;
      margin-right: 30px;

      &:nth-child(2n+1) {
        clear: left;
      }
    }
  }
}

//social media 
#footer {
  div[id*="block-menu-menu-social-media"] {
    ul.menu li {
      display: block;
      float: none;
    }
    
    .social-media-facebook:before,
    .social-media-google\+:before,
    .social-media-instagram:before,
    .social-media-linkedin:before,
    .social-media-pinterest:before,
    .social-media-rss:before,
    .social-media-vimeo:before,
    .social-media-youtube:before,
    .social-media-twitter:before {
      content: "\e802";
      font-family: amani-icons;
      margin-right: 10px;
    }
    .social-media-google\+:before {
      content: "\e801";
    }
    .social-media-instagram:before {
      content: "\e803";
    }
    .social-media-linkedin:before {
      content: "\e808";
    }
    .social-media-pinterest:before {
      content: "\f0d3";
      font-size: 18px;
    }
    .social-media-rss:before {
      content: "\e805";
    }
    .social-media-vimeo:before {
      content: "\e806";
    }
    .social-media-youtube:before {
      content: "\f166";
      font-size: 18px;
    }
    .social-media-twitter:before {
      content: "\e804";
    }
    
    @media all and (max-width: 640px) {
      width: 50%;
      float: right;
      text-align: right;
      
      ul.menu {margin-bottom: 0 !important;}
      
      ul.menu li {
        display: inline-block;
        text-align: left;
        width: 85px;
        margin: 0;
        &.social-media-twitter {
        }
      }
    }
  }
  
  #block-bean-img2 {
    margin-left: 0;
  }
  
  @media all and (max-width: 640px) {
    div[id*="block-menu-menu-amani-main-menu"] {
      ul.menu li {
        margin-right: 20px;
      }
    }
    .block-bean {
      margin-left: 30px;
      
      img {
        height: 50px;
        width: auto;
      }
    }
  }
  
  @media all and (max-width: 480px) {
    div[id*="block-menu-menu-amani-main-menu"] {
      text-align: center;
      width: 100%;
      
      ul.menu {
        width: 235px;
        margin: 0 auto !important;
      }
      ul.menu li {
        margin-right: 10px;
        margin-left: 25px;
        text-align: left;
      }
    }
    
    div[id*="block-menu-menu-social-media"] {
      width: 100%;
      margin-top: 20px;
      text-align: center;
      margin-bottom: 20px;
      ul.menu li.social-media-twitter {
        
      }
      ul.menu li.social-media-facebook {
        
      }
    }
    .block-bean {
      margin-left: 15px;
      
      img {
        height: 40px;
      }
    }
  }
}

//footer logos for mobile
@media (max-width: 480px) {
  #block-bean-img1,
  #block-bean-project-by-pg {
    margin-right: 20%;
    margin-left: 15px;
    width: 25%;
    text-align: center;
  }
  #block-bean-img2,
  #block-bean-powered-by-amani {
    margin-left: 20%;
    margin-right: 15px;
    width: 25%;
    text-align: center;
  }
}

.content_bottom {
 // height: 20%;
}

@media (min-width: $breakpoint) {
  #footer div[id*="block-menu-menu-social-media"] ul.menu {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}