// Gallery

.page-gallery .breadcrumb {
  display: none;
}

.media-gallery-collection {
  padding: 40px 0 0 0;
  margin: 0 0 60px;
  border-top: 3px solid $purple-primary;
}

.media-gallery-collection .stack-image {
  display: none;
}

.vocabulary-gallery-collections {
  display: none;
}

.mg-col-4 .mg-gallery {
  width: 100% !important;
}

.mg-col .mg-gallery.mg-teaser {
  margin: 0 0 20px 0;
  @include breakpoint(768px) {
    width: 32% !important;
    //min-height: 400px;
    margin: 0 2% 3% 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.media-gallery-media .media-gallery-item {
  border: none;
  padding: 0;
}

.node-media-gallery.node-teaser .media-gallery-thumb {
  display: block;
  padding: 20px;
  margin: 0 0 20px;
  border: 1px solid #ccc;
}

.node-media-gallery.node-teaser .meta-wrapper.hover {
  display: block;
  position: initial;
  margin-top: -25px;
  .slider,
  .slider.meta-inner {
    background: none;
  }
  
  .media-title,
  .media-description {
    font-family: $open-sans-condensed;
    color: $purple-primary;
  }
  .media-title {
    font-size: 18px;
  }
}

.media-collection-item-wrapper {
  padding: 0;
}

.media-collection-item-wrapper .gallery-thumb-inner a {
  font-size: 34px;
  color: $purple-primary;
}

.node-media-gallery {
  a {
    color: $purple-primary;
    
    &:hover {
      //text-decoration: underline;
    }
  }
}

.page-gallery {
  .feed-icon {
    display: none;
  }
}
