///////////////////////////////////////////////////////////////////////////////
//
//  Header: Logo
//
///////////////////////////////////////////////////////////////////////////////

.region-header {
  margin: 20px auto 0;
  max-width: $max-width;
  padding: 0 10px;
  position: relative;
}

.header-logo {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.header__region {

  .block {
    margin-bottom: 0;
  }

  .menu {
    a {
      border-top: 5px solid #513e79;
      color: white;
      display: block;
      margin: 0 20px 0 0;
      padding: 10px 0 15px 0;
      text-transform: uppercase;

      &.active,
      &:hover,
      &:focus {
        border-top: 5px solid #d19fc0;
        color: #d19fc0;
      }
    }
  }

  .block-menu {

    ul {
      &.menu {

        li {
          display: inline-block;
          margin-bottom: 0;
        }
      }
    }
  }
}

.primary-nav-wrapper {
  background-color: #513e79;
}




///////////////////////////////////////////////////////////////////////////////
//
//  Header: Search
//
///////////////////////////////////////////////////////////////////////////////

.block-search {
  border: 2px solid white;
  position: absolute !important;
  top: 9px;
  right: 92px;
  width: 36px;
  -webkit-transition: width 0.4s ease-in-out;
  -moz-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;

  &:hover {
    width: 136px;
  }

  .form-text {
    // input field for the search query
    background-color: transparent;
  }

  .form-actions {
    // wrapper for submit button
    position: absolute;
    top: 0;
    right: 0;
  }

  input[type="text"] {
    color: white;
    padding-right: 25px;

    &::-webkit-input-placeholder,
    #placeholder {
      color: white;
    }
  }

  input[type="submit"] {
    background-color: transparent;
    text-indent: -9999px;
    padding: 6px 15px;
  }

  .search-icon {
    position: absolute;
    top: 5px;
    right: 7px;
    color: #FFF;
    font-size: 18px;
  }
}
