/**
 * @file
 * Style for menus.
 */

//Main menu in header
#header {
  #block-system-main-menu {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    position: relative;
    left: 0; top: 0;

    .mobile-menu-link {
      display: none;
    }

    ul {
      margin-left: 0;
    }


    li {
      border-right: 1px solid;
      @include font-size(14px);
      float: left;

      &:last-child { border-right: 0 none; }
    }
    
    a {
        border: medium none;
        color: #474f5e;
        font-size: 1.23077rem;
        font-weight: 200;
        letter-spacing: 1px;
        line-height: 16px;
        padding: 0 16px;
        text-transform: uppercase;
    }
  }
}
// Main navigation
#navigation {
  @include element-invisible;
  
  
  
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  position: relative;
  left: 0; top: 0;

  .mobile-menu-link {
    display: none;
  }

  ul {
    margin-left: 0;
  }


  li {
    border-right: 1px solid;
    @include font-size(14px);

    &:last-child { border-right: 0 none; }
  }
}

// Social Media
div[id*="block-menu-menu-social-media"] {
  position: absolute;
  right: 185px;
  top: 28px;

  @include hide-contextual-links();

  .block-title { display: none; }

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
    list-style: none outside none;
    margin-left: 0.3em;
  }
}