/**
 * @file
 * Style for menus.
 */

// Main navigation
#navigation {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  position: relative;
  left: 0; top: 0;

  .mobile-menu-link {
    display: none;
  }

  ul {
    margin-left: 0;
  }


  li {
    border-right: 1px solid;
    @include font-size(14px);

    &:last-child { border-right: 0 none; }
  }
}

// Social Media
#block-menu-menu-social-media {
  position: absolute;
  right: 10px;
  top: 10px;
  //screen bigger than 768px
  @media all and (min-width: $breakpoint) {
    //right: 0;
  }

  @include hide-contextual-links();

  .block-title { display: none; }

  ul {
    margin: 0;
  }

  li {
    display: inline-block;
    list-style: none outside none;
    margin-left: 7px;
    position: relative;
    
    a {
      text-indent: -999em;
      margin-right: 7px;
      position: absolute;
      top: 0;
      left: 0;
      height: 30px;
      width: 30px;
      &:hover {
        border-top: 0;
      }
    }
    
    &.social-media-facebook a { 
      //background: url(../images/icons/icn-facebook-30.png) no-repeat 0 0;
    }
    
    &.social-media-twitter a { 
      //background: url(../images/icons/icn-twitter-30.png) no-repeat 0 0;
    }
    
    &.social-media-facebook:before,
    &.social-media-google\+:before,
    &.social-media-instagram:before,
    &.social-media-linkedin:before,
    &.social-media-pinterest:before,
    &.social-media-rss:before,
    &.social-media-vimeo:before,
    &.social-media-youtube:before,
    &.social-media-twitter:before {
      content: "\e802";
      font-family: amani-icons;
      font-size: 28px;
      color: white;
      display: block;
      margin-top: 5px;
      position: relative;
      left: 75px;
    }

    &.social-media-google\+:before {
      content: "\e801";
    }

    &.social-media-instagram:before {
      content: "\e803";
    }

    &.social-media-linkedin:before {
      content: "\e808";
    }

    &.social-media-pinterest:before {
      content: "";
    }

    &.social-media-rss:before {
      content: "\e805";
    }

    &.social-media-vimeo:before {
      content: "\e806";
    }

    &.social-media-youtube:before {
      content: "";
    }
    
    &.social-media-twitter:before {
      content: "\e804";
    }
  }
}

.header__region {
  width: 100%;
}

#block-menu-menu-social-media {
  left: 950px;
  width: 100%;
}
