/*
  Events and News Landing page, node page
*/


.page-news-and-events {
  #content {
    width: 100%;
    margin: 0;
    @include breakpoint(768px) {
      @include zen-grid-item(8, 1);
      padding-right: 5px;
    }
    .views-row {
      width: 100%;
      flex-grow: 0;
      -webkit-flex-grow: 0;
      padding-bottom: 20px;
      margin: 0 0 20px 0;
      @include breakpoint($breakpoint) {
        width: 47.5%;
      }
      &.views-row-even {
        margin-left: 1.75%;
      }
      &.views-row-odd {
        margin-right: 1.75%;
      }
    }
    
    @media (max-width: $breakpoint) {
      .views-row.views-row-even,
      .views-row.views-row-odd {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  .sidebars {
    width: 100%;
    margin: 0;
    padding: 0;

    @include breakpoint($breakpoint) {
      @include zen-grid-item(4, 1);
      margin: 0;
      float: right;
    }

    @include breakpoint($desktop) {
      padding-left: 15px;
      box-sizing: border-box;
    }
  }
  .region-sidebar-second {
    margin: 0;
    width: 100%;
  }
  
  .view-news-and-events {
   
    .views-row .views-field-field-image {
      float: none;
      width: 100%;
      margin-right: 0;
      margin-bottom: 15px;
      height: auto;
      
      @media (min-width: $breakpoint) and (max: 420px) {
        height: 250px;
        overflow-y: hidden;
      }
      &:before,
      &:after {
        display: none;
      }
      
      img {
        border: none;
        box-shadow: none;
        width: 100%;
        height: auto;
        margin: 0;
      }
    }
    
    .views-field-title {
      margin-bottom: 20px;
      
       a {
        @include adjust-font-size-to( $h2-font-size );
        line-height: 1.2;
      }
    }
    
    .views-field-title-1 {
      text-align: left;
      a {margin-left: 0;}
    }
  }
  
  
  //Event Calendar block on tight sidebar
  #block-views-calendar-of-events-block-3 {
    background: none;
    padding: 0;
    margin: 0 0 30px 0;
    width: 100%;
    
    .view-calendar-of-events {
      background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
      width: 100%;

      .calendar-calendar th {
        background: rgba(206,155,192, 0.4) none repeat scroll 0 0;
      }
      
      .view-header {letter-spacing: 1.5px;}
      
      .view-header:before { 
        background: none;
        content: "\e900";
        font-family: amani-icons;
        margin-right: 0;
      }
            
      .calendar-calendar .month-view .full td .inner div.day {
        width: 26.5px;
      }
    }
  } 
  
} 


//Event List block on right sidebar
.page-news-and-events .block-views {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  padding: 16px;
  margin: 0 0 30px 0;
  
  > .block-title {
    color: white;
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 1.5em;
    line-height: 1;
    letter-spacing: 1.5px;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: 1px solid #fff;
    &:before {
      content: "\e900"; 
      font-family: amani-icons;
      margin-right: 5px;
      display: inline-block;
      height: 24px;
      margin-bottom: 5px; 
      vertical-align: middle;
      width: 24px;
    }
  }
}

.view-calendar-of-events {
  .view-footer .all-events {
    text-align: center;
    border: 1px solid white;
    padding: 5px 10px;
    a {
      font-family: "Open Sans Condensed",sans-serif;
      @include adjust-font-size-to( $h3-font-size );
      color: white;
      text-transform: uppercase;
      letter-spacing: 1px;
      &:after {
        content: "\f101";
        font-family: amani-icons;
        font-size: 22px;
        font-weight: normal;
        display: inline-block;
        color: $white;
        margin-left: 5px;
        position: relative;
        top: 2px;
      }
    }
  }
  
  table {
    margin-top: 0;
    width: 100%;
  }
  
  tr.even, tr.odd {
    background-color: transparent;
    margin-bottom: 10px; 
    border-bottom: none; 
    
    &:after {
      content: "";
      display: block;
      width: 80%;
      height: 1px;
      border-bottom:1px solid #ccc;
      margin: 0 auto;
    }
    
    &.views-row-last:after {
      display: none;
    }
    
    td {
      display: block;
      width: 100%;
      color: #fff;
      &.views-field-field-event-date {
        margin-top: 10px;
      } 
      &.views-field-title {
        margin-bottom: 10px;
        a {
          color: $purple-primary;
        }
      }
    }
    td.views-field-title .title {
      color: $purple-primary;
      text-transform: none;
      display: inline-block;
      &:after {
        content: "\f101";
        font-family: amani-icons;
        font-size: 16px;
        font-weight: normal;
        display: inline-block;
        color: $white;
        margin-left: 5px;
        position: relative;
        top: 2px;
      }
    }   
  } 
}

//Node page
.section-news {
  .article-title-wrapper,
  #content {
    width: 100%;
    margin: 0;
    @include breakpoint(768px) {
      @include zen-grid-item(8, 1);
      padding-right: 15px;
      margin: 0;
    }
  }
  .sidebars {
    width: 100%;
    margin: 0;
    padding: 0;

    @include breakpoint($breakpoint) {
      @include zen-grid-item(4, 1);
      margin: 0;
      float: right;
    }

    @include breakpoint($desktop) {
      padding-left: 15px;
      box-sizing: border-box;
    }
  }
  .region-sidebar-second {
    margin: 0;
    width: 100%;
  }
  
  .article-title-wrapper {
    display: block;
    clear: both;
    margin-bottom: 10px;
  }
}

.node-type-article .article-title-wrapper {
  @media all and (min-width: 561px) and (max-width: $breakpoint) {
    padding: 0 30px;
  }
  @media all and (max-width: 560px) {
    padding: 0 15px;
  }
  .article-title {
    font-family: $open-sans-condensed;
    @include adjust-font-size-to( $h2-font-size );
    color: $purple-primary;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 1px;
  }
}
.node-article {
  .field-name-field-article-date .date-display-single{
    text-transform: uppercase;
    font-style: italic;
  }

  .field-name-field-image {
    display: block;
    width: 100%;
    // height: 350px;
    // overflow: hidden;
    padding-top: 10px;
    img {width: 100%;}
  }
  
  .field-name-body {
    padding-top: 20px;
  }
  
  ul.links {
    display: block;
    width: 100%;
    border-top: 1px solid $purple-primary;
    margin-top: 10px;
    padding-top: 5px;
    .comment_forbidden {
      font-family: $open-sans-condensed;
      a {
        color: $purple-primary;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
}

// side bar of news node page
.node-type-article {
  .sidebars {
    margin-top: -40px;
  }
  #block-views-programs-campaigns-block .block-title {
    display: none;
  }
  
  #block-views-programs-campaigns-block .views-row {
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
    &:after {
      content: "";
      background-color: rgba(0,0,0, 0.7);
      position: absolute;
      bottom: 5px;
      left: 0;
      height: 48px;
      width: 100%;
      z-index: 2;
    }
    
    .views-field-field-image {
      width: 100%;
      
      img {width: 100%;}
    }
    
    .views-field-body {
      display: none;
    }
    
    .views-field-title {
      position: absolute;
      bottom: 5px;
      left: 0;
      padding: 10px 15px;
      z-index: 3;
      
      a {
        font-family: $open-sans-condensed;
        color: $purple-primary;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 1px;
         &:after {
          content: "\f101";
          font-family: amani-icons;
          font-size: 18px;
          font-weight: normal;
          display: inline-block;
          color: $purple-primary;
          margin-left: 5px;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}

//Recent comments
.node-type-article {
  #block-views-comments-block {
    .block-title {
      font-family: $open-sans-condensed;
      color: $purple-alt;
      text-transform: uppercase;
      letter-spacing: 1px;
      border-bottom: 1px solid $purple-primary;
      margin-bottom: 10px;
      &:before { 
        content: "\e905";
        font-family: amani-icons;
        color: $purple-alt;
        font-size: 22px;
        font-weight: normal;
        margin-right: 10px;
      }
    }
    
    .views-field-subject {
      float: left;
      a {
        color: $purple-primary;
        font-weight: bold;
        margin-right: 5px;
      }
    }
  }
}

// Comments
h2.comments__title {
  font-family: $open-sans-condensed;
  color: $purple-alt;
  text-transform: uppercase;
}

h3.comment-title a {
  font-family: $open-sans-condensed;
  color: $purple-primary;
  text-transform: uppercase;
}

a.permalink {
  color: $purple-primary;
}

.page-news-and-events .region-content-bottom .block-views {
  background: white;
}