/*
  Partners page
*/
.page-partners {
  .view-partners {
    .view-content {
      display: flex;
      display: -webkit-flex;
      flex-flow: row wrap;
      -webkit-flex-flow: row wrap;
      justify-content: space-between;
      .views-row {
        width: 100%;
        flex-grow: 1;
        @include breakpoint(768px) {
          width: 30%;
          margin: 20px 15px;
          &.views-row-first,
          &:nth-child(3n+4) {
            margin-left: 0;
          }
          &.views-row-last,
          &:nth-child(3n+3) {
            margin-right: 0;
          }
          &.views-row-first.views-row-last {
            max-width: 30%;
          }
        }
        .views-field-title {
          a {
            display: block;
            border-top: 3px solid #d29ec2;
            color: #d29ec2;
            text-transform: uppercase;
            padding-top: 3px;
            font-family: $open-sans-condensed;
            font-size: 16px;
          }
        }
        .views-field-field-image {
          text-align: center;
          padding-top: 22px;
          padding-bottom: 22px;
          img {
            max-width: 264px;
            height: auto;
          }
        }
      }
    }
  }
}

/*
  Partners node page
*/
.node-type-partner {
  .node-partner {
    width: 100%;
    margin: 0 auto;
  }
  .field-type-image {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .field-name-body {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px solid $purple-primary;
  }
  .field-name-field-programs {
    .field-label {
      font-family: $open-sans-condensed;
      text-transform: uppercase;
      color: $purple-alt;
      letter-spacing: 1px;
      padding-top: 10px;
      margin-bottom: 15px;
      border-top: 2px solid $purple-primary;
    }
    .field-items a {
      color: $purple-primary;
      margin-bottom: 10px;
      display: block;
      &:hover {text-decoration: underline;}
    }
  }
}



