/*
  Program page and node page
*/

.page-programs,
.node-type-project {
  #content {
    width: 100%;
    margin: 0;
    @include breakpoint(768px) {
      @include zen-grid-item(8, 1);
    }
  }
  .sidebars {
    width: 100%;
    margin: 0;
    @include breakpoint(768px) {
      @include zen-grid-item(4, 1);
      margin: 0;
      float: right;
    }
  }
  .region-sidebar-second {
    margin: 0;
    width: 100%;
  }
  //main content
  #content .view-content {
    margin-top: 40px;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    //justify-content: space-between;
    //-webkit-justify-content: space-between;
    .views-row {
      width: 100%;
      flex-grow: 0;
      -webkit-flex-grow: 0;
      border-top: 3px solid $purple-primary;
      padding-bottom: 20px;
      margin: 0 0 20px 0;
      @include breakpoint(768px) {
        width: 45%;
        margin: 0 15px 20px;
        &.views-row-first,
        &:nth-child(2n+1) {
          margin-left: 0;
        }
        &.views-row-last,
        &:nth-child(2n+2) {
          margin-right: 0;
        }
        &.views-row-first.views-row-last {
          max-width: 50%;
        }
      }
    }
    @media (max-width: 1169px) {
      .views-row {
        flex-grow: 1;
        -webkit-flex-grow: 1;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
      }
    }
    .views-field-title {
      font-family: $open-sans-condensed;
      font-size: 20px;
      font-weight: $fw-normal;
      margin-bottom: 10px;
      height: 50px;
      padding-top: 4px;
      @include breakpoint(768px) {
        font-size: 16px;
      }

      a {
        color: $purple-primary;
        text-transform: uppercase;
        line-height: 1.5;
        letter-spacing: 1px;
      }
    }
    .views-field-field-image {
      height: 250px;
      overflow-y: hidden;
      img {
        width: 100%;
        height: auto;
      }
    }
    .views-field-body {
      color: $grey-darker;
      line-height: 1.8;
      margin: 10px 0;
    }
    .views-field-title-1 {
      text-align: center;
      @include breakpoint(768px) {
        text-align: right;
      }

      a {
        font-family: $open-sans-condensed;
        display: inline-block;
        width: 60px;
        padding: 11px 40px 8px 40px;
        background: $purple-primary;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        &:hover {
          background: $purple;
        }
        @include breakpoint(768px) {
          padding: 0;
          background: none;
          text-transform: none;
          color: $purple-primary;
          font-size: 13px;
          &:hover {
            background: none;
          }
        }
      }
    }
  }
  //side bar
  .sidebars {
    .view-content {
      border-bottom: 3px solid $purple-alt;
    }
    h2.block-title {
      padding: 0 0 30px;
      border-bottom: 3px solid $purple-alt;
      text-align: center;
      text-transform: uppercase;
      font-family: $open-sans-condensed;
      font-size: 26px;
      font-weight: $fw-normal;
      letter-spacing: 1px;
      line-height: 1.5;
      color: $purple-alt;
      @include breakpoint(768px) {
        margin-top: 35px;
        padding: 0;
        text-align: left;
        font-size: 16px;
        border-bottom: 3px solid $purple-alt;
      }
    }
    //Get involved block
    .view-get-involved .views-row {
      margin: 10px 0;
      border-bottom: 1px solid $purple-alt;
      padding-bottom: 20px;
      &.views-row-last {
        border-bottom: 0;
        margin-bottom: 0;
      }
      .views-field-title {
        margin: 0 0 15px;
        font-size: 20px;
        @include breakpoint(768px) {
          font-size: 16px;
        }
      }
      .views-field-title a {
        font-family: $open-sans-condensed;
        font-weight: $fw-normal;
        letter-spacing: 1px;
        color: $purple;
        text-transform: uppercase;
        // &:before {
        //           content: ">> ";
        //           color: $purple-alt;
        //           font-size: 10px;
        //           margin-left: -19px;
        //           position: relative;
        //           top: -2px;
        //         }
     
      }
      .views-field-field-image img {
        width: 100%;
        margin: 5px 0;
      }
      .views-more-link {
        font-family: $open-sans-condensed;
        display: block;
        width: 60px;
        margin: 10px auto 0 auto;
        text-align: center;
        padding: 11px 40px 8px 40px;
        background: $purple-primary;
        clear: both;
        color: #fff;
        text-transform: uppercase;
        font-size: 18px;
        &:hover {
          background: $purple;
        }
        @include breakpoint(768px) {
          width: auto;
          padding: 0;
          margin: 0;
          display: block;
          text-align: right;
          background: none;
          text-transform: none;
          color: $purple-primary;
          font-size: 13px;
          &:hover {
            background: none;
          }
        }
      }
    }
  }
}

//Program node page with Activites
.node-project.node-by-viewer {
  color: #5d5c5c;
  .file-image {
    width: 100%;
    max-height: 400px;
    overflow-y: hidden;
    img {
      width: 100%;
    }
  }
  .field-name-body {
    margin-top: 30px;
  }
}

#block-views-activities-block {
  margin-top: 25px;
  border-top: solid 2px $purple-alt;
  h2.block-title {
    font-family: $open-sans-condensed;
    font-size: 36px;
    color: $purple-alt;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 25px 0 15px;
  }
  .view-activities {
    .view-content {
      margin-top: 0;
    }
    .views-row .views-field-field-image {
      height: auto;
    }
    .views-row .views-field-title {
      margin: 10px 0;
      text-align: center;
      a {
        color: $purple-alt;
      }
    }
    .views-row .views-field-body {
      color: #5d5c5c;
    }
    .views-row .views-field-title-1 {
      text-align: right;
      a {
        margin-top: 10px;
        // font-family: $open-sans-condensed;
        //         font-size: 12;
        //         font-weight: 300;
        //         text-transform: uppercase;
        //         letter-spacing: 1px;
        //         background-color: #d19fc0;
        //         padding: 5px 20px;
        //         color: white;
     
      }
    }
  }
}

//Other Projects and Campaigns block of node page
.node-type-project {
  .sidebars {
    padding: 0 15px;
    box-sizing: border-box;
    margin-top: 20px;
    .region-sidebar-second {
      border: 1px solid $purple-primary;
      box-sizing: border-box;
      padding: 10px 15px 80px;
    }
    .view-content {
      border-bottom: 0;
    }
    h2.block-title {
      font-size: 18px;
      border-bottom: 3px solid $purple-primary;
    }
    .views-field-title {
      padding: 15px 0;
      a {
        font-family: $open-sans-condensed;
        font-size: 16px;
        font-weight: $fw-normal;
        letter-spacing: 1px;
        color: $purple-primary;
        text-transform: uppercase;
      }
    }
    .views-row {
      border-bottom: 3px solid $purple-primary;
      padding-bottom: 20px;
      .views-field-field-image {
        margin-bottom: 10px;
        img {
          width: 100%;
        }
      }
      .views-field-body {
        color: $grey-medium;
        line-height: 1.8;
      }
    }
  }
}

//Node page
.node-type-project {
  .node-project {
    .field-type-image {
      margin-bottom: 30px;
      overflow-y: hidden;
      height: 400px;
      @media (max-width: $max-width) {
        height: auto;
      }
      
      img {
        width: 100%;
      }
    }
  }
}