/*
  Program page and node page
*/

.page-programs,
.node-type-project {
  #content {
    width: 100%;
    margin: 0;
    @include breakpoint($breakpoint) {
      @include zen-grid-item(8, 1);
      padding-right: 15px;
    }
  }
  .sidebars {
    width: 100%;
    margin: 0;
    
    @include breakpoint($breakpoint) {
      @include zen-grid-item(4, 1);
      margin: 0;
      float: right;
    }
    
    @media (min-width: $desktop) {
      padding-left: 15px;
      box-sizing: border-box;
    }
  }
  .region-sidebar-second {
    margin: 0;
    width: 100%;
  }
  //main content
  #content .view-content {
    //margin-top: 40px;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    
    .views-row {
      width: 100%;
      flex-grow: 0;
      -webkit-flex-grow: 0;
      border-top: 3px solid $purple-primary;
      //padding-bottom: 20px;
      margin: 0 0 20px 0;
      @include breakpoint($breakpoint) {
        width: 48%;
        margin: 0 2% 20px;
        &.views-row-first,
        &:nth-child(2n+1) {
          margin-left: 0;
        }
        &.views-row-last,
        &:nth-child(2n+2) {
          margin-right: 0;
        }
        &.views-row-first.views-row-last {
          max-width: 50%;
        }
      }
    }
    // @media (max-width: 1169px) {
    //      .views-row {
    //        flex-grow: 1;
    //        -webkit-flex-grow: 1;
    //        margin-left: 0;
    //        margin-right: 0;
    //        width: 100%;
    //      }
    //    }
    .views-field-title {
      font-family: $open-sans-condensed;
      font-size: 16px;
      line-height: 1.2;
      font-weight: $fw-normal;
      margin-bottom: 10px;
      height: 50px;
      padding-top: 4px;

      a {
        color: $purple-primary;
        text-transform: uppercase;
        line-height: 1.5;
        letter-spacing: 1px;
      }
    }
    .views-field-field-image {
      img {
        width: 100%;
        height: auto;
      }
    }
    .views-field-body {
      color: $grey-darker;
      line-height: 1.3;
      margin: 10px 0 0;
    }
    .views-field-title-1 {
      a {
        @include readmore;
      }
    }
  }
  //side bar
  .sidebars {
    h2.block-title {
      padding: 0 0 30px;
      border-bottom: 3px solid $purple-alt;
      text-align: center;
      text-transform: uppercase;
      font-family: $open-sans-condensed;
      font-size: 26px;
      font-weight: $fw-normal;
      letter-spacing: 1px;
      line-height: 1.5;
      color: $purple-alt;
      @include breakpoint($breakpoint) {
        margin-top: 25px;
        padding: 0;
        text-align: left;
        font-size: 16px;
        border-bottom: 3px solid $purple-alt;
      }
    }
    //Get involved block
    .view-get-involved .views-row {
      
      .views-more-link {
        @include readmore;
      }
    }
  }
}

//Program node page with Activites
.node-project,
.node-activity {
  .field-type-image img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .field-label {
    font-family: $open-sans-condensed;
    font-size: 18px;
    text-transform: uppercase;
    color: $purple-alt;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }
}

.node-activity .field-type-image {
  margin: 0 0 20px;
}

.node-activity .field-name-field-program {
  padding: 20px 0 0 0;
  margin: 60px 0 20px;
  border-top: 3px solid $purple-primary;
  div {
    //display: inline-block;
  }
  
  .field-item  {
    display: block;
    a {
      color: $purple-primary;
      &:hover {text-decoration: underline;}
    }
  }
}

.node-activity.node-by-viewer {
  a.forward-page,
  .field-name-field-activity-map-record a {
    color: $purple-primary;
    &:hover {text-decoration: underline;}
  }
} 

.node-project.node-by-viewer {
  color: #5d5c5c;
  .file-image {
    border-top: 3px solid $purple-primary;
    width: 100%;
    max-height: 400px;
    overflow-y: hidden;
    img {
      width: 100%;
    }
  }
  .field-name-body {
    margin-top: 30px;
  }
}

#block-views-activities-block {
  margin-top: 25px;
  border-top: solid 2px $purple-primary;
  h2.block-title {
    font-family: $open-sans-condensed;
    font-size: 36px;
    color: $purple-alt;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 25px 0 15px;
    
    @media (max-width: $breakpoint) {
      text-align: center;
    }
  }
  .view-activities {
    .view-content {
      margin-top: 0;
    }
    .views-row .views-field-field-image {
      height: auto;
    }
    .views-row .views-field-title {
      margin: 10px 0;
      text-align: center;
      a {
        color: $purple-alt;
      }
    }
    .views-row .views-field-body {
      color: #5d5c5c;
    }
  }
}

//Sidebar - Other Projects and Campaigns block of node page
.page-programs,
.node-type-project {
  .sidebars {
    padding: 0 0 0 15px;
    
    .block.block-views {
      margin-bottom: 0;
    }
    
    @media (max-width: $desktop) {
      padding-right: 15px;
    }
       
    @media (max-width: $breakpoint) {
      padding: 0 30px;
    }
    box-sizing: border-box;
    //margin-top: 20px;
    .region-sidebar-second {
      border: 1px solid $purple-primary;
      box-sizing: border-box;
      padding: 10px 15px 20px;
      @media (max-width: $breakpoint) {
        padding: 20px 30px;
      }
    }
    .view-content {
      border-bottom: 0;
    }
    h2.block-title {
      font-size: 18px;
      border-bottom: 3px solid $purple-primary;
      @media (max-width: $breakpoint) {
        font-size: 28px;
        padding-bottom: 15px;
      }
    }
    .views-field-title {
      padding: 15px 0 8px;
      a {
        font-family: $open-sans-condensed;
        font-size: 16px;
        font-weight: $fw-normal;
        letter-spacing: 1px;
        color: $purple-primary;
        text-transform: uppercase;
      }
    }
    .views-row {
      border-bottom: 3px solid $purple-primary;
      padding-bottom: 15px;
      &.views-row-last {
        border-bottom: none;
      }
      .views-field-field-image {
        margin-bottom: 10px;
        @media (max-width: $breakpoint) {
          margin-left: -30px;
          margin-right: -30px;
        }
        img {
          width: 100%;
        }
      }
      .views-field-body {
        color: $grey-medium;
        line-height: 1.5;
      }
      
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

//Node page
.node-type-project {
  .node-project {
    .field-type-image {
      margin-bottom: 20px;
      overflow-y: hidden;
      height: 400px;
      @media (max-width: $max-width) {
        height: auto;
      }
      @media (max-width: $breakpoint) {
        margin: 0 -30px;
      }
      img {
        width: 100%;
      }
    }
  }
}