/*
  Take action landing page and node page
*/


.page-get-involved {
  .view-content {
    width: 100%;
    margin: 0 auto;
   
    .views-row {
      padding: 0 0 50px;
      clear: both;
      @media (max-width: 480px) {
        text-align: center;
      }
      
      .views-field-field-image {
        display: inline-block;
        float: left;
        width: 100px;
        padding-bottom: 50px;
        
        @media (max-width: 480px) {
          float: none;
          width: 70px;
          margin: 0 auto;
          padding-bottom: 20px;
        }
        
        img {
          width: auto;
          height:70px;
          margin-right: 20px;
          @media (max-width: 480px) {
           margin-right: 0;
          }
        }
      }
      
      .views-field-title a {
        font-family: $open-sans-condensed;
        font-size: 22px;
        color: $purple-alt;
        padding-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      
      .views-field-body {
        margin-top: 10px;
        margin-left: 100px;
        
        a {
          color: $purple-primary;

          &:hover {
            text-decoration: underline;
          }
        }
        
        @media (max-width: 480px) {
          margin-left: 0;
        }
      }
    }
     
  }
  
  .view-get-involved {
    margin-top: 20px;
  }
}


//Node page
.node-get-involved {
  width: 100%;
  margin: 0 auto;
  .field-name-field-image {
    float: left;
    width: 144px;
    height: auto;
    margin-right: 30px;
    
    @media (max-width: 480px) {
      float: none;
      text-align: center;
      margin: 0 auto 20px;
    }
  }
  
  .field-name-body {
    display: table;
    
    a {
      color: $purple-primary;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.node-activity {
  margin-bottom: 20px;
  a {
    color: $purple-primary;
    
    &:hover {
      text-decoration: underline;
    }
  }
}