/*
  Take action landing page and node page
*/


.page-get-involved {
  .view-content {
    width: 100%;
    margin: 0 auto;
   
    .views-row {
      padding: 0 0 50px;
      clear: both;
      @media (max-width: 480px) {
        text-align: center;
      }
      
      .views-field-field-image {
        display: inline-block;
        float: left;
        width: 100px;
        padding-bottom: 50px;
        
        @media (max-width: 480px) {
          float: none;
          width: 70px;
          margin: 0 auto;
          padding-bottom: 20px;
        }
        
        img {
          width: auto;
          height:70px;
          margin-right: 20px;
          @media (max-width: 480px) {
           margin-right: 0;
          }
        }
      }
      
      .views-field-title a {
        font-family: $open-sans-condensed;
        font-size: 22px;
        color: $purple-alt;
        padding-bottom: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
      
      .views-field-body {
        margin-top: 10px;
        margin-left: 100px;
        
        a {
          color: $purple-primary;

          &:hover {
            text-decoration: underline;
          }
        }
        
        @media (max-width: 480px) {
          margin-left: 0;
        }
      }
    }
     
  }
  
  .view-get-involved {
    margin-top: 20px;
    
    .views-more-link {
      @include readmore;
    }
  }
}


//Node page
.node-get-involved {
  width: 100%;
  margin: 0 auto;
  .field-name-field-image {
    float: left;
    width: 144px;
    height: auto;
    margin-right: 30px;
    
    @media (max-width: 480px) {
      float: none;
      text-align: center;
      margin: 0 auto 20px;
    }
  }
  
  .field-name-body {
    display: table;
    
    a {
      color: $purple-primary;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//Donate button
.node-type-get-involved {
  #block-bean-donate {
    margin-left: 174px;
    
    @media (max-width: 480px) {
      margin-left: 0;
    }
    
    .entity-bean {
      text-align: center;
    }
    .field-item a {
      @include btn;
      float: none;
      line-height: 30px;
      width: 120px;
      display: block;
      margin: 0 auto;
    }
  }
}

// Node activites page
.node-type-activity {
  #content {
    width: 100%;
    margin: 0;
    @include breakpoint($breakpoint) {
      @include zen-grid-item(8, 1);
      padding-right: 15px;
    }
  }
  .sidebars {
    width: 100%;
    margin: 0;
    
    @include breakpoint($breakpoint) {
      @include zen-grid-item(4, 1);
      margin: 0;
      float: right;
    }
    
    @media (min-width: $desktop) {
      padding-left: 15px;
      box-sizing: border-box;
    }
    
    .region-sidebar-second {
      width: 100%;
      margin: 0;
    }
    
    .region-sidebar-second .block-views {
      background-color: $undefinedebb;
      padding: 15px;
      text-transform: uppercase;
      border-bottom: 1px solid $grey-clear;
      
      h2.block-title {
        font-family: "Open Sans Condensed",sans-serif;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
        color: $purple-primary;
        margin: 5px 0 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $grey-clear;
      }
    }
    
    a {
      font-family: "Open Sans Condensed",sans-serif;
      color: $purple-primary;
      margin: 10px 0;
      display: block;
      &.active, &:hover {
        color: $purple-alt;
      }
    }
  }
}
.node-activity {
  margin-bottom: 20px;
  a {
    color: $purple-primary;
    
    &:hover {
      text-decoration: underline;
    }
  }
}