/*
  Team page
*/
.view-team {
  .view-filters {
    background-color: #f7f6f5;
    padding: 5px 10px 10px;
    margin: 10px 0 25px;
    justify-content: center;
    width: 100%;
    display: block;
    @include border-top-left-radius(3px);
    @include border-top-right-radius(3px);
    @include box-shadow(0px 2px 1px 0px rgba(black,0.24));
    @include breakpoint(768px) {
      display: flex;
      display: -webkit-flex;
      margin: 10px auto 25px;
      padding: 5px 30px 10px;
    }
    label {
      text-transform: uppercase;
      font-family: $open-sans-condensed;
      font-size: 12px;
      color: #ce9bc0;
    }
    .views-exposed-widget {
      padding-right: 0;
      @include breakpoint(768px) {
        padding-right: 1em;
      }
    }
    .views-widget-filter-keys,
    .views-widget-filter-field_team_member_type_tid {
      display: block;
      clear: both;
      width: 100%;
      @include breakpoint(768px) {
        display: inline-block;
        width: inherit;
        clear: none;
      }
    }
    .form-type-textfield input,
    .form-type-select select {
      width: 100%;
      background-color: #fff;
      border: 1px solid #ccc;
      @include border-radius(3px);
      @include breakpoint(768px) {
        width: 330px;
        height: 28px;
      }
      
      @media (max-width: 1044px) and (min-width: 767px){
        width: 180px;
      }
    }
    .ajax-progress {
      position: absolute;
    }
  }
  .view-content {
    margin: 0 -1%;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    margin-bottom: 20px;
    //justify-content: space-between;
    //-webkit-justify-content: space-between;
    .views-row {
      width: 100%;
      flex-grow: 0;
       -webkit-flex-grow: 0;
      // max-width: 370px;
      //border-top: 3px solid #ce9bc0;
      border: 1px solid #ccc;
      padding: 20px;
      margin-bottom: 20px;
      @include breakpoint($breakpoint) {
        width: 31.3%;
        margin: 20px 1% 0 1%;
        justify-content: space-between;
        -webkit-justify-content: space-between;
      }
      
      .views-field-field-team-member-type {
        display: none;
      }
      .views-field-field-team-image {
        max-height: 226px;
        overflow: hidden;
        img {
          height: auto;
          width: 100%;
        }
      }
      .views-field-title {
        margin-top: 15px;
        a {
          color: #ce9bc0;
          font-family: $open-sans-condensed;
          font-size: 24px;
          line-height: 1em;
        }
      }
      .views-field-field-team-title {
        color: #ce9bc0;
        font-family: $open-sans-condensed;
        font-size: 18px;
      }
      .views-field-field-team-bio {
        margin-top: 20px;
      }
      .views-field-view-node {
        a {
          @include readmore;
        }
      }
    }
  }
  
  //button style
  .views-exposed-form {
    .form-submit {
      @include second-btn;
      margin: 20px 20px 0 0;
      width: 120px; 
      @include breakpoint($breakpoint) {
        margin: 20px 0 0;
      }
    }
    
    .views-submit-button,
    .views-reset-button {
      float: right;
      margin-left: 15px;
    }
    
    .views-submit-button .form-submit {
      @include btn;
      margin-right: 0;
    }
    
    .views-reset-button .form-submit {
      margin-right: 0;
    }
  }
  .view-filters .views-exposed-widget.views-reset-button {
    padding-right: 0;
  }
  
  .view-content {
    h3 {
      font-family: $open-sans-condensed;
      font-size: 30px;
      font-weight: $fw-semi-bold;
      letter-spacing: 1px;
      line-height: 1;
      color: $purple;
      text-transform: uppercase;
      width: 100%;
      margin: 10px 0;
      margin-left: 1%;
      @include breakpoint($breakpoint) {
        margin-top: 1em;
      }
      
      a:link, a:visited {
        color: $purple-primary;
      }
    }
    h3:last-child {
      display: none;
    }
    
    .views-field-field-team-member-type a {
      font-family: $open-sans-condensed;
      font-style: italic;
      font-size: 16px;
      color: #999;
    }
  }
}

//Team node page
.node-team {
  border-top: 3px solid $purple-primary;
  padding-top: 20px;
  
  .field-name-field-team-image {
    display: block;
    margin-right: 0;
    margin-bottom: 15px;
    float: none;
    
    img {width: 100%;}
    
    @include breakpoint($breakpoint) {
      display: block;
      margin-right: 20px;
      float: left;
      
      img {width: auto;}
    }
  }
  
  .field-group-format  {
    margin-left: 0;
    
    @include breakpoint($breakpoint) {
      margin-left: 250px;
    }
  }
  
  .field-name-field-name {
    font-family: $open-sans-condensed;
    font-size: 24px;
  }
  
  .field-name-field-team-member-type a,
  .field-name-field-team-title {
    font-family: $open-sans-condensed;
    font-style: italic;
    color: $silver-chalice-2;
    letter-spacing: 0.5px;
    display: inline-block;
    margin-top: 5px;
  }
  .field-name-field-team-member-type {
    display: inline-block;
  }
  .field-name-field-team-title {
    font-style: normal;
    color: $grey-dark;
  }
  
  .field-name-field-email {
    margin-top: 20px;
    
    a {
      color: $purple-primary;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .field-name-field-phone {
    margin-bottom: 20px;
    font-family: $open-sans-condensed;
    letter-spacing: 2px;
  }
}

//Taxonomy term page
.page-taxonomy-term {
  .field-name-field-name a {
    color: $grey-dark;
  }
  .field-name-field-team-bio {
    margin-top: 20px;
  }
  .node-readmore {
    float: left;
    margin-left: 10px;
     a {
      @include readmore;
    }
  }
}

.page-taxonomy-term {
  a.feed-icon {
    display: none;
  }
}

.team-content-container2 { 
  clear: left;
  float: left;
  width: 100%;
}

.team-content-container1 { 
  float: left;
  width: 100%;
  position: relative;
  right: 50%;
}

.team-content-image {
  float: left;
  width: 20%;
  position: relative;
  left: 52%;
}

.team-content-content {
  float: left;
  width: 80%;
  position: relative;
  left: 52%;
}

.back-to-team {
  border-style: solid;
  border-top: thick double #ce9bc0;
}