/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

body {
  a {

  }
  #header{
    margin-top: 40px;
    #name-and-slogan{
      .header__site-name{
        display: none;
      }
    }
    .header__region{
      clear: none;
      #block-menu-menu-meta{
        display: none;
      }
    }
    .header_links{
      border-bottom: 1px solid $awp_grey;
      padding-bottom: 15px;
      margin-bottom: 15px;
      overflow: hidden;
      .site--slogan{
        float: left;
        
      }/*site--slogan*/
      .top-icons {
        float: right;
        .search_link {
          float: left;
          border-right: 1px solid $awp_grey;
          padding-right: 10px;
          margin-right: 10px;
          a.link-icon {
            font-size: 0;
            width: 25px;
            height: 25px;
            display: block;
            float: left;
            background: url("../images/header/search-icon.png") 0 0 no-repeat;
          }
          form {
            display: none;
          }
        }
        /*saertch-link*/
        .social-block {
          float: left;
          .menu {
            margin: 0;
            overflow: hidden;
            padding: 0;
            li {
              list-style: none;
              float: left;
              a {
                display: block;
                width: 25px;
                height: 25px;
                font-size: 0;
              }
              &.first {
                a {
                  background: url("../images/header/facebook-icon.png") 0 0 no-repeat;
                }
              }
              &.last {
                a {
                  background: url("../images/header/twitter-icon.png") 0 0 no-repeat;
                }
              }
            }
          }
        }
        /*social-block*/
      }/*top-icon*/
    }/*header-links*/
    #block-locale-language{
      float: left;
      width: 15%;
      ul{
        padding: 0;
        margin: 0;
        overflow: hidden;
        li{
          list-style: none;
          float: left;
          a{
            color: #000000;
            font-size: 14px;
            text-transform: uppercase;
          }
        }
      }
    }/*#block-locale-language*/
    #block-superfish-1{
      width: 80%;
      float:right;
      ul#superfish-1{
        & > li{
          background: none;
          & > a{
            color: $awp_grey;
            text-decoration: none;
            border-right: 1px solid $awp_grey;
            text-transform: uppercase;
            padding: 0 1em;
          }
        }
      }
    }/*block-superfish-1*/
  }/*header*/
}