/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */



/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

body {
  font-family: $font-body;
  color: $awp-black;
  line-height: 1.2;
  font-weight: 300;
  font-size: 20px;
  :focus{
    border: 0; /**remove browser default border*/
  }
  a {
    text-decoration: none;

  }
  p{
    margin: 0.5em 0;

  }

  .links.inline {
    .forward_link{
      display: none;
    }
  }
  #block-block-6{/*contact Button*/
    color: #3F3F3F;
    font-size: 22px;
    font-weight: 100;
    margin: 0 50px;
    .awp-btn{
      margin: 0 20px;
      border: 1px solid #ccc;
      padding: 0px 40px;
      color: #3F3F3F;
    }
  }

  #page{
    background: url("../images/awp_bg.jpg") bottom center no-repeat;
    background-size: 100% auto;
  }
  #header{
    margin-top: 40px;
    #name-and-slogan{
      .header__site-name{
        display: none;
      }
    }
    .header__region{
      clear: none;
      #block-menu-menu-meta{
        display: none;
      }
    }
    .header_links{
      margin-top: 20px;
      padding-top: 1px;
      border-bottom: 1px solid $awp_grey;
      padding-bottom: 15px;
      margin-bottom: 15px;
      overflow: hidden;
      .site--slogan{
        float: left;
        font-weight: normal;
        font-weight: lighter;
        padding-left: 20px;
        color: $awp_grey;

      }/*site--slogan*/
      .top-icons {
        float: right;
        @import "../images/header/*.png";
        @include all-header-sprites;
        .search_link {
          float: left;
          border-right: 1px solid $awp_grey;
          padding-right: 10px;
          margin-right: 10px;
          position: relative;
          a.link-icon {
            font-size: 0;
            width: 25px;
            height: 25px;
            display: block;
            float: right;
            background: url("../images/header/search-icon.png") 0 0 no-repeat;
          }
          form {
            display: none;
            position: absolute;
            right: 5px;
            top: 0;
            .form-text{
              background: none;
              border: 1px solid $awp-light-grey;
              padding: 3px 25px;
              margin-top: -1px;
            }
            .form-actions{
              display: none;
            }
          }
        }
        /*saertch-link*/
        .social-block {
          float: left;
          .menu {
            margin: 0;
            overflow: hidden;
            padding: 0;
            li {
              list-style: none;
              float: left;
              margin-right: 10px;
              a {
                display: block;
                width: 25px;
                height: 25px;
                font-size: 0;
                background-image: url('../images/header-s7372912646.png');
                background-repeat: no-repeat;
              }

              &.first {
                a {
                  background-position: 0 -25px;
                  &:hover{
                    background-position: 0 0;
                  }
                }
              }
              a {
                background-position: 0 -125px;
                &:hover{
                  background-position: 0 -100px;
                }
              }

              &.last {
                a {
                  background-position: 0 -175px;
                  &:hover{
                    background-position: 0 -150px;
                  }
                }
              }
            }
          }
        }
        /*social-block*/
      }/*top-icon*/
    }/*header-links*/
    #block-locale-language,
    .lang-block{
      float: left;
      padding-left: 20px;
      margin-top: 5px;
      ul{
        padding: 0;
        margin: 0;
        overflow: hidden;
        li{
          list-style: none;
          float: left;
          &.first{
            margin-right: 10px;
          }
          &.en{

          }
          &.ar{

          }
          a{
            color: #000000;
            font-size: 16px;
            text-transform: uppercase;
            padding: 2px;
            font-family: $font-body;
            font-weight: normal;
            text-decoration: none;
            &.active,
            &:hover{
              color: $awp-red;
              //background: #000;
            }
          }
        }
      }
    }/*#block-locale-language*/
    #block-superfish-1{

      ul#superfish-1{
        & > li{
          background: none;
          & > a{
            color: $awp_grey;
            text-decoration: none;
            border-right: 1px solid $awp_grey;
            border-top: 0;
            text-transform: uppercase;
            padding: 0 1em;
            &:hover,&.active, &.active-trail{
              background: none;
              color: $awp-red;
            }
          }
          &.last{
            & > a{
              border: 0;
            }
          }
          a{
            font-family: $font-sans;
            mso-ansi-font-weight: normal;
            font-weight: lighter;
          }
          ul{
            background: #ffffff;
            border-bottom: 3px solid $awp-red;
            @include rounded(0);
            li{
              background: none;
              a{
                color: $awp-black;
                border-top: 1px solid $awp_grey;
                display: block;
                width: 70% !important;
                margin: 0 auto;
                background: none !important;
                &:hover{
                  color: $awp-red;
                }
              }
            }
          }
          }
        }
        }/*& > li *.
      }
    }/*block-superfish-1*/
  }/*header*/
  &.front{
    #content{
      width: 1080px;
      position: relative;
      margin: 0 auto;
      margin-top: -12px;
    }
    #main{
      padding-top: 5px;
    }
    .view-awp-front-page-slideshow{
      position: relative;
      overflow: hidden;
      .views-row{
        .views-field-field-image{
          img{
            max-width: 100%;
            height: auto;
          }
        }/*views-field-field-image*/
        .views-field-title{
          position: absolute;
          background: url("../images/homepage/slider-white.png") 0 0 no-repeat;
          background-size: 100% 100%;
          display: block;
          width: 490px;
          top: 170px;
          left: 0;
          padding: 0px 150px;
          height: 320px;
          overflow: hidden;
          .field-content{
            font-size: 70px;
            font-weight: 600;
            color: $awp-black;
            display: table-cell;
            vertical-align: middle;
            padding: 20px 0;
            a{
              font-size: 70px;
              font-weight: 600;
              color: $awp-black;
            }
          }
        }/*views-field-title*/
        .views-field-field-description{
          display: none;
        }
      }/*views-row*/
      .views-slideshow-controls-bottom{
        position: absolute;
        z-index: 9;
        .views-slideshow-controls-text-pause{
          display: none;
        }
        .views-slideshow-controls-text-previous,
        .views-slideshow-controls-text-next{
          float: left;
          margin-left: 2%;
          a{
            display: block;
            font-size: 0;
            background: url("../images/homepage/slider-arrows.png") 0 0 no-repeat;
            width: 42px;
            height: 63px;
          }
        }
        .views-slideshow-controls-text-next{
          float: right;
          margin-right: 2%;
          a{
            background: url("../images/homepage/slider-arrows.png") -42px 0 no-repeat;
          }
        }

      }/*views-slideshow-controls-bottom*/
    }/*view-awp-front-page-slideshow*/

    #block-block-2 {
      width: 100%;
      float: left;
      clear: both;
      margin-bottom: 0;

    }


    #block-views-3035a87eee3a51153d184d85d17cc285 {

      .view-glimpses-of-daily-life-in-gaza {
        .views-row{
          overflow: hidden;
          clear: both;
          margin-bottom: 20px;
          background: url("../images/border.png") right bottom no-repeat;
          background-size: 55% 1px;
          .views-field-field-image{
            float: left;
            margin-right: 2%;
            width: 42%;
            img{
              width: 100%;
              height: auto;
            }
          }
          .views-field-title{
            float: left;
            clear: right;
            font-size: 40px;
            margin-top: 30px;
            margin-bottom: 10px;
            font-weight: 600;
            color: $awp-black;
            a{
              color: $awp-black;
            }
          }
          .views-field-field-article-date{
            color: #807F83;
            font-size: 22px;
            font-weight: 100;
            float: left;
            clear: right;
            margin-bottom: 5px;
          }
          .views-field-body{
            float: left;
            clear: right;
            font-size: 27px;
            font-weight: 100;
            .field-content{
              .views-more-link{
                color: $awp-green;
                font-weight: 100;
                font-size: 20px;
              }
            }
            .fb-share-button{
              margin: 0 5px;
              span{
                vertical-align: middle !important;
                height: 33px !important;
              }
            }
          }
        }
      }
      /*view-glimpses-of-daily-life-in-gaza*/
    }
    #block-views-front-page-tweets-block{
      background: rgba(225,247,253,0.8);
      @include rounded();
      height: 420px;
      padding: 2%;
      .view-header{
        color: #807F83;
        padding-left: 3.5vw;
        font-size: 2vw;
        font-weight: normal;
        background: url("../images/homepage/feed-icon.png") left center no-repeat;
        margin-bottom: 30px;
        background-size: auto 100%;
        height: 2.5vw;

        padding-left: 50px;
        font-size: 55px;
        font-weight: normal;
        background: url("../images/homepage/feed-icon.png") left 20px no-repeat;
        margin-bottom: 30px;
        background-size: auto 30px;
        height: 55px;
        overflow: hidden;



      }
      ul,
      .views-slideshow-cycle-main-frame{
        li,
        .views-slideshow-cycle-main-frame-row{
          margin-bottom: 25px;
          border-bottom: 1px solid $awp-white;
          padding-bottom: 10px;
          .views-field-text {
            color: $awp-black;
            list-style: none;

            margin-bottom: 10px;
          }
          .views-field-created-time {
            color: $awp-green;
          }
        }
      }
      .views-slideshow-controls-bottom {
        .views-slideshow-controls-text-pause{
          display: none;
        }
        .views-slideshow-controls-text-previous,
        .views-slideshow-controls-text-next{
          a{
            font-size: 0;
            display: block;
            width: 37px;
            height: 37px;
            background: url("../images/d-arrow.png") center no-repeat transparent;
          }
        }
        .views-slideshow-controls-text-previous{
          display: none;
        }
      }
    }
    #block-views-global-voices-blog-block{
      height: 420px;
      background: #F0F0F0;
      padding: 2%;
      @include rounded();
      h2.block-title {
        color: #807F83;
        font-size: 55px;
        margin-bottom: 20px;
        margin-bottom: -10px;
        font-weight: normal;
        margin-top: -20px;
      }
      .view-global-voices-blog{
        .views-row{
          overflow: hidden;
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid $awp-white;
          .views-field-title{
            width: 100%;
            a{
              font-size: 1.5vw;
              color: $awp-green;
            }
            margin-bottom: 5px;
          }
          .views-field-body{
            color: $awp-grey;
          }
        }
      }
    }
    h2.block-title {
      font-size: 60px;
      font-weight: normal;
      color: $awp-green;
    }
    #block-views-4853df8e1a361dde03121dad9c7fe95f{/*fundemintalsI*/
      h2.block-title {
        margin-top: -10px;
        margin-bottom: -20px;
      }
      .view-content{
        .views-row{
          padding:10px 25px;
          background: url("../images/homepage/red-circle.png") left 10px no-repeat;
          font-size: 30px;
          padding: 0 25px;
          margin: 20px 0;
          overflow: hidden;
          .views-field-title{
            .field-content{
              color: $awp-black;
            }
          }
          .views-field-body{
            .field-content{
              a{
                padding:0 5px;
                color: $awp-green;
              }
              .fb-share-button{
                margin: 0 5px;
                span{
                  vertical-align: middle !important;
                  height: 25px !important;
                }
              }
            }
          }
        }
      }
    }
    #block-block-3{
      background: url("../images/homepage/action-bg.png") right top no-repeat transparent;
      background-size: 100% 100%;
      padding-bottom: 30px;
      position: relative;
      @include corner(0px ,0px ,0px ,210px);
      overflow: hidden;
      position: absolute;
      right: 1030px;
      .take-action-block{
        float: right;
        width: 70%;
        .action-image{
          position: absolute;
          left: -9%;
          top: 20px;
          width: 30%;
          height: 153px;
          background: url("../images/homepage/action.png") 0 0 no-repeat;
          background-size: 100% auto;
        }
        .action-text{
          width: 100%;
          float: right;
          color: $awp-white;
          text-align: center;
          margin: 10px 5%;
          .take-action-title{
            font-size: 35px;
            margin-bottom: 0px;
            font-weight: 400;
            text-align: left;
          }
          .take-action-sub-title{
            font-size: 22px;
            font-weight: 100;
            font-style: italic;
            text-align: left;
            font-weight: 300;

          }
          .action-links{
            margin-top: 30px;
            width: 145%;
            margin-left: -40%;
            a{
              margin-bottom: 0px;
              display: block;
              width: 100%;
              border: 2px solid $awp-white;
              text-align: center;
              padding: 5px 0;
              font-size: 20px;
              font-weight: 400;
              text-transform: uppercase;
              color: $awp-white;
              clear: both;
              border: 0;
              border-bottom: 1px solid #F05155;
              padding-left: 10%;
              &:hover{
                background: #DF6988;
                color: $awp-dark-grey;
              }
            }
          }
        }
      }
    }
  }/*front*/

  /***Front Block Boxes**/
  .view-aidwatch-front-page-blocks{
    margin-bottom: 40px;
    margin-top: 0px;
    border-top: 1px solid $awp-grey;
    border-bottom: 1px solid $awp-grey;
    .views-row{
      padding: 20px;
      background: $awp-white;
      height: 180px;
      &:hover{
        background: $awp-light-grey;
        .views-field-title,
        .views-field-field-text,
        .views-field-title a{
          color: $awp-white;
        }
      }
      clear: both;
      overflow: hidden;
      position: relative;
      .views-field-field-image{
        float: left;
        margin-right: 25px;
        margin-bottom: 30px;
      }
      .views-field-title{
        position: absolute;
        bottom: 50px;
        width: 100%;
        left: 0%;
        text-align: center;
        font-size: 18px;
        color: $awp-grey;
        a{
          font-size: 18px;
          color: $awp-grey;
        }
      }
      .views-field-field-text{
        font-size: 55px;
        font-weight: 600;
        color: $awp-dark-grey;
        &.big{
          font-size: 70px;
        }
      }
      .comments{
        font-size: 16px;
        margin: 0;
        font-style: italic;
      }
      .views-field-title-1{
        display: none;
        position: absolute;
        bottom: 15px;
        left: 35%;
        a{
          color: $awp-white;
          font-size: 14px;
          line-height: 1.2;
          border: 1px solid $awp-white;
          padding: 2px 25px;

        }
      }
      &:hover{
        .views-field-title-1{
          display: block;
        }
      }
    }/*views-row*/
    &.view-display-id-block_2{/*right*/
      .views-row{
        &.views-row-odd{
          background: $awp-light-grey;
          &:hover{
            background: $awp-white;
            .views-field-title-1 a{
              color: $awp-light-grey;
              border-color: $awp-light-grey;
            }
          }
        }
      }
    }
    &.view-display-id-block{/*center*/
      .views-row{
        &.views-row-odd{
          background: $awp-light-grey;
          &:hover{
            background: $awp-white;
            .views-field-title-1 a{
              color: $awp-white;
              border-color: $awp-white;
            }
          }
        }
      }
    }
    &.view-display-id-block_1{/*left*/
      .views-row{
        &.views-row-odd{
          background: $awp-light-grey;
          &:hover{
            background: $awp-white;
            .views-field-title-1 a{
              color: $awp-light-grey;
              border-color: $awp-light-grey;
            }
          }
        }
      }
    }
    &.f-left-block{
      .views-row{
        &:hover{
          img{
            -webkit-filter: saturate(33333333%);
          }
          &.views-row-first{
            background-color: $calendar-color;
          }
          &.views-row-last{
            background-color: $trucks-color;
          }
        }

      }
    }
    &.f-center-block{
      .views-row{
        &:hover{
          img{
            -webkit-filter: saturate(33333333%);
          }
          &.views-row-first{
            background-color: $people-color;
          }
          &.views-row-last{
            background-color: $money-color;
          }
        }

      }
    }
    &.f-right-block{
      .views-row{
        &:hover{
          img{
            -webkit-filter: saturate(33333333%);
          }
          &.views-row-first{
            background-color: $temp-color;
          }
          &.views-row-last{
            background-color: $rebuilt-color;
          }
        }

      }
    }

  }/*view-aidwatch-front-page-blocks(*/

  /***Boxes fron block**/



  &.node-type-take-actions{
    #page{
      background: none;
    }
    .region-highlighted {
      position: relative;
      #block-block-3{
        background: url("../images/homepage/action-bg.png") right top no-repeat transparent;
        background-size: 100% 100%;
        padding-bottom: 30px;
        position: relative;

        height: 46%;
        position: absolute;
        right: 0;
        bottom: -56%;
        overflow: hidden;
        width: 400px;
        z-index: 9;

        .take-action-block{
          float: right;
          width: 70%;
          .action-image{
            position: absolute;
            left: -9%;
            top: 20px;
            width: 30%;
            height: 153px;
            background: url("../images/homepage/action.png") 0 0 no-repeat;
            background-size: 100% auto;
          }
          .action-text{
            width: 100%;
            float: right;
            color: $awp-white;
            text-align: center;
            margin: 10px 5%;
            .take-action-title{
              font-size: 35px;
              margin-bottom: 10px;
              font-weight: 400;
            }
            .take-action-sub-title{
              font-size: 20px;
              font-weight: 100;
              font-style: italic;
            }
            .action-links{
              margin-top: 30px;
              width: 115%;
              margin-left: -10%;
              a{
                margin-bottom: 10px;
                display: block;
                width: 100%;
                border: 2px solid $awp-white;
                text-align: center;
                padding: 5px 0;
                font-size: 1vw;
                font-weight: 400;
                text-transform: uppercase;
                color: $awp-white;
                clear: both;
                border: 0;
                border-bottom: 1px solid #F05155;
                &:hover{
                  background: #DF6988;
                  color: $awp-dark-grey;
                }
              }
            }
          }
        }
      }/*block-3*/
    }
    #page-title.page__title{
      margin-bottom: 10px;
      margin-left: 20px;
    }
    .node-take-actions{
      margin-left: 5%;
      width: 50%;
      p{
        margin: 0;
      }
    }
    .field-name-field-sub-title{
      color: $awp-dark-grey;
      font-size: 2.5vw;
      margin-bottom: 20px;
    }
    .view-take-actions{
      background: url("../images/take-action/action-bg.jpg") right top no-repeat;
      background-size: 100% auto;
      margin-top: 50px;
      .views-row{
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $awp-light-grey;
        clear: both;
        overflow: hidden;
        width: 70%;
        margin-left: 5%;
        padding-left: 1%;
        background: url("../images/take-action/row-bg-white.png") left top;
        background-size: 100% 100%;
        .field-name-field-row-title{
          margin: 10px 0;
          font-size: 2vw;
          font-weight: bold;
          color: $awp_black;
        }
        &.views-row-first{
          .field-name-field-row-title{
            padding: 20px 80px;
            background: url("../images/run-icon.png") 0 0 no-repeat;
          }
        }
        .field-name-field-row-body{
          font-size: 1.5vw;
          color: $awp-dark-grey;
          margin-bottom: 10px;
          font-weight: normal;
        }
        .field-name-field-row-link{
          font-weight: 100;
          font-size: 1.5vw;
          a{
            color: $awp-green;
          }
        }
        &:hover{
          background: url("../images/take-action/row-bg-grey.png") left top;
          background-size: 100% 100%;
        }
      }/*row*/

    }/*view-take-actions*/
  }/*node-type-take-action*/

  &.node-type-project{
    #main{
      background: $awp-white;
      .node-project{
        padding: 0 5%;

      }
    }
    #block-block-4{
      z-index: 99;
      bottom: -138px !important;
    }
    #page-title{
      display: none;
    }
    .node-title{
      color: $awp-green;
      font-size: 60px;
      font-weight: normal;
      margin-bottom: 0;
    }
    .real-node-title{
      color: $awp_grey;
      font-size: 42px;
      font-weight: normal;
      margin-bottom: 0;
      clear: both;
      overflow: hidden;
      .title-s{
        width: 70%;
        display: block;
        float: left;

      }
      .fb-share-button{
        margin:0 10px;
          span{
            height: 37px !important;
          }
      }
    }
    .body{
      color: $awp-grey;
    }
    #comments{
      .title{
        color: $awp_grey;
        font-size: 32px;
        font-weight: normal;
        margin-bottom: 5%;
      }
    }
    .sidebars{
      .region-sidebar-second{
        margin-top: 15%;
        .view-programs-campaigns{
          .views-row{
            a{
              font-size: 22px;
              color: $awp_grey;
              font-weight: lighter;
              font-weight: 100;
              padding-bottom: 20px;
              display: block;
              margin-bottom: 20px;
              border-bottom: 1px solid #ccc;
              &.active{
                color: $awp_green;
              }
            }
            &.views-row-last{
              a{
                border: 0;
              }
            }
          }
        }
      }
    }
  }/*node-type-project*/
  &.page-comment-reply{
    .sidebars{
      .region-sidebar-second{
        margin-top: 15%;
        .view-programs-campaigns{
          .views-row{
            a{
              font-size: 22px;
              color: $awp_grey;
              font-weight: lighter;
              font-weight: 100;
              padding-bottom: 20px;
              display: block;
              margin-bottom: 20px;
              border-bottom: 1px solid #ccc;
              &.active{
                color: $awp_green;
              }
            }
            &.views-row-last{
              a{
                border: 0;
              }
            }
          }
        }
      }
    }
  }


  #footer{
    background: $awp-red;
    #block-bean-amani-powered-by{
        float: right;
      margin-right: 20px;
      margin-bottom: 0;
      .powered-by{
        color: $awp-white;
        margin: 10%;
        font-size: 11px;
        margin-bottom: 0;
        margin-left: 20%;
      }
      .credits-logo{

      }
    }
    #block-menu-menu-awp-footer-menu{
      float: left;
      margin-left: 210px;
      margin-top: 20px;
      h2.block__title{
        display: none;
      }
      .menu{
        li{
          list-style: none;
          float: left;
          margin-right: 10px;
          border-right: 1px solid $awp-white;
          padding-right: 10px;
          a{
            color: $awp-white;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 17px;
            &.top-link{
              margin-left: 40px;
              padding-left: 26px;
              background: url("../images/footer/top-arrow.png") left center no-repeat transparent;
            }
          }
          &.first{
            a{
              font-size: 0;
              display: block;
              width: 27px;
              height: 22px;
              background: url("../images/footer/home.png") 0 0 no-repeat;
            }
            border: 0;
            margin-right: 20px;
          }
          &.last{
            border: 0;
          }
        }
      }
    }
  }
  &.not-front{
    h1.page__title title, h1#page-title{
      color: $awp-green;
      font-size: 60px;
      font-weight: normal;
      margin-bottom: 5%;
      width: 800px;
    }
    .breadcrumb{
      display: none;
    }
    .region-sidebar-second{
      margin-top: 10%;
      .block-menu-block{
        ul.menu{
          li{
            list-style: none;
            border-bottom: 1px solid $awp_grey;
            padding-bottom: 13px;
            padding-top: 5px;
            a{
              color: $awp_grey;
              &.active,
              &:hover{
                color: $awp-green;
                border-bottom: 2px solid $awp_grey;
                padding-bottom: 13px;
                //background: #000;
              }
          }
          }
        }
      }
      #block-block-4{/*action block*/
        z-index: 999;
        background: url("../images/homepage/action-bg.png") right top no-repeat transparent;
        background-size: 100% 100%;
        padding-bottom: 10vw;
        position: relative;
        .take-action-block{
          float: right;
          width: 70%;
          a.over-click{
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
          }
          .action-image{
            position: absolute;
            left: -9%;
            top: 20px;
            width: 30%;
            height: 153px;
            background: url("../images/homepage/action.png") 0 0 no-repeat;
            background-size: 100% auto;
          }
          .action-text{
            width: 100%;
            float: right;
            color: $awp-white;
            text-align: center;
            margin: 10px 5%;
            .take-action-title{
              font-size: 35px;
              margin-bottom: 10px;
              font-weight: 400;
            }
            .take-action-sub-title{
              font-size: 22px;
              font-weight: 100;
              font-style: italic;
            }
            .action-links{
              margin-top: 30px;
              width: 115%;
              margin-left: -10%;
              a{
                margin-bottom: 10px;
                display: block;
                width: 100%;
                border: 2px solid $awp-white;
                text-align: center;
                padding: 5px 0;
                font-size: 1vw;
                font-weight: 400;
                text-transform: uppercase;
                color: $awp-white;
                clear: both;
                border: 0;
                border-bottom: 1px solid #F05155;
                &:hover{
                  background: #DF6988;
                  color: $awp-dark-grey;
                }
              }
            }
          }
        }
      }
    }
    #content{
      padding-bottom: 200px;
    }

    .region-highlighted{
      position: relative;
      #block-block-4{/*action block*/
        z-index: 999;
        background: url("../images/homepage/action-bg.png") right top no-repeat transparent;
        background-size: 100% 100%;
        height: 150px;
        position: absolute;
        right: 0;
        bottom: -175px;
        overflow: hidden;
        .take-action-block{
          float: right;
          width: 70%;
          a.over-click{
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
          }
          .action-image{
            position: absolute;
            left: -9%;
            top: 20px;
            width: 30%;
            height: 153px;
            background: url("../images/homepage/action.png") 0 0 no-repeat;
            background-size: 100% auto;
          }
          .action-text{
            width: 100%;
            float: right;
            color: $awp-white;
            text-align: center;
            margin: 10px 5%;
            .take-action-title{
              font-size: 35px;
              margin-bottom: 10px;
              font-weight: 400;
            }
            .take-action-sub-title{
              font-size: 22px;
              font-weight: 100;
              font-style: italic;
            }
            .action-links{
              margin-top: 30px;
              width: 115%;
              margin-left: -10%;
              a{
                margin-bottom: 10px;
                display: block;
                width: 100%;
                border: 2px solid $awp-white;
                text-align: center;
                padding: 5px 0;
                font-size: 1vw;
                font-weight: 400;
                text-transform: uppercase;
                color: $awp-white;
                clear: both;
                border: 0;
                border-bottom: 1px solid #F05155;
                &:hover{
                  background: #DF6988;
                  color: $awp-dark-grey;
                }
              }
            }
          }
        }
      }
    }

  } /*not-front*/
  &.page-node{
    article{
      li{
        padding-bottom: 15px;
        span.strong{
          clear: right;
          display: block;
        }
      }
    }
  }
  &.page-about-team,
  &.page-about-partners{
    .view-team,
    .view-partners{
      .views-row{
        overflow: hidden;
        padding-bottom: 30px;
        .views-field-title{
          margin-left: 28%;
          color: $awp-black;
          font-size: 24px;
          a{
            color: $awp-black;
            font-size: 24px;
          }
        }

        .views-field-field-team-image,
        .views-field-field-image{
          float: left;
          margin-right: 20px;
          width: 28%;
        }
        .views-field-view-node,
        .views-field-title-1{
          margin-left: 28%;
          a{
            color: $awp-green;
          }
        }
        .views-field-body{
          margin-left: 30%;
        }
      }
      &.view-id-partners{
        .views-row .views-field-title-1 {
          margin-left: 30%;
        }
      }
    }
  } /*page-team*/
  &.section-news,
  &.section-blog,
  &.section-glimpses-of-daily-life-in-gaza{
    .view-news-with-featured-,
    .view-news-and-events-blog,
    .view-glimpses-of-daily-life-in-gaza{
      &.view-display-id-page{
        .view-header{
          overflow: hidden;
          border-bottom: 1px solid #B2B2B2;
          .views-header-title{
            color: #000;
            font-size: 2vw;
            font-weight: bold;
            font-size: 40px;
            border-bottom: 1px solid #B2B2B2;
            padding-bottom: 15px;
          }
          .view-id-news_with_featured_{
            .views-row {
              border-bottom: none !important;

            .views-field-field-image{
              width: auto;
              float: left;
              padding: 10px;
            }
            .views-field-title{
              a{
                color: $awp-green;
              }
            }
          }
          }
        }
        .view-content{
          .views-row{
            margin-top: 40px;
            border-bottom: 1px solid #B2B2B2;
            padding-bottom: 10px;
            overflow: hidden;
            .views-field-title{
              a{
                color: $awp-green;
                font-size: 1.5vw;
              }
            }
            .views-field-field-image{
              width: auto;
              float: left;
              padding: 10px;
            }
            .views-field-field-article-date{
              color: #b2b2b2;
              padding: 6px 0px;
              overflow: hidden;
              .views-label-field-article-date{
                float: left;
                padding-right: 5px;
              }
            }
            .views-field-nothing{
              margin-top: 30px;
              .fb-share-button{
                span{
                  height: 25px !important;
                }
              }
            }
          }
        }
      }
    }
    .view-news-and-events-blog{

    }
  }/*section-news*/
  &.section-resources,
  &.section-resources-list{
    #views-exposed-form-resource-inner-page{
      margin-bottom: 20px;
      margin-top: 20px;
      overflow: hidden;
      .views-exposed-form{
        .views-exposed-widgets{
          .views-exposed-widget{
            width: 100%;
            margin-right: -50px;
            .form-text{
              width: 100%;
              padding: 10px 5px;
              border: 1px solid #ccc;
              background: none;
            }
          }
          .views-submit-button{
            width: 25px;
            float: left;
            overflow: hidden;
            padding: 0;

            .form-submit{
              margin: 0;
              width: 25px;
              height: 55px;
              background: url("../images/header/search-icon.png") center no-repeat;
              display: block;
              font-size: 0;
              border: 0;
            }
          }
        }
      }
    }
  }
  &.section-resources{
    #views-exposed-form-resource-inner-page {
      margin:0;
      background: $awp-white;
    }
  }



  &.section-resources{
    #main{
      margin-top: 0;
    }
    h1#page-title{
      margin-bottom: 10px;
    }
    .view-resources-categories{
      overflow: hidden;
      .view-header{
        font-size: 35px;
        p{
          margin: 0;
        }
      }
      .view-content {
        .views-row {
          background: none;
          padding: 20px 0;
          text-align: center;
          position: relative;
          color: $awp-dark-grey;
          a{
            color: $awp-dark-grey;
          }
          .views-field-field-image{
            height: 130px;
            display: block;
            position: relative;
            text-align: center;
            .field-content{
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              text-align:center; /* Align center inline elements */
              font: 0/0 a;
              &:before{
                content: ' ';
                display: inline-block;
                vertical-align: middle;
                height: 100%;
              }
            }
            img{
              max-width: auto;
              height: 90%;
            }
          }
          .views-field-name{
            width: 90%;
            margin: 0 auto;
            margin-bottom: 10px;

            a{
              font-size: 40px;
              text-transform: uppercase;
              font-weight: bold;
            }
          }
          .views-field-description{
            font-size: 22px;
            font-weight: normal;
            width: 90%;
            margin: 0 auto;
            text-align: left;
          }
          .views-field-tid{
            .field-content{
              a{
                font-size: 22px;
                border: 1px solid $awp_dark-grey;
                padding: 10px 0;
                display: block;
                width: 70%;
                margin: 10px auto;
                position: absolute;
                left: 15%;
                bottom: 10px;
              }
            }
          }
          &:hover{
            img{
              -webkit-filter: saturate(33333333%);
            }
            .views-field-tid a{
              border-color: $awp-white;
            }
            color: $awp-white;
            a{
              color: $awp-white;
            }
            &.views-row-1{
              background: $color1;
            }
            &.views-row-2{
              background: $color2;
            }
            &.views-row-3{
              background: $color3;
            }
            &.views-row-4{
              background: $color4;
            }
            &.views-row-5{
              background: $color5;
            }
            &.views-row-6{
              background: $color6;
            }
            &.views-row-7{
              background: $color7;
            }
            &.views-row-8{
              background: $color8;
            }
          }

        }
      }
    }
    .sidebars{
      padding-right: 10px;
    }
    .sidebars .region-sidebar-second{
      background: #FFF1B7;
      padding: 0;
      margin-top: 15%;
      .block__title{
        background: $awp-dark-grey;
        color: $awp-white;
        font-size: 25px;
        text-align: center;
      }
      .view-recent-resources{
        width: 80%;
        margin: 20px auto;
        .views-row{
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid $awp_grey;
          p{
            margin: 0;
          }
          .views-field-title{
            font-size: 23px;
            font-weight: bold;
            color: $awp_dark-grey;
            margin-bottom: 10px;
          }
          .views-field-body{
            font-size: 20px;
            font-weight: normal;
            color: $awp-grey;
            margin-bottom: 10px;
          }
          .views-field-field-link{
            a{
              font-size: 14px;
              color: #4BB9A5;
              font-weight: normal;
            }
          }
        }
      }
    }
  }/*section-resources*/

  &.page-resources-list{
    h1#page-title{
      margin: 0;
      margin-bottom: -20px;
      padding: 0 20px;
    }
    .view-resource-inner{
      padding: 0 20px;
      overflow: hidden;
      .view-header{
        .views-row{
          margin-bottom: 0px !important;
          padding-bottom: 0px !important;
          border-bottom: none !important;
        }
        .views-field-name{
          color: $awp-green;
          font-size: 60px;
          font-weight: normal;
          margin-bottom: 5%;
        }
      }
      .view-content{
        .views-row{
          overflow: hidden;
          margin-bottom: 20px;
          padding-bottom: 5px;
          border-bottom: 1px solid $awp_grey;
          .views-field-title{
            font-size: 35px;
            font-weight: bold;
            color: #3F3F3F;
          }
          .views-field-field-link{
            a{
              font-size: 20px;
              color: $awp-green;
              font-weight: normal;
              margin-bottom: 15px;
            }
          }
          .views-field-body{
            font-weight: lighter;
            color: $awp_grey;
          }
          .views-field-field-amani-tags{
            margin-top: 20px;
            color: $awp_grey;
            font-weight: 100;
            .views-label,
            .field-content{
              float: left;
              margin-right: 5px;
            }
          }
        }
      }
    }
    .sidebars .block-menu-block{
      .menu{
        padding: 0;
      }
    }
  }

  &.page-media{
    #block-views-awp-media-block,
    #block-views-awp-media-block-1{
      margin-bottom: 30px;
      .block-title{
        font-size: 60px;
        font-weight: normal;
        color: #B2B2B2;

      }
      .view-content{
        .views-row{


        .views-field-title{
          color: #B2B2B2;
          a{
            color: #B2B2B2;
          }
        }
        .views-field-body{

        }
        .views-field-field-date{

        }
      }
      }
    }
    .view-awp-media{
      header{
        .node__title{
          display: none;
        }
      }
      h3{
        font-size: 40px;
        color: $awp-dark-grey;
        margin: 0;
      }
      &.view-display-id-page{
        .view-content{
          .views-row{
            margin-bottom: 30px;

            .views-field-title{
              font-size: 30px;
              color: $awp_grey;
              margin-top: 5px;
              a{
                color: $awp_grey;
              }

            }
            .views-field-body{

            }
            .views-field-field-date{

            }
          }
        }
      }
    }
  }/*page-media*/

}