/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */


/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

body {
  font-family: $font-body;
  color: $awp-black;
  a {

  }
  #header{
    margin-top: 40px;
    #name-and-slogan{
      .header__site-name{
        display: none;
      }
    }
    .header__region{
      clear: none;
      #block-menu-menu-meta{
        display: none;
      }
    }
    .header_links{
      margin-top: 20px;
      border-bottom: 1px solid $awp_grey;
      padding-bottom: 15px;
      margin-bottom: 15px;
      overflow: hidden;
      .site--slogan{
        float: left;
        font-weight: normal;
        font-weight: lighter;
        padding-left: 20px;
        color: $awp_grey;

      }/*site--slogan*/
      .top-icons {
        float: right;
        .search_link {
          float: left;
          border-right: 1px solid $awp_grey;
          padding-right: 10px;
          margin-right: 10px;
          a.link-icon {
            font-size: 0;
            width: 25px;
            height: 25px;
            display: block;
            float: left;
            background: url("../images/header/search-icon.png") 0 0 no-repeat;
          }
          form {
            display: none;
          }
        }
        /*saertch-link*/
        .social-block {
          float: left;
          .menu {
            margin: 0;
            overflow: hidden;
            padding: 0;
            li {
              list-style: none;
              float: left;
              a {
                display: block;
                width: 25px;
                height: 25px;
                font-size: 0;
              }
              &.first {
                a {
                  background: url("../images/header/facebook-icon.png") 0 0 no-repeat;
                }
              }
              &.last {
                a {
                  background: url("../images/header/twitter-icon.png") 0 0 no-repeat;
                }
              }
            }
          }
        }
        /*social-block*/
      }/*top-icon*/
    }/*header-links*/
    #block-locale-language,
    .lang-block{
      float: left;
      padding-left: 20px;

      ul{
        padding: 0;
        margin: 0;
        overflow: hidden;
        li{
          list-style: none;
          float: left;

          &.ar{
            min-width: 55px;
          }
          a{
            color: #000000;
            font-size: 16px;
            text-transform: uppercase;
            padding: 2px;
            font-family: $font-body;
            font-weight: normal;
            text-decoration: none;
            &.active,
            &:hover{
              color: $awp-red;
              //background: #000;
            }
          }
        }
      }
    }/*#block-locale-language*/
    #block-superfish-1{

      ul#superfish-1{
        & > li{
          background: none;
          & > a{
            color: $awp_grey;
            text-decoration: none;
            border-right: 1px solid $awp_grey;
            border-top: 0;
            text-transform: uppercase;
            padding: 0 1em;
          }
          &.last{
            & > a{
              border: 0;
            }
          }
          a{
            font-family: $font-sans;
            mso-ansi-font-weight: normal;
            font-weight: lighter;
          }
        }
      }
    }/*block-superfish-1*/
  }/*header*/
  &.front{
    .view-awp-front-page-slideshow{
      position: relative;
      .views-row{
        .views-field-field-image{
          img{
            max-width: 100%;
            height: auto;
          }
        }/*views-field-field-image*/
        .views-field-title{
          position: absolute;
          .field-content{
            font-size: 70px;
            color: $awp-black;
            a{
              font-size: 70px;
              color: $awp-black;
            }
          }
        }/*views-field-title*/
        .views-field-field-description{
          display: none;
        }
      }/*views-row*/
      .views-slideshow-controls-bottom{
        position: absolute;
        z-index: 999;
        .views-slideshow-controls-text-pause{
          display: none;
        }
        .views-slideshow-controls-text-previous,
        .views-slideshow-controls-text-next{
          float: left;
          margin-left: 2%;
          a{
            display: block;
            font-size: 0;
            background: url("../images/left-arrow.png") center no-repeat;
            width: 25px;
            height: 27px;
          }
        }
        .views-slideshow-controls-text-next{
          float: right;
          margin-right: 2%;
          a{
            background: url("../images/right-arrow.png") center no-repeat;
          }
        }

      }/*views-slideshow-controls-bottom*/
    }/*view-awp-front-page-slideshow*/
  }/*front*/
}