/* Styling for banner region */


@media all and (min-width: $breakpoint) {

	#banner {

		display:block;
		width:100%;
		padding-top:81px;
		
		.block-bean {
			display:block;
			height:400px;
			position:relative;
			
			.field-name-field-banner-image {
				display:block;
				z-index:10;
				width:100%;
				height:400px;
				float:left;
				overflow:hidden;
				margin-top:0;
				/*position: relative;
				padding-left:3000px;
				margin-left:-3000px;
				padding-right:3000px;
				margin-right:-3000px;
				height:400px;
				background:$soft-grey;
				overflow:hidden;*/
				img {
					width:100%;
					height:auto;
					min-width:1200px;
					min-height:400px;
				}
			}
			
			.field-name-field-image-attribution {
				color:white;
				position:absolute;
				bottom:22px !important;
				right:10px !important;
				font-size:11px;
				opacity:.7;
			}
			
			.field-name-field-image-attribution-link a {
				color:white;
				position:absolute;
				bottom:8px !important;
				right:10px !important;
				font-size:11px;
				opacity:.7;
			}
			
			.field-name-field-banner-text {
				width:1200px;
				display:block;
				margin:0 auto;
				position: relative;
				.field-items {
					display:block;
					background:$blue;
					color: white;
					  font-weight: 600;
					  font-size: 2.2em;
					  position: relative;
					  float: left;
					  margin-top:-340px;
					  margin-left: 120px;
					  width: 350px;
					  height: 340px;
					  padding: 1.6em 1em 1em 1em;
					  line-height: 1.2em;
					  z-index:20;
				  }
			}
			
			.field-name-field-header-text {
				width:1200px;
				display:block;
				margin:0 auto;
				position: relative;
				.field-items {
				  display: block;
				  float: left;
				  margin-top: 80px;
				  z-index: 30;
				  position: relative;
				  color: white;
				  font-style: italic;
				  font-size: 1.2em;
				  margin-left:-320px;
				}
			}
		}
	
	}


}