/**
 * @file
 * Donation button
 */
 
#content.column {
  position: relative;
  height: 100%;
  min-height: 800px;
}

#block-bean-donate {
  position: fixed; 
  right: 0;
  top: 50%;
    
  .field-item > a {
    background-color: $orange;
    -webkit-box-shadow: 3px 8px 5px 0px rgba(224,221,224,1);
    -moz-box-shadow: 3px 8px 5px 0px rgba(224,221,224,1);
    box-shadow: 3px 8px 5px 0px rgba(224,221,224,1);
    @include font-size(17px);
    line-height: 1;
    font-wight: $fw-light;
    padding: 15px 30px 12px;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: right;
  }
}
