 /**
 * Footer
 */
#footer {
  @include zen-grid-container;
  background-color: $grey;
  color: $white;
  font-weight: $fw-light;
  margin-top: 30px;
  padding: 40px 0 40px 0;
  position:absolute;
	bottom:0;
	left:0;
	right: 0;

  &:before {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    left: -9998px;
    height: 100%;
    z-index: -1;
    border-right: 9999px solid $grey;
    box-shadow: 9999px 0px 0px 0px $grey;
  }

  a {
    color: $white;
    @include link-hover-color();
  }
  
  div[id*="block-menu-menu-meta"],
  div[id*="block-search-form"] {
    @include element-invisible;
  }
  
  //Logo in footer
  #block-bean-amani-powered-by { 
    //@include zen-grid-item(3,1);
    width: 30%;
    
    .field-item > img {
       @include element-invisible;
    }
  }
  
  //Footer menu
  #block-menu-menu-amani-main-menu {
    //@include zen-grid-item(7,4);
    width: 70%;
    
    li {
      width: 10em;
      display: inline-block;
      float: left;
      
      a {
        @include font-size(14px);
        letter-spacing: 0.5px;
      }
      
      &:nth-child(2n+1) {
        clear: left;
      }
    }
  }
  
}