//
// @file
// Hero Baner Theme
//

.bean-hero-banner {
  position: relative;
  text-align: center;

  .content {
    > div {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 2;
      color: rgb(255, 255, 255);
      width: 100%;
      margin: 0 auto;
    }

   .field_hero_banner_title {
      font-size: 20px;
      text-transform: uppercase;
      top: 15%;
      transform: translateY(-15%);
      @include breakpoint($desktop) {
        font-size: 40px;
        top: 35%;
        transform: translateY(-35%);
      }
    }

    .field_hero_banner_description {
      top: 45%;
      transform: translateY(-45%);
      font-size: 15px;
      max-width: 585px;
      line-height: 15px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      @include breakpoint($desktop) {
        font-size: 20px;
        line-height: 25px;
      }
    }

    .field_hero_banner_button {
      top: 85%;
      transform: translateY(-85%);
      @include breakpoint($desktop) {
        top: 70%;
        transform: translateY(-70%);
      }
      a {
        background-color: transparent;
        text-transform: uppercase;
        font-size: 12px;
        color: #fff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        border: 1px solid #89868f;
        padding: 5px 25px;
        @include breakpoint($desktop) {
          font-size: 25px;
          padding: 10px 50px;
        }
        &:hover,
        &:active {
          transition: all 0.75s;
          background-color: rgba(81,62,121,0.6);
        }
      }
    }

    .field_hero_banner_image {
      position: relative;
      z-index: 1;
    }
  }
}
