//
// @file
// Colours and images for the general layout
//

///////////////////////////////////////////////////////////////////////////////
//
// Main Body/Content Section
//
///////////////////////////////////////////////////////////////////////////////

body {
  overflow-x: hidden;
}

#main {
  min-height: 300px;
  padding-bottom: 20px;
}

// this aligns the home page fb, twitter, calendar blocks in center
.page-home #content {
  position: relative;
  text-align: center;;
}


///////////////////////////////////////////////////////////////////////////////
//
// Footer
//
///////////////////////////////////////////////////////////////////////////////

.footer-top {
  background-color: $purple-dark;
  border: 1px solid #67486b;
  border-width: 1px 0;
  height: 11px;
}

.footer-wrapper {
  background-color: $purple;
  border: 1px solid #84568b;
  border-width: 1px 0;
  color: $almost-white;
  font-weight: $fw-light;
  padding: 30px 0 30px 0;
  @include zen-grid-container;

  a {
    color: $almost-white;
    @include link-hover-color();
    text-transform: uppercase;
  }

  .menu {
    a {
      color: $almost-white;
      @include link-hover-color();
    }
  }
}

footer {
  > .block-menu {
    @include zen-grid-item(4, 1); // main menu in footer
    margin-bottom: 0;

    @media screen and (max-width: 570px) {
      float: none;
      margin: 0;
      width: 100%;
    }
  }
}

#block-bean-amani-powered-by {
  @include zen-grid-item(4, 9); // amani and peace geeks logos
  text-align: right;

  @media screen and (max-width: 570px) {
    clear: both;
    float: none;
    margin: 0;
    width: 100%;
    text-align: center;
  }
}

footer {
  .menu {
    float: left;
    position: relative;
    margin: 0 50px 0 0;

    @media screen and (max-width: 939px) {
      margin-bottom: 15px;
    }

    @media screen and (max-width: 570px) {
      float: none;
      width: 100%;
      margin: 0 0 15px 0;
      text-align: center;
    }

    li {
      position:relative;
      text-indent: 20px;
      margin-bottom: 15px;
      
      &:before { 
        content: "\f078";
        font-family: amani-icons;
        margin-right: 8px;
        font-size: 11px;
      }

      @media screen and (max-width: 570px) {
        text-indent: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      transition: all 0.3s;
      font-size: 12px;

      &:before {
        position: absolute;
        content: '';
        top: 3px;
        left:0;
        // @include icons-sprite(grey-right-arrow);
      }
    }
  }
}

footer > .block-menu {
  margin-right: 0;
}

footer .block-menu ul.menu {
  margin-right: 50px;
}

footer .field-label {
  display: none;
}

.region-footer .block.block-bean {
  display: inline-block;
  margin: 0 20px;
  float: right;
}

footer #block-bean-img1,
footer .bean-a-project-by- a {
  margin-top: 15px;
}

.peacegeeks-logo {
  margin: 0 0 20px 50px;

  @media screen and (max-width: 570px) {
    margin-left: 0;
  }
}

.footer-legal {
  background-color: $purple-dark;
  border-top: 1px solid #67486b;
  color: white;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  div {
    margin: 0 auto;
    width: 75%; // strange bug with text align on the parent not correctly centering the text

  }
}
