//
// @file
// Colours and images for the general layout
//

///////////////////////////////////////////////////////////////////////////////
//
// Main Body/Content Section
//
///////////////////////////////////////////////////////////////////////////////

body {
  overflow-x: hidden;
}

#main {
  min-height: 300px;
  padding-bottom: 20px;
  padding-top: 2em;
}


// this aligns the home page fb, twitter, calendar blocks in center
.page-home #content {
  position: relative;
  text-align: center;
}

//Page header
h1.title {
  font-family: $open-sans-condensed;
  font-size: 40px;
  font-weight: $fw-semi-bold;
  letter-spacing: 1px;
  line-height: 1;
  color: $purple-alt;
  text-transform: uppercase;
  text-align: center;
  margin: 1em 0;
}

