/* Overrides for pages based on body classes */


@media all and (min-width: $breakpoint) {

	/* Programs page */
	
	body.programspage {

		.paragraphs-item-paragraph-text-with-anchor {
			border-top:0;
			padding-top:2em;
		}
		
		.programsorangeblock {
			display:block;
			width:231px;
			float:right !important;
			margin-top:0 !important;
			margin-bottom:0 !important;
			.paragraphs-item-link-block-grey {
				margin-top:0 !important;
				a {
					width:186px;
					background:$orange;
					height:308px !important;
					margin-top:0 !important;
					line-height:1.4em;
				}
				&.shorterlinkbox:after {
					margin-top:240px !important;
				}
			}
		}
		
		#peaceprojects {
			
		}
		
		.linkboxtall {
			display:block;
			width:231px;
			float:right !important;
			margin-top:0 !important;
			margin-bottom:0 !important;
			margin-right:5em;
			.paragraphs-item-link-block-grey {
				margin-top:0 !important;
				a {
					width:186px;
					height:342px !important;
					margin-top:0 !important;
					line-height:1.4em;
				}
				&.shorterlinkbox:after {
					margin-top:240px !important;
				}
			}
		}
		
		.paragraphs-item-divider-line {
			margin-top:3em;
			hr {
				width:110%;
				margin-left:-5%;
				margin-top:1em;
			}
		}
		
		/* News card */
		
		.view-peace-geeks-news-and-events.view-display-id-block_2 {
			display:block;
			float:left;
			margin-top:-2em;
			background:$orange;
			color:white;
			padding-bottom:2em;
			height:384px;
			margin-left:5em;
			width:340px;
			a {
				color:white;
			}
			
			.views-field-title {
				font-size:1.7em;
				line-height:1.4em;
				padding:.4em 1em 1em 1em;
				font-weight:600;
				letter-spacing:0;
				display:block;
				width:100%;
			}
			
			.views-field-created {
				display:block;
				float:left;
				padding-left:1.4em;
				font-size:1.2em;
				font-weight:300;
			}
			
			.views-field-comment-count {
				display:block;
				float:right;
				padding-right:1.4em;
				font-size:1.2em;
				font-weight:300;
			}
			
		}
		
		
		div.paragraphs-item-light-grey-text-box-with-link-to {
			
			a.anchorlink {
				color:white;
				text-align:left;
				padding-top:.8em;
				padding-left:1em;
				background:$blue;
				height:100px !important;
				width:296px;
				margin-bottom:1.8em;
				&.darkbackground {
					background:$grey;
					margin-right:0;
				}
			}
			
		}
	
	}

	
	/* Current Projects page */
	
	body.currentprojects {
	
	
	
	}
	
	
	
	/* Past Projects page */

	body.pastprojects {
	
	
	
	
	}


	/* Front page content */
	
	body.front {
	
		#content {
			width:980px;
			padding-right:10px;
			padding-left:10px;
		}
		
		.block-views {
			.views-field-field-anchor-to-link-to {
				display:none;
			}
		}
		
		.paragraphs-item-special-event-callout-box {
			display:block;
			width:100%;
			padding:2em 3em;
			color:white;
			background:$grey;
			.field-name-field-callout-title {
				font-size:1.1em;
				font-style:italic;
			}
			.field-name-field-callout-text {
				font-size:1.8em;
				line-height:1.4em;
			}
			.field-name-field-callout-link {
				display:none;
			}
			.field-name-field-callout-active- {
				display:none;
			}
		}
	
	}

	
	
	/* News section */
	
	body.page-news {
		
		#main {padding-top:50px;}
		
		#content {
			width:686px;
			float:left;
			display:block;
			margin-top:-20px;
		}
		
		h1#page-title {
			display:none;
		}
		
		.view-peace-geeks-news-and-events {
			
			&.view-display-id-page {
				
				.view-content {
					
					ol {
						
						li {
							list-style-type:none;
							display:block;
							float:left;
							width:325px;
							height:480px;
							background:$soft-grey;
							margin-right:16px;
							margin-bottom:34px;
							
							&:nth-child(even) {
								margin-right:0;
							}
						}
					}
				}
				
				.views-field-title {
					display:block;
					height:72px;
					width:286px;
					float:left;
					a {
						font-size:1.6em;
						line-height:1.4em;
						color:black;
						display:block;
						width:100%;
						padding:10px 20px 20px 20px;
						font-weight:600;
					}
				}
				
				.views-field-body {
					font-size:1.2em;
					color:$text-black;
					line-height:1.4em;
					display:block;
					padding:0 20px 20px 20px;
					width:286px;
					margin-top:8px;
					float:left;
				}
				
				.views-field-created {
					display:block;
					float:left;
					font-size:1.1em;
					color:$text-grey;
					padding-left:20px;
				}
				
				.views-field-comment-count {
					display:block;
					float:left;
					font-size:1.1em;
					color:$text-grey;
					padding-left:20px;
					&:before {
						content:"|";
						padding-right:20px;
					}
				}
			}
			
			ul.pager {
				display:block;
				float:left;
				width:662px;
			}
			
			ul.pager.pager-load-more {
				display:block;
				margin-left:380px;
				
				li {
					list-style-type:none;
					a {
						color:$text-grey;
						padding:14px 60px;
						background:$soft-grey;
						display:inline-block;
						text-align:center;
						margin-bottom:3em;
						font-size:1.2em;
					}
				}
			}
		}
	
	}
	
	/* Events section */
	
	body.page-events {
		
		#main {padding-top:50px;}
		
		#content {
			width:686px;
			float:left;
		}
		
		h1#page-title {
			display:none;
		}
		
		
		
		.view-peace-geeks-news-and-events {
		
			/* Past events */
			
			&.view-display-id-page_1 {
				
				.view-content {
					
					ol {
						
						li {
							list-style-type:none;
							display:block;
							float:left;
							width:210px;
							height:434px;
							background:$soft-grey;
							margin-right:18px;
							margin-bottom:34px;
							position:relative;
							
							&:nth-child(3n) {
								margin-right:0;
							}
						}
					}
				}
				
				.views-exposed-form {
					display:block;
					float:left;
					width:100%;
					background:$soft-grey;
					padding:1em 2em;
					margin-bottom:2em;
					label {
						text-transform:uppercase;
						display:block;
						margin-bottom:1em;
						cursor:pointer;
					}
					.form-item {
						display:inline-block;
						background:white;
						font-weight:300;
						font-style:italic;
						padding:.4em 1em;
						margin-right:4px;
						cursor:pointer;
						&:hover {
							background:$blue;
						}
						input[type="radio"] {
							display:none;
						}
						label {
							text-transform:none;
							margin-bottom:0;
							cursor:pointer;
						}
					}
				}
				
				.views-field-title {
					display:block;
					width:170px;
					float:left;
					padding-left:20px;
					padding-right:20px;
					padding-top:10px;
					padding-bottom:20px;
					a {
						font-size:1.1em;
						line-height:1.3em;
						color:$blue;
						display:block;
						width:100%;
						font-weight:400;
						text-transform:uppercase;
					}
				}
				
				.views-field-field-event-date {
					font-size:1em;
					color:$text-grey;
					display:block;
					padding:0 20px 4px 20px;
					float:left;
					position:absolute;
					bottom:0;
					margin-bottom:10px;
				}
				
				.views-field-title-1 {
					display:block;
					width:100%;
					float:left;
					padding-left:20px;
					position:absolute;
					bottom:0;
					margin-bottom:46px;
					a {
						font-size:1em;
						color:$text-grey;
						display:inline-block;
						font-weight:400;
						border:1px solid $text-grey;
						padding:.2em .6em;
						text-transform:none;
						
					}
				}
								
				.views-field-comment-count {
					display:block;
					float:right;
					font-size:1em;
					color:$text-grey;
					padding-right:20px;
					margin-top:16px;
					&:before {
						content:"|";
						padding-left:20px;
					}
				}
			}
			
			/* Upcoming events */
			
			& .view-header .view-display-id-block_3  {
				
				h2 {
					color:$blue;
					font-weight:300;
					font-size:2.4em;
					margin-top:-14px;
					margin-bottom:0;	
				}
				
				.view-footer {
					h2 {
						margin-top:1em;
						display:block;
						float:left;
						width:100%;
						
					}
				}
				
				.view-content {
					
					ol {
						
						li {
							list-style-type:none;
							display:block;
							float:left;
							width:324px;
							height:620px;
							background:$soft-grey;
							margin-right:18px;
							margin-bottom:34px;
							position:relative;
							
							&:nth-child(even) {
								margin-right:0;
							}
						}
					}
				}
				
				.views-field-title {
					display:block;
					height:82px;
					width:100%;
					float:left;
					padding:10px 20px 20px 20px;
					
					a {
						font-size:1.6em;
						line-height:1.1em;
						color:black;
						display:block;
						width:100%;
						
						font-weight:600;
						text-transform:none;
					}
				}
				
				.views-field-field-event-date {
					font-size:1.2em;
					color:$text-black;
					display:block;
					padding:0 20px 4px 20px;
					width:286px;
					float:left;
					position:relative;
					margin-bottom:0;
					span.views-label {
						float:left;
						display:inline;
						padding-right:6px;
					}
				}
				
				.views-field-field-event-date-1 {
					font-size:1.2em;
					color:$text-black;
					display:block;
					padding:0 20px 4px 20px;
					width:286px;
					margin-top:2px;
					float:left;
					position:relative;
					span.views-label {
						float:left;
						display:inline;
						padding-right:6px;
					}
				}
				
				.views-field-field-event-date-2 {
					font-size:1.2em;
					color:$text-black;
					display:block;
					padding:0 20px 4px 20px;
					width:286px;
					margin-top:2px;
					float:left;
					position:relative;
					span.views-label {
						float:left;
						display:inline;
						padding-right:6px;
					}
				}
				
				.views-field-title-1 {
					display:block;
					float:left;
					padding-top:24px;
					padding-left:20px;
					width:auto;
					position:absolute;
					bottom:0;
					margin-bottom:26px;
					a {
						font-size:1.2em;
						color:$text-grey;
						border:1px solid $text-grey;
						padding:.2em 1em;
						letter-spacing:1px;
						font-weight:600;
					}
				}
				
				.views-field-field-registration-link {
					display:block;
					position:absolute;
					margin-bottom:28px;
					bottom:0;
					margin-left:200px;
					a {
						font-size:1.2em;
						color:white;
						background:$orange;
						padding:.2em 1em;
						letter-spacing:1px;
					}
				}
				
				.views-field-comment-count {
					display:block;
					float:left;
					font-size:1.1em;
					color:$text-grey;
					padding-left:20px;
					width:100%;
					padding-top:18px;
					margin-top:0;
					padding-right:0;
					&:before {
						content:"";
						padding-right:0;
					}
				}
			}
			
			ul.pager {
				display:block;
				float:left;
				width:662px;
			}
			
			.date-nav-wrapper ul.pager {
				float:none;
			}
			
			ul.pager.pager-load-more {
				display:block;
				margin-left:380px;
				
				li {
					list-style-type:none;
					a {
						color:$text-grey;
						padding:14px 60px;
						background:$soft-grey;
						display:inline-block;
						text-align:center;
						margin-bottom:3em;
						font-size:1.2em;
					}
				}
			}
		}
	
	
	}
	
	
	/* Article pages */
	
	body.node-type-article {
	
		h1#page-title {
			display:none;
		}
	
		#main {
			padding-top:50px;
			padding-bottom:90px;
		}
	
		#content {
			width:686px;
			float:left;
			display:block;
		}
		
		.views-field-created {
			color:$text-grey;
		}
		
		.views-field-comment-count {
			font-size:1.2em;
			display:block;
			width:100%;
			border-top:2px solid $soft-grey;
			padding-top:2em;
			margin-top:2em;
			margin-bottom:1em;
		}
	
		.views-field-title {
			a {
				color:black;
				font-size:1.8em;
				line-height:1.4em;
				padding-top:14px;
				padding-bottom:18px;
				font-weight:bold;
				display:block;
			}
		}
		
		.views-field-name {
			display:block;
			margin-bottom:4px;
			margin-top:18px;
			.views-label {
				text-transform:uppercase;
				color:$text-grey;
				
			}
			span.field-content {
				a {
					color:$text-grey;
				}
			}
		}
		
		.views-field-field-tags {
			display:block;
			
			margin-bottom:.6em;
			.views-label {
				text-transform:uppercase;
				color:$text-grey;
				display:inline;

			}
			div.field-content {
				display:inline;
				color:$text-grey;
				a {
					color:$text-grey;
				}
			}
		}
		
		article.node-article {
			.views-field-body {
				font-size:1.1em;
				line-height:1.6em;
			}
		}
	
	}
	
	
	/* Event pages */
	
	body.node-type-event {
	
		h1#page-title {
			display:none;
		}
	
		#main {
			padding-top:50px;
			padding-bottom:90px;
		}
	
		#content {
			width:686px;
			float:left;
			display:block;
		}
		
		.views-field-created {
			color:$text-grey;
			float:left;
			width:100%;
			display:block;
		}
		
		.views-field-comment-count {
			font-size:1.2em;
			display:block;
			width:100%;
			border-top:2px solid $soft-grey;
			padding-top:2em;
			margin-top:2em;
			margin-bottom:1em;
		}
		
		.views-field-field-image {
			float:left;
			margin-right:20px;
		}
		
		.views-field-name-1 {
			a {
				color:$blue;
				font-size:1.8em;
				line-height:1.4em;
				padding-top:0;
				padding-bottom:0;
				font-weight:600;
				display:block;
			}
		}
		
		.views-field-field-venue {
			display:block;
			margin-bottom:4px;
			margin-top:18px;
			font-size:1.1em;
			width:100%;
			.views-label {
				display:inline;
				font-weight:600;
			}	
			.field-content {
				display:inline;
			}
		}
		
		.views-field-field-event-time {
			display:block;
			margin-bottom:4px;
			margin-top:4px;
			font-size:1.1em;
			width:100%;
			.views-label {
				display:inline;
				font-weight:600;
			}	
			.field-content {
				display:inline;
			}
		}
		
		.views-field-field-event-date {
			display:block;
			margin-bottom:4px;
			margin-top:18px;
			font-size:1.1em;
			width:100%;
			.views-label {
				display:inline;
				font-weight:600;
			}	
			.field-content {
				display:inline;
			}
		}
		
		.views-field-field-event-date-1 {
			display:none;
		}
		
		.views-field-field-guest-speaker {
			display:block;
			margin-bottom:4px;
			margin-top:18px;
			font-size:1.1em;
			width:100%;
			.views-label {
				display:inline;
				font-weight:600;
			}	
			.field-content {
				display:inline;
			}
		}
		
		.views-field-view {
			display:block;
			float:left;
			margin-bottom:4px;
			margin-top:18px;
			font-size:1em;
			width:auto;
			padding-right:40px;
			margin-bottom:30px;
			.views-row {
				display:block;
				float:left;
			}
			.views-label {
				display:block;
				font-weight:600;
				margin-bottom:14px;
				text-transform:uppercase;
			}	
			.field-content {
				display:block;
			}
		}
		
		.views-field-view-1 {
			display:block;
			float:left;
			margin-bottom:4px;
			margin-top:18px;
			font-size:1em;
			width:auto;
			margin-bottom:30px;
			.views-row {
				display:block;
				float:left;
			}
			.views-label {
				display:block;
				font-weight:600;
				margin-bottom:14px;
				text-transform:uppercase;
			}	
			.field-content {
				display:block;
			}
		}
		
		.views-field-field-registration-link {
			a {
				font-size: 1.2em;
    			color: white;
   				background: #F09416;
    			padding: .2em 1em;
    			letter-spacing: 1px;
    			display:inline-block;
    			margin-top:20px;
			}
		}
	
		.views-field-title {
			a {
				color:black;
				font-size:1.8em;
				line-height:1.2em;
				padding-top:6px;
				padding-bottom:6px;
				font-weight:bold;
				display:block;
			}
		}
		
		.views-field-name {
			display:block;
			margin-bottom:4px;
			margin-top:18px;
			float:left;
			width:100%;
			.views-label {
				text-transform:uppercase;
				color:$text-grey;
				
			}
			span.field-content {
				a {
					color:$text-grey;
				}
			}
		}
		
		.views-field-field-tags {
			display:block;
			float:left;
			width:100%;
			
			margin-bottom:.6em;
			.views-label {
				text-transform:uppercase;
				color:$text-grey;
				display:inline;

			}
			div.field-content {
				display:inline;
				color:$text-grey;
				a {
					color:$text-grey;
				}
			}
		}
		
		article.node-event {
			.views-field-body {
				font-size:1.1em;
				line-height:1.6em;
				display:block;
				width:100%;
				float:left;
				padding-top:3em;
				padding-bottom:2em;
			}
		}
	
	}
	
	
	
	/* Current Projects */
	
	body.currentprojects {
	
		#howcanyouhelp {
			
			display:block;
			float:right;
			position:absolute;
			top:-41px;
			right: 0;
					
			.field-name-field-header-text {
				font-size:18px;
			}
		
			a.orangeblock {
				    color: white;
					display: block;
					float: left;
					width: 190px;
					font-weight: 600;
					height: 210px;
					background: $orange;
					padding: 20px;
					font-size: 18px;
					line-height: 22px;
				&:after {
					content:"and become a PeaceGeek";
					font-weight:300;
					display:block;
				}
			}
			
			.rightarrow {
				
			}
		}
	
	
	}
	
	/* Past Projects */
	
	body.node-type-project-partners {
	
		#main {
			padding-top:50px;
			padding-bottom:7em;
		}
	
		a#apply-today-button {
			display:block;
			float:left;
			background:$grey;
			color:white;
			font-weight:600;
			padding:20px;
			height:120px;
			width:300px;
			margin-right:20px;
			font-size:18px;
			margin-bottom:4px;
			margin-top:30px;
			&:after {
				content:"become a PeaceGeek!";
				font-weight:300;
				display:block;
				padding-top:4px;
				color:$soft-grey;
			}	
		}
	
		a#donate-button {
			display:block;
			float:left;
			background:$orange;
			color:white;
			font-weight:600;
			padding:20px;
			height:120px;
			width:300px;
			margin-right:0;
			font-size:18px;
			margin-bottom:4px;
			margin-top:30px;
			&:after {
				content:"to PeaceGeeks";
				font-weight:300;
				display:block;
				padding-top:4px;
			}	
		}
		
		.view-id-peace_geeks_projects.view-display-id-project_partners_banner_block {
			display:block;
			width:100%;
			
			.view-content {
				
				display: block;
				z-index: 10;
				position: relative;
				padding-left: 3000px;
				margin-left: -3000px;
				padding-right: 3000px;
				margin-right: -3000px;
				height: 400px;
				background: $blue;
				overflow: hidden;
				
				.views-row {
					display:block;
					width:980px;
					margin:0 auto;
					height:400px;
					position:relative;
					padding:40px 20px;
					
					.views-label {
						display:inline;
						float:left;
						padding-right:6px;
					}	
					
					.views-field {
						display:block;
						font-size:14px;
						line-height:20px;
						
					}
					
					.views-field-field-proj-partners-location {
						.locality-block {
							display:inline;
							float:left;
						}
						.country {
							display:inline;
							padding-left:6px;
						}
					}
					
					
					
					.views-field-field-proj-partners-url {
						a {
							color:$text-black;
							font-weight:bold;
							font-style:italic;
							text-decoration:underline;
							margin-top:8px;
							display:block;
						}
					}
					
					.views-field-title {
						color:white;
						font-size:16px;
						font-weight:600;
						letter-spacing:1px;
						text-transform:uppercase;
						display:block;
						width:100%;
						margin-bottom:12px;
						
					}
					
					.views-field-field-partner-one-liner {
						color:white;
						font-size:36px;
						line-height:44px;
						font-weight:300;
					}
					
					.views-field-nothing {
						h3 {
							font-size:16px;
							font-weight:600;
							text-transform:uppercase;
							margin-top:30px;
							margin-bottom:10px;
						}
					}
					
					
					
					.views-field-field-tags {
						display:block;
						right:0;
						width:100%;
						position:absolute;
						bottom:0;
						margin-bottom:.6em;
						.views-label {
							text-transform:uppercase;
							color:$text-grey;
							display:inline;

						}
						
						ol {
							text-align:right;
							margin:0 0 -5px 0;
							li {
								list-style-type:none;
								display:inline;
								a {
									background:$soft-grey;
									color:$text-black;
									font-style:italic;
									padding:4px 14px;
									margin-left:8px;
									&:before {
										content:"#";
									}
								}
							}
						}
						
					}
				}
			}
		}
		
		#main {padding-top:50px;}
		
		h1#page-title {display:none;}
		
		.view-peace-geeks-projects.view-display-id-project_partners_node_override {
			
			.views-row {
				
				.views-label {
					font-size:1.4em;
					text-transform:uppercase;
					color:$text-black;
					font-weight:600;
					display:block;
					width:100%;
					margin-bottom:16px;
				}
				
				.views-field-field-image-caption {
					display:block;
					background:$blue;
					width:100%;
					float:left;
					color:white;
					height:60px;
					margin-top:-25px;
					padding:20px;
					font-size:14px;
					font-weight:300;
					margin-bottom:40px !important;
				}
				
				.views-field {
					margin-bottom:20px;
					display:block;
					float:left;
					h3 {
						font-size:16px;
						font-weight:600;
						text-transform:uppercase;
						margin-top:30px;
						margin-bottom:10px;
					}
				}
				
				.views-field-field-peacegeeks-contributions {
					border-top:1px solid $blue;
					padding-top:20px;
					margin-top:20px;
					margin-bottom:-40px;
				}
				
				
				.field-content {
					p {
						font-size:15px;
						line-height:22px;
						
					}
				}
			}
		}
	
	}
	
	/* Projects cards */
	
	.view-peace-geeks-projects.view-display-id-block {
		
		margin-top:-4em;
	
		div.item-list {
			ul.pager.pager-load-more {	
					
					li {
						list-style-type:none;
						a {
							display:block;
							float:left;
							width:194px;
							height:360px;
							background:$blue;
							padding:20px;
							color:white;
							font-size:18px;
							&:after {
								content:"current projects";
								font-weight:300;
								display:block;
							}
						}
					}
				}
		}
	
		.views-row {
			display:block;
			float:left;
			width:234px;
			height:400px;
			margin-right:15px;
			background:$soft-grey;
			margin-bottom:20px;
			position:relative;
			&:nth-child(3n) {
				margin-right:0;
			}
			
			.views-field-field-image {
				
			}
			
			.views-field-title {
				padding:10px 20px;
				a {
					color:$blue;
					font-size:16px;
					line-height:20px;
					text-transform:uppercase;
					font-weight:600;
				}
			}
			
			.views-field-field-tags {
				padding:10px 20px 0 20px;
				ol {
					display:block;
					position:absolute;
					bottom:0;
					margin-bottom:-4px;
					li {
						list-style-type:none;
						display:block;
						float:left;
						margin-right:6px;
						margin-bottom:4px;
						a {
							display:inline-block;
							background:white;
							padding:4px 10px;
							color:$text-grey;
							font-style:italic;
							font-size:12px;
							font-weight:normal;
							&:before {
								content:"#";
							}
						}
					}
				}
			}
			
			
		}
	
	}
	
	
	
	/* Become a Volunteer */
	
	body.node-type-structure.becomevolunteer {
	
		#main {padding-top:50px;padding-bottom:6em;}
		
		.paragraphs-item-raw-block {
			font-size:1.2em;
			line-height:1.6em;
			color:$text-black;
			p {
				margin-bottom:1em;
			}
		}
		
		.paragraphs-items-field-paragraphs {
			margin-top:0;
		}
		
		.view-display-id-meet_volunteer_block {
			display: block;
			z-index: 10;
			position: relative;
			padding-left: 3000px;
			margin-left: -3000px;
			padding-right: 3000px;
			margin-right: -3000px;
			height: 430px;
			background: #E6E6E6;
			overflow: hidden;
			
			.view-content {
				width:980px;
				margin-left:-114px;
			}
			
			.views-field-field-team-image {
				position:absolute;
				bottom:0;
				margin-bottom:-4px;
			}
			
			.views-field-title {
				margin-left:300px;
				margin-top:50px;
				.views-label {
					display:block;
					font-size:18px;
					font-weight:600;
					text-transform:uppercase;
					letter-spacing:1px;
					margin-bottom:16px;
					
				}
				
				.field-content {
					font-size:28px;
					font-weight:600;
					color:$text-black;
					margin-bottom:30px;
					display:block;
					
				}
			}
			
			.views-field-field-team-bio {
				font-size:1.2em;
				line-height:1.6em;
				margin-left:300px;
			}
			
			.views-field-field-amani-tags {
				padding:10px 20px 0 20px;
				ol {
					display:block;
					position:absolute;
					bottom:0;
					margin-bottom:-4px;
					margin-left:300px;
					li {
						list-style-type:none;
						display:block;
						float:left;
						margin-right:16px;
						margin-bottom:4px;
						a {
							display:inline-block;
							background:white;
							padding:6px 20px;
							color:$text-grey;
							font-style:italic;
							font-size:14px;
							font-weight:normal;
							&:before {
								content:"#";
							}
						}
					}
				}
			}
		}
		
		.view-display-id-current_openings_block {
			
			margin-top:-2em;
			
			.view-header h3 {
				font-size:1.4em;
				letter-spacing:1px;
			}
			
			.views-field-title {
				a {
					color:$text-black;
					font-size:1.4em;
					line-height:24px;
					text-transform:uppercase;
					margin-bottom:14px;
					display:block;
					letter-spacing:1px;
					font-weight:600;
				}
			}
			
			.views-field-body {
				font-size:1.2em;
				line-height:1.6em;
			}
			
			ol {
				> li {
					list-style-type:none;
					
						display:block;
						margin-right:10px;
						background:$soft-grey;
						float:left;
						width:204px;
						height:430px;
						padding:34px 20px;
						position:relative;
						
						&:nth-child(3) {
							margin-right:0;
						}
					
				}
			}	
			
			.views-field-field-opportunity-tags {
				padding:0;
				ul {
					display:block;
					position:absolute;
					bottom:0;
					margin-bottom:-4px;
					li {
						list-style-type:none;
						display:block;
						float:left;
						margin-right:6px;
						margin-bottom:4px;
						margin-top:4px;
						a {
							display:inline-block;
							background:white;
							padding:6px 20px;
							color:$text-grey;
							font-style:italic;
							font-size:13px;
							font-weight:normal;
							&:before {
								content:"#";
							}
						}
					}
				}
			}
		
		
		}
	
		#volunteer-landing-buttons {
		
			display:block;
			float:left;
			width:752px;
			margin-bottom:60px;
			margin-top:-10px;
			
			#volunteer-general-app-link {
				display:block;
				float:left;
				width:331px;
				margin-right:10px;
				background:$grey;
				color:white;
				font-weight:600;
				font-size:18px;
				margin-bottom:6px;
				padding:10px 20px;
				height:110px;
				span {
					display:block;
					font-weight:300;
				}
			}
			
			#volunteer-current-openings-link {
				display:block;
				float:left;
				width:331px;
				margin-right:0;
				background:$orange;
				color:white;
				font-weight:600;
				font-size:18px;
				margin-bottom:6px;
				padding:10px 20px;
				height:110px;
				span {
					display:block;
					font-weight:300;
				}
			}
		}
	
	}
	
	
	/* Current Openings */
	
	body.page-currentopenings {
	
		#main {
			padding-bottom:6em;
		}
	
		h1#page-title {
			font-weight:600;
			font-size:1.6em;
			margin-top:0;
			text-transform:uppercase;
			letter-spacing:1px;
			margin-bottom:30px;
		}
		
		.view-display-id-current_openings_page {
			
			.views-field-title {
				margin-left:-40px;
					color:$text-black;
					font-weight:600;
					font-size:26px;
					display:block;
					margin-bottom:16px;
					cursor:pointer;
					.views-label {
						padding-right:24px;
						font-size:36px;
						display:block;
						float:left;
					}
			}
			
			.views-field-body {
				font-size:1.2em;
				line-height:1.6em;
				margin-left:-8px;
				margin-bottom:10px;
			}
			
			.view-footer {
				display:block;
				float:left;
				width:752px;
				margin-top:80px;
				margin-bottom:20px;
			}
			
			#current-openings-general-application {
				display:block;
				float:left;
				width:331px;
				margin-right:0;
				background:$orange;
				color:white;
				font-weight:600;
				font-size:18px;
				margin-bottom:10px;
				padding:20px 20px 10px 20px;
				height:110px;
				span {
					display:block;
					font-weight:300;
				}
			}
			
			#current-openings-bottom-text {
				display:block;
				float:left;
				width:341px;
				margin-right:40px;
				margin-bottom:6px;
				height:110px;
				font-size:1.2em;
				line-height:1.6em;
			}
			
			.views-field-field-opportunity-tags {
				padding-top:30px;
				ol {
					display:block;
					position:absolute;
					bottom:0;
					margin-bottom:-4px;
					li {
						list-style-type:none;
						display:block;
						float:left;
						margin-right:6px;
						margin-bottom:4px;
						a {
							display: inline-block;
							background: white;
							padding: 4px 10px;
							color: $text-grey;
							font-style: italic;
							font-size: 14px;
							font-weight: normal;
							&:before {
								content:"#";
								font-style:italic;
							}
						}
					}
				}
			}
			
			ol {
				li.views-row {
					list-style-type:none;
					display: block;
					z-index: 10;
					position: relative;
					padding-left: 3000px;
					margin-left: -3000px;
					padding-right: 3000px;
					margin-right: -3000px;
					background: #E6E6E6;
					overflow: hidden;
					margin-bottom:1em;
					padding-top:40px;
					padding-bottom:20px;
				}
			}
		
		
		}
	
	}
	
	
	/* Become a Corporate Sponsor */
	
	body.node-type-structure.becomesponsor {
	
		h1#page-title {display:none;}
		
		.anchor-link-to-box {
			float:left !important;
			.paragraphs-item-light-grey-text-box-with-link-to {
				padding:0;
				a {
					width:230px;
					display:block;
					height:280px;
					background:$soft-grey;
					margin-right:20px;
					text-align:left;
					color:$blue;
					text-transform:uppercase;
					letter-spacing:1px;
					padding:20px 0 0 0;
					text-indent:20px;
				}
			}

		}
		
		.project-box {
			&:before {
				content: "Sponsorship Opportunities";
				display: block;
				float: left;
				margin-top: -40px;
				text-transform: uppercase;
				font-size: 1.4em;
				font-weight: 600;
				position: absolute;
				margin-bottom:40px;
			}
		}
		
		.hackathon-box {
			float:left !important;
			.paragraphs-item-light-grey-text-box-with-link-to {
				padding:0;
				a {

					margin-right:0;
				}
			}

		}
		
		
		
		#become-sponsor-buttons {
		
			width:752px;
			margin-top:1em;
			
			#visit-sponsors-link {
				display:block;
				float:left;
				width:331px;
				margin-right:10px;
				background:$grey;
				color:white;
				font-weight:600;
				font-size:18px;
				margin-bottom:6px;
				padding:10px 20px;
				height:110px;
				span {
					display:block;
					font-weight:300;
				}
			}
			
			#download-sponsor-link {
				display:block;
				float:left;
				width:331px;
				margin-right:0;
				background:$orange;
				color:white;
				font-weight:600;
				font-size:18px;
				margin-bottom:6px;
				padding:10px 20px;
				height:110px;
				span {
					display:block;
					font-weight:300;
				}
			}
			
		}
	
	
	}
	
	
	/* Team - Node */
	
	body.node-type-team {
	
		h1#page-title {display:none;}
	
		.view-peace-geeks-team.view-display-id-team_node_override {
			
			.views-row {display:block;float:left;width:752px;}
			
			.views-field-field-team-image {
				width:274px;
				float:left;
				display:block;
				margin-right:2em;
				margin-top:94px;
			}
			
			.views-field-title {
				font-size:3em;
				color:$blue;
				font-weight:300;
				display:block;
				width:444px;
				margin-bottom:12px;
				float:right;
				line-height:28px;
			}
			
			.views-field-field-team-title {
				display:block;
				font-style:italic;
				font-size:1.3em;
				font-weight:300;
				width:444px;
				float:right;
			}
			
			.views-field-field-team-bio {
				display:block;
				font-size:1.1em;
				line-height:1.6em;
				width:444px;
				border-bottom:2px solid $blue;
				padding-bottom:1em;
				margin-bottom:1em;
				margin-top:2em;
				float:right;
			}
			
						
			.views-field-field-email {
				display:block;
				float:right;
				width:444px;
				a {
					color:$text-black;
				}
				span.views-label {
					display:block;
					float:left;
					padding-right:8px;
				}
			}
			
			.views-field-nothing {
				display:block;
				float:right;
				width:444px;
				margin-bottom:10px;
				font-weight:600;
			}
			
			.views-field-field-facebook-link {
				display:block;
				float:right;
				width:444px;
				a {
					color:$text-black;
				}
				span.views-label {
					display:block;
					float:left;
					padding-right:8px;
				}
			}
			
			.views-field-field-twitter-link {
				display:block;
				float:right;
				width:444px;
				a {
					color:$text-black;
				}
				span.views-label {
					display:block;
					float:left;
					padding-right:8px;
				}
			}
			
			.views-field-field-github-link {
				display:block;
				float:right;
				width:444px;
				a {
					color:$text-black;
				}
				span.views-label {
					display:block;
					float:left;
					padding-right:8px;
				}
			}
			
			.views-field-field-linkedin-link {
				display:block;
				float:right;
				width:444px;
				a {
					color:$text-black;
				}
				span.views-label {
					display:block;
					float:left;
					padding-right:8px;
				}
			}
		
		}
		
		#content {
			min-height:700px !important;
			padding-bottom:6em;
		}
		
		
	
	}

}