.node-service-location.view-mode-full {
	.group-left{
		width:35% !important;
	}
	.group-right{
		width:55% !important;
		padding:5%;
		border-left:1px solid #ccc;
	}
	.field{
		margin-bottom:15px;
		.field-label{
			margin-right:5px;
		}
		.geolocation-googlemaps-dynamic{
			width:100% !important;
		}
	}
}
//English
.en{

}
//arabic RTL
.ar{
	.node-service-location.view-mode-full {
		.group-right{
			border-right:1px solid #ccc;
		}
		.field-label{
			margin-left:5px;
		}
	}
}


//blocks
.view-service-partner-login{
	.view-content{
		position:relative;
		.views-field-field-service-partner-full-name{
			h3{
		    line-height: 0px;
			}
		}
		.views-field-nothing-5 {
	    position: absolute;
	    right: 20%;
	    top: 0px;
	    margin: 10px;
	    background: #eee;
	    padding: 7px;
	    width: 33% !important;
			.link-wrapper {
				a {
					    padding: 0 7px;
				}
			}
		}
		.views-field-nothing-3 {
    	position: absolute;
    	bottom: -69px;
			background: #eee;
			margin: 10px;
			padding: 7px;
    	left: 110px;
			width:auto !important;

		}
		.views-field-field-logo{
	    position: absolute;
	    right: 0px;
			width:auto !important;
		}
		.views-field {
			width:80%;
		}
	}

}
.view-service-location-list{
	.views-table.cols-5{
		width:100%;
	}
}
.ar{
	.view-service-partner-login{
		.view-content{
			position:relative;
			.views-field-field-service-partner-full-name{
				h3{
			    line-height: 0px;
				}
			}
			.views-field-nothing-5 {
		    left: 20%;
		    right: auto;
			}
			.views-field-nothing-3 {
	    	right: 110px;
				left:auto;
			}
			.views-field-field-logo{
		    left: 0px;
				right:auto;
			}
			.views-field {
				width:80%;
			}
		}

	}
	.view-service-location-list{
		.views-table.cols-5{
			width:100%;
		}
	}
}