.right-col {
  position: absolute;
  top: 70px;
  left: 100px;
  background-color: orange;
  width: 400px;
  height: 380px;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
}

.block-views-front_page_slideshow-block {
  position: relative;
}

.region.region-home-content-top-rotator {
  margin-top: 35px;
}

// custom font wont read from file for som reason.
.field-content.slide_title {
  font-family: 'Open Sans Light Italic', sans-serif;
  font-style: italic;
  font-size: 65%;
  line-height: 125%;
  color: #FFF;
  position: absolute;
  top: 20px;
}

.field-content.slide_body {
  font-family: 'Open Sans Semi Bold', sans-serif;
  font-weight: bold;
  font-size: 135%;
  color: #FFF;
  position:  absolute;
  top: 50px;
  line-height: 175%;
}

.region.region-home-content-top-callout-right {
  color: blue;
}
