//
// @slideshow.scss
// Css style for frontpage slideshow
//


.views-slideshow-cycle-main-frame-row, .views-slideshow-cycle-main-frame {
  width: 100% !important;
}

.views-slideshow-cycle-main-frame-row img {
  height: auto !important;
}

.views-slideshow-cycle-main-frame-row {
  //height: auto !important;
}


.slideshow {
  position: relative;
  img {
    display: table;
    margin: 0 auto;
  }
  .description,
  .button a,
  .views-slideshow-controls-bottom,
  .title a {
    position: absolute;
    text-align: center;
    width: auto;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  .title a {
    top: 20%;
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
    @include font-size(20px);
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 25%;
    @include breakpoint($desktop) {
      @include font-size(40px);
      line-height: 50px;
      margin: 0 15%;
    }
  }
  .description {
    display: none;
    top: 45%;
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
    @include font-size(20px);
    max-width: 410px;
    line-height: 29px;
    @include breakpoint($desktop) {
      display: block;
    }
  }
  .button a {
    border: 1px solid $white;
    padding: 5px 5px;
    top: 75%;
    -webkit-transform: translateY(-75%);
    -ms-transform: translateY(-75%);
    transform: translateY(-75%);
    @include font-size(13px);
    text-transform: uppercase;
    max-width: 150px;
    background-color: rgba(71,79,94,0.9);
    @include breakpoint($desktop) {
      @include font-size(18px);
      padding: 15px 30px;
      background-color: rgba(71,79,94,0.85);
    }
    &:hover {
      @include opacity(0.7);
    }
  }

  .title a,
  .description,
  .button a {
    text-shadow: -1px 0px 6px rgba(0, 0, 0, 0.59);
  }

  .views-slideshow-controls-bottom {
    display: none;
    bottom: 5px;
    z-index: 100;
    @include breakpoint($desktop) {
      display: block;
    }
    span {
      display: inline-block;
      background-image: url('../images/arrows-slideshow.png');
      width: 41px;
      height: 41px;
      @include hide-text;
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        background-position: -41px 0;
        margin: 0 0 0 40px;
      }
    }
  }
}

//mobile 
@media (max-width: $desktop) {
  .slideshow {
    max-height: 300px;
    overflow: hidden;
    
    .button a {
      top: 50%;
    }
  }
  .views-slideshow-cycle-main-frame-row img {
    max-width: none;
    width: 100%;
  }
}

#block-views-front-page-slideshow-block {
  margin: -20px -200px 0;
}

#block-amani-global-behind-front-blocks-image {
  position: absolute;
  top: 935px;
  z-index: -1;
  margin: 0 -200px;
  display: block;
  
  @media (max-width: $desktop) {
    display: none;
  }
}

