.right-col {
  position: absolute;
  top: 87px;
  left: 75px;
  background-color: orange;
  width: 400px;
  height: 363px;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
}

.region.region-home-content-top-rotator {
  margin-top: 35px;
}

// custom font wont read from file for som reason.
.field-content.slide_title {
  font-family: 'Open Sans Light Italic', sans-serif;
  font-style: italic;
  position: absolute;
  top: 4px;
}

.field-content.slide_body {
  font-family: sans-serif;
  font-weight: bold;
  position:  absolute;
  top: 65px;
}
