// _blocks.sass


// Footer _blocks
#block-boxes-amani_powered_by
  border-right: 1px solid #fff
#block-system-main-menu,
#block-menu-menu-amani-main-menu
  border-right: 1px solid #fff
  .content
    ul
      li
        list-style-type: none
        list-style-image: none

// Locale block
#block-locale-language
  position: absolute
  right: 0
  top: 0px
  ul.language-switcher-locale-url
    li
      list-style-type: none
      display: inline-block
      margin-left: 10px

// Learn more block
.sidebar
  #block-menu-menu-learn-more
    background: none
    box-shadow: 0 0 0
    padding: 0
    h2.block-title
      border-bottom: 5px solid darken($grey, 20%)
    .menu
      li
        padding: 10px 0
        border-bottom: 1px solid $grey
        font-size: 16px
        margin-left: 0

// Homepage recent articles block
#block-views-news_and_events-block_1
  background: #fff
  box-shadow: 5px 5px 5px #e9e9e9
  padding: $padding
  margin-bottom: $margin
  h2.block-title
    margin: 0
    padding-bottom: 0
  .views-row
    border-bottom: 1px solid $grey
    padding: $padding 0
  .views-field-title
    font-family: "bariol_regularregular"
    font-size: 16px
    text-transform: uppercase
  .views-field-body
    font-family: "Georgia"
  .views-field-view-node
    text-align: right

// Twitter block
.sidebar
  #block-views-tweets-block_1
    background: none
    box-shadow: 0 0 0
    padding: 0
    h2.block-title
      border-bottom-color: $grey_dark
    li.views-row
      margin: 0
      list-style-type: none
      padding: $padding/2 0
      border-bottom: 1px solid $grey
  // Front bottom block
  #block-boxes-front_second_sidebar_bottom
    background: none
    box-shadow: 0 0 0
    padding: 0

// Calendar block.
.sidebar
  #block-views-calendar_of_events-list,
  #block-views-calendar_of_events-calendar
    background: none
    padding: 0
    box-shadow: 0 0 0
    h2.block-title
      border-color: $grey
    table
      tr
        background: none
        td
          &.empty
            background: none
    .date-prev
      margin-left: 0

// Donate block
#block-boxes-amani_donate
  background: #fff
  box-shadow: 5px 5px 5px #e9e9e9
  font-size: 20px
  text-align: center
  .boxes-box-content
    font-style: oblique
    a
      color: #333

#block-boxes-pilot_project
  background: #fff
  box-shadow: 5px 5px 5px #e9e9e9
  font-size: 20px
  text-align: center
  .boxes-box-content
    font-style: oblique
    a
      color: #333
      span
        color: $orange
        display: block

// Get involved block.
.sidebar
  #block-views-get_involved-block_2
    //background: none
    //padding: 0
    //box-shadow: 0 0 0
    h2.block-title
      text-align: center
      font-size: 30px
      font-style: oblique
    .views-row
      @include fill-parent
      @include omega
      overflow: hidden
      img
        width: 100%
        height: auto
#block-views-get_involved-block_1
  .views-row
    @include span-columns(6)
    @include omega(2n)
    img
      width: 100%
      height: auto
    .views-field-field-image
      // @include span-columns(2)

// Rotator
#views_slideshow_cycle_teaser_section_front_page_slideshow-block
  height: 292px !important

// Search block
#block-search-form
  position: relative
  @include span-columns(4)
  @include omega
  #header-region &
    @include shift(8)
  .form-submit
    position: absolute
    top: $gutter/3
    left: 10px
    background: url('../images/icons/search_icon.png') no-repeat
    border: 0
    font-size: 0
    text-indent: -999px
    z-index: 9
    display: block
    height: 25px
    width: 25px
    #header-region &
      background-position: 0 -30px
  .form-text
    border: 0
    width: 100%
    @include border-radius(5px)
    font-size: 18px
    padding: $padding/3
    padding-left: $padding + 5px
    #header-region &
      box-shadow: 5px 5px 5px #e9e9e9
      color: $orange

#block-views-front_page_slideshow-block
  .views-slideshow-cycle-main-frame-row
    width: 100% !important
    margin-bottom: $margin
    .views-field-title
      background: #fff
      padding: $padding
    .views-field-body
      background: #fff
      padding: $padding
  img
    width: 100%
    height: auto

// meta menu
#block-menu-menu-meta
  #header-region &
    @include span-columns(4)
    @include shift(8)
    margin-top: $margin/4
    .content
      font-size: 16px
      li
        margin-right: $margin/4
        padding-right: 0
        list-style-type: none
        display: inline-block
        &:last-child
          background: none
          padding-right: 0
          margin-right: 0
        a
          &:link, &:visited,
          &.active
            color: $orange
          &:hover, &:active
            color: lighten($orange, 10%)


// Map 2x region
.region-map-region-2x
  .block
    @include span-columns(4 of 8)
    @include omega(2n)
// Map 3x region
.region-map-region-3x
  margin-top: $margin
  .block
    @include span-columns(2.666 of 8)
    @include omega(3n)
    margin-top: $margin
    margin-bottom: $margin
    h2.block-title
      font-size: 1.2em

// social menu
#block-menu-menu-social-media
  #header-region &
    @include span-columns(4)
    @include shift(8)
    @include omega
    position: absolute
    bottom: $gutter
    right: 0
    .content
      font-size: 16px
      li
        margin-right: $margin/4
        padding-right: 0
        list-style-type: none
        display: inline-block
        float: right
        &:last-child
          background: none
          padding-right: 0
          margin-right: 0
        &.facebook
          a
            background: url('../images/icons/social_icons.png') no-repeat
            background-position: -50px 0
            &:hover
              background-position: -50px -47px
        &.twitter
          a
            background: url('../images/icons/social_icons.png') no-repeat
            background-position: 0 0
            &:hover
              background-position: 0 -47px
        a
          display: block
          height: 38px
          width: 38px
          text-indent: -999px
          overflow: hidden
          &:link, &:visited,
          &.active
            color: $orange
          &:hover, &:active
            color: lighten($orange, 10%)