// _blocks.sass


// Footer _blocks
#block-boxes-amani_powered_by
  border-right: 1px solid #fff
#block-system-main-menu
  border-right: 1px solid #fff
  .content
    ul
      li
        list-style-type: none
        list-style-image: none

#block-search-form
  position: relative
  .form-submit
    position: absolute
    top: $gutter/4
    left: 10px
    background: url('../images/icons/search_icon.png') no-repeat
    border: 0
    font-size: 0
    text-indent: -999px
    z-index: 9
    display: block
    height: 25px
    width: 25px
  .form-text
    border: 0
    @include border-radius(5px)
    font-size: 18px
    padding: $padding/3
    padding-left: $padding + 5px