@charset "IBM437";
/* Font styles. */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px/1.5em "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em; }

/* Links */
a:link, a:visited {
  color: blue;
  text-decoration: none; }

a:hover, a:active {
  color: red;
  text-decoration: underline; }

/* Titles. */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em; }

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.4em;
  margin-bottom: 1em; }

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em; }

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0; }

h6 {
  font-size: 1em;
  font-weight: bold; }

/* Paragraph styles. */
p {
  margin: 0 0 1em 0; }

/* List styles. */
ul, ol {
  margin-left: 0;
  padding-left: 0; }

/* Table styles. */
table {
  width: 99%; }

tr.even td,
tr.odd td {
  padding: 10px 5px; }

tr.odd {
  background-color: white; }

/* Code. */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa; }

/* List styles. */
ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }
    ul ul ul {
      list-style-type: square; }
      ul ul ul ul {
        list-style-type: circle; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }
    ol ol ol {
      list-style-type: decimal; }

/* Abbreviation. */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap; }

/* UI improvments. */
#system-themes-form img {
  width: 100px; }

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777; }

#edit-delete {
  color: #cc0000; }

/* Console, style from slate theme. */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee; }

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55; }

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522; }

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #414042;
  font-family: "bariol_regularregular"; }

#main,
#content-top {
  background: #eef0f4; }

a {
  outline: 0;
  border: 0;
  -webkit-transition: color 0.4s ease, background-color 0.4s ease;
  -moz-transition: color 0.4s ease, background-color 0.4s ease;
  -ms-transition: color 0.4s ease, background-color 0.4s ease;
  -o-transition: color 0.4s ease, background-color 0.4s ease;
  transition: color 0.4s ease, background-color 0.4s ease; }
  a:link, a:visited {
    color: #ee8f1c; }
  a:hover, a:active {
    color: #f2a64b;
    text-decoration: none; }

#name-and-slogan {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 23.40426%; }
  #name-and-slogan:last-child {
    margin-right: 0; }
  #name-and-slogan .site-slogan {
    font-style: oblique;
    font-size: 14px;
    color: #999999;
    font-family: Georgia; }

#site-name a {
  display: block;
  height: 100px;
  width: 130px;
  background-repeat: no-repeat;
  text-indent: -999px; }

#header {
  background: white;
  box-shadow: 0 8px 8px #c8c8c8; }
  #header .container-inner {
    position: relative; }

#header-region {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 74.46809%;
  margin-right: 0; }
  #header-region:last-child {
    margin-right: 0; }

.region-home-content-top-rotator {
  width: 100%;
  margin-right: 0;
  margin-bottom: 30px;
  background: white; }
  .region-home-content-top-rotator .left-col {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 65.95745%; }
    .region-home-content-top-rotator .left-col:last-child {
      margin-right: 0; }
  .region-home-content-top-rotator .right-col {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
    margin-right: 0;
    padding: 30px; }
    .region-home-content-top-rotator .right-col:last-child {
      margin-right: 0; }
    .region-home-content-top-rotator .right-col h2 {
      font-size: 24px;
      line-height: 1.24; }

.region-home-content-top-callout-right {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 23.40426%;
  margin-right: 0; }
  .region-home-content-top-callout-right:last-child {
    margin-right: 0; }
  .region-home-content-top-callout-right .block {
    width: 100%;
    margin-right: 0;
    padding: 30px;
    background: white;
    margin-bottom: 30px; }

.region-home-content-top-static-region {
  width: 100%;
  margin-right: 0; }
  .region-home-content-top-static-region .block {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 31.91489%;
    padding: 30px;
    background: white; }
    .region-home-content-top-static-region .block:last-child {
      margin-right: 0; }
    .region-home-content-top-static-region .block:nth-child(3n) {
      margin-right: 0; }
    .region-home-content-top-static-region .block .views-field-field-image img {
      width: 100%;
      height: auto; }
    .region-home-content-top-static-region .block .views-field-title {
      text-transform: uppercase;
      margin: 5px 0;
      font-size: 16px;
      color: #ee8f1c; }

.sf-menu.sf-horizontal.sf-shadow ul,
.sf-menu.sf-vertical.sf-shadow ul,
.sf-menu.sf-navbar.sf-shadow ul ul {
  background: white;
  padding: 15px !important;
  box-shadow: 0 0 20px #cccccc;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px; }

.page-programs .views-row {
  display: block;
  float: left;
  margin-right: 3.22581%;
  width: 48.3871%;
  background: white;
  padding: 30px;
  margin-bottom: 30px; }
  .page-programs .views-row:last-child {
    margin-right: 0; }
  .page-programs .views-row:nth-child(2n) {
    margin-right: 0; }
  .page-programs .views-row .views-field-title {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 5px; }
  .page-programs .views-row .views-field-body {
    font-family: "Georgia"; }
  .page-programs .views-row .views-field-field-media img {
    width: 100%;
    height: auto; }

#header-region #navigation, #header-region
#block-superfish-superfish_1, #header-region
#block-superfish-1, #header-region
#block-menu-menu-amani-main-menu {
  position: absolute;
  bottom: 30px; }
  #header-region #navigation .content, #header-region
  #block-superfish-superfish_1 .content, #header-region
  #block-superfish-1 .content, #header-region
  #block-menu-menu-amani-main-menu .content {
    font-size: 16px; }
    #header-region #navigation .content li, #header-region
    #block-superfish-superfish_1 .content li, #header-region
    #block-superfish-1 .content li, #header-region
    #block-menu-menu-amani-main-menu .content li {
      margin-right: 7.5px;
      background: url("../images/icons/bullet.png") 100% 50% no-repeat;
      padding-right: 15px;
      padding-left: 0;
      margin-left: 0;
      display: inline-block;
      padding-top: 0; }
      #header-region #navigation .content li:last-child, #header-region
      #block-superfish-superfish_1 .content li:last-child, #header-region
      #block-superfish-1 .content li:last-child, #header-region
      #block-menu-menu-amani-main-menu .content li:last-child {
        background: none;
        padding-right: 0;
        margin-right: 0; }
      #header-region #navigation .content li a:link, #header-region #navigation .content li a:visited, #header-region #navigation .content li a.active, #header-region
      #block-superfish-superfish_1 .content li a:link, #header-region
      #block-superfish-superfish_1 .content li a:visited, #header-region
      #block-superfish-superfish_1 .content li a.active, #header-region
      #block-superfish-1 .content li a:link, #header-region
      #block-superfish-1 .content li a:visited, #header-region
      #block-superfish-1 .content li a.active, #header-region
      #block-menu-menu-amani-main-menu .content li a:link, #header-region
      #block-menu-menu-amani-main-menu .content li a:visited, #header-region
      #block-menu-menu-amani-main-menu .content li a.active {
        color: #ee8f1c; }
      #header-region #navigation .content li a:hover, #header-region #navigation .content li a:active, #header-region
      #block-superfish-superfish_1 .content li a:hover, #header-region
      #block-superfish-superfish_1 .content li a:active, #header-region
      #block-superfish-1 .content li a:hover, #header-region
      #block-superfish-1 .content li a:active, #header-region
      #block-menu-menu-amani-main-menu .content li a:hover, #header-region
      #block-menu-menu-amani-main-menu .content li a:active {
        color: #f2a64b; }

#sidebar-second .block {
  background: white;
  padding: 15px 10px 30px;
  box-shadow: 2px 3px 4px #c8c8c8;
  margin: 30px 0; }
  #sidebar-second .block:first-child {
    margin-top: 0; }
  #sidebar-second .block:last-child {
    margin-bottom: 0; }
  #sidebar-second .block h2.block-title {
    font-family: "bariol_regularregular";
    font-size: 20px;
    border-bottom: 2px solid #ee8f1c;
    text-align: left;
    color: #414042;
    padding-bottom: 7.5px;
    margin-bottom: 15px; }
  #sidebar-second .block ul.menu li {
    list-style-type: none;
    list-style-image: none; }
  #sidebar-second .block a:after {
    content: " »"; }
  #sidebar-second .block .block {
    padding: 0;
    box-shadow: none; }

.view-news-and-events .views-row {
  overflow: hidden; }
  .view-news-and-events .views-row .views-field-field-media {
    display: block;
    float: left;
    margin-right: 5.26316%;
    width: 36.84211%; }
    .view-news-and-events .views-row .views-field-field-media:last-child {
      margin-right: 0; }
    .view-news-and-events .views-row .views-field-field-media img {
      width: 100%;
      height: auto; }

#footer {
  background: #414042;
  color: white;
  font-family: "georgia"; }
  #footer .content {
    font-size: 14px; }
  #footer a:link, #footer a:visited {
    color: white; }
  #footer a:hover, #footer a:active {
    color: #f2a64b;
    text-decoration: none; }
  #footer #block-boxes-amani_powered_by {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 23.40426%; }
    #footer #block-boxes-amani_powered_by:last-child {
      margin-right: 0; }
  #footer #block-system-main-menu,
  #footer #block-menu-menu-amani-main-menu,
  #footer #block-menu-menu-meta {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 23.40426%; }
    #footer #block-system-main-menu:last-child,
    #footer #block-menu-menu-amani-main-menu:last-child,
    #footer #block-menu-menu-meta:last-child {
      margin-right: 0; }
    #footer #block-system-main-menu ul.menu li,
    #footer #block-menu-menu-amani-main-menu ul.menu li,
    #footer #block-menu-menu-meta ul.menu li {
      list-style-type: none;
      list-style-image: none; }
  #footer #block-search-form {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 23.40426%;
    margin-top: 30px; }
    #footer #block-search-form:last-child {
      margin-right: 0; }

#block-boxes-amani_powered_by {
  border-right: 1px solid white; }

#block-system-main-menu,
#block-menu-menu-amani-main-menu {
  border-right: 1px solid white; }
  #block-system-main-menu .content ul li,
  #block-menu-menu-amani-main-menu .content ul li {
    list-style-type: none;
    list-style-image: none; }

#boxes-box-amani_special_thanks {
  font-style: italic; }

#block-locale-language {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 31.42857%;
  margin-left: 40%;
  margin-bottom: 7.5px; }
  #block-locale-language:last-child {
    margin-right: 0; }
  #block-locale-language ul.language-switcher-locale-url {
    text-align: right; }
    #block-locale-language ul.language-switcher-locale-url li {
      list-style-type: none;
      display: inline-block;
      margin-left: 10px;
      font-size: 16px; }

.sidebar #block-menu-menu-learn-more {
  background: none;
  box-shadow: 0 0 0;
  padding: 0; }
  .sidebar #block-menu-menu-learn-more h2.block-title {
    border-bottom: 5px solid #999999; }
  .sidebar #block-menu-menu-learn-more .menu li {
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
    font-size: 16px;
    margin-left: 0; }

#block-views-news_and_events-block_1 {
  background: white;
  box-shadow: 5px 5px 5px #e9e9e9;
  padding: 30px;
  margin-bottom: 30px; }
  #block-views-news_and_events-block_1 h2.block-title {
    margin: 0;
    padding-bottom: 0; }
  #block-views-news_and_events-block_1 .views-row {
    border-bottom: 1px solid #cccccc;
    padding: 30px 0; }
  #block-views-news_and_events-block_1 .views-field-title {
    font-family: "bariol_regularregular";
    font-size: 16px;
    text-transform: uppercase; }
  #block-views-news_and_events-block_1 .views-field-body {
    font-family: "Georgia"; }
  #block-views-news_and_events-block_1 .views-field-view-node {
    text-align: right; }

.sidebar #block-views-tweets-block_1 {
  background: none;
  box-shadow: 0 0 0;
  padding: 0; }
  .sidebar #block-views-tweets-block_1 h2.block-title {
    border-bottom-color: #414042; }
  .sidebar #block-views-tweets-block_1 li.views-row {
    margin: 0;
    list-style-type: none;
    padding: 15px 0;
    border-bottom: 1px solid #cccccc; }
.sidebar #block-boxes-front_second_sidebar_bottom {
  background: none;
  box-shadow: 0 0 0;
  padding: 0; }

.block-fb-likebox iframe {
  width: 100% !important; }

.sidebar #block-views-calendar_of_events-list,
.sidebar #block-views-calendar_of_events-calendar {
  background: none;
  padding: 0;
  box-shadow: 0 0 0; }
  .sidebar #block-views-calendar_of_events-list h2.block-title,
  .sidebar #block-views-calendar_of_events-calendar h2.block-title {
    border-color: #cccccc; }
  .sidebar #block-views-calendar_of_events-list table tr,
  .sidebar #block-views-calendar_of_events-calendar table tr {
    background: none; }
    .sidebar #block-views-calendar_of_events-list table tr td.empty,
    .sidebar #block-views-calendar_of_events-calendar table tr td.empty {
      background: none; }
  .sidebar #block-views-calendar_of_events-list .date-prev,
  .sidebar #block-views-calendar_of_events-calendar .date-prev {
    margin-left: 0; }

#block-boxes-amani_donate {
  background: white;
  box-shadow: 5px 5px 5px #e9e9e9;
  font-size: 20px;
  text-align: center; }
  #block-boxes-amani_donate .boxes-box-content {
    font-style: oblique; }
    #block-boxes-amani_donate .boxes-box-content a {
      color: #333333; }

#block-boxes-pilot_project {
  background: white;
  box-shadow: 5px 5px 5px #e9e9e9;
  font-size: 20px;
  text-align: center; }
  #block-boxes-pilot_project .boxes-box-content {
    font-style: oblique; }
    #block-boxes-pilot_project .boxes-box-content a {
      color: #333333; }
      #block-boxes-pilot_project .boxes-box-content a span {
        color: #ee8f1c;
        display: block; }

.sidebar #block-views-get_involved-block_2 h2.block-title {
  text-align: center;
  font-size: 30px;
  font-style: oblique; }
.sidebar #block-views-get_involved-block_2 .views-row {
  width: 100%;
  margin-right: 0;
  overflow: hidden; }
  .sidebar #block-views-get_involved-block_2 .views-row img {
    width: 100%;
    height: auto; }

#block-views-get_involved-block_1 .views-row {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 48.93617%; }
  #block-views-get_involved-block_1 .views-row:last-child {
    margin-right: 0; }
  #block-views-get_involved-block_1 .views-row:nth-child(2n) {
    margin-right: 0; }
  #block-views-get_involved-block_1 .views-row img {
    width: 100%;
    height: auto; }

#views_slideshow_cycle_teaser_section_front_page_slideshow-block {
  height: 292px !important; }

#block-search-form {
  position: relative;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 31.91489%;
  margin-right: 0; }
  #block-search-form:last-child {
    margin-right: 0; }
  #header-region #block-search-form {
    margin-left: 68.08511%; }
  #block-search-form .form-submit {
    position: absolute;
    top: 10px;
    left: 10px;
    background: url("../images/icons/search_icon.png") no-repeat;
    border: 0;
    font-size: 0;
    text-indent: -999px;
    z-index: 9;
    display: block;
    height: 25px;
    width: 25px; }
    #header-region #block-search-form .form-submit {
      background-position: 0 -30px; }
  #block-search-form .form-text {
    border: 0;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    font-size: 18px;
    padding: 10px;
    padding-left: 35px; }
    #header-region #block-search-form .form-text {
      box-shadow: 5px 5px 5px #e9e9e9;
      color: #ee8f1c; }

#block-views-front_page_slideshow-block .views-slideshow-cycle-main-frame-row {
  width: 100% !important;
  margin-bottom: 30px; }
  #block-views-front_page_slideshow-block .views-slideshow-cycle-main-frame-row .views-field-title {
    background: white;
    padding: 30px; }
  #block-views-front_page_slideshow-block .views-slideshow-cycle-main-frame-row .views-field-body {
    background: white;
    padding: 30px; }
#block-views-front_page_slideshow-block img {
  width: 100%;
  height: auto; }

#header-region #block-menu-menu-meta {
  display: block;
  float: left;
  margin-right: 2.85714%;
  width: 25.71429%;
  margin-right: 0;
  margin-bottom: 7.5px; }
  #header-region #block-menu-menu-meta:last-child {
    margin-right: 0; }
  #header-region #block-menu-menu-meta .content {
    font-size: 16px; }
    #header-region #block-menu-menu-meta .content ul {
      text-align: right; }
    #header-region #block-menu-menu-meta .content li {
      margin-right: 7.5px;
      padding-right: 0;
      padding-top: 0;
      list-style-type: none;
      display: inline-block; }
      #header-region #block-menu-menu-meta .content li:last-child {
        background: none;
        padding-right: 0;
        margin-right: 0; }
      #header-region #block-menu-menu-meta .content li a:link, #header-region #block-menu-menu-meta .content li a:visited, #header-region #block-menu-menu-meta .content li a.active {
        color: #ee8f1c; }
      #header-region #block-menu-menu-meta .content li a:hover, #header-region #block-menu-menu-meta .content li a:active {
        color: #f2a64b; }

.region-map-region-2x .block {
  display: block;
  float: left;
  margin-right: 3.22581%;
  width: 48.3871%; }
  .region-map-region-2x .block:last-child {
    margin-right: 0; }
  .region-map-region-2x .block:nth-child(2n) {
    margin-right: 0; }

.region-map-region-3x {
  margin-top: 30px; }
  .region-map-region-3x .block {
    display: block;
    float: left;
    margin-right: 3.22581%;
    width: 31.17419%;
    margin-top: 30px;
    margin-bottom: 30px; }
    .region-map-region-3x .block:last-child {
      margin-right: 0; }
    .region-map-region-3x .block:nth-child(3n) {
      margin-right: 0; }
    .region-map-region-3x .block h2.block-title {
      font-size: 1.2em; }

#header-region #block-menu-menu-social-media {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 31.91489%;
  margin-left: 68.08511%;
  margin-right: 0;
  position: absolute;
  bottom: 30px;
  right: 0;
  top: 110px; }
  #header-region #block-menu-menu-social-media:last-child {
    margin-right: 0; }
  #header-region #block-menu-menu-social-media .content {
    font-size: 16px; }
    #header-region #block-menu-menu-social-media .content li {
      margin-right: 7.5px;
      padding-right: 0;
      list-style-type: none;
      display: inline-block;
      float: right; }
      #header-region #block-menu-menu-social-media .content li:last-child {
        background: none;
        padding-right: 0;
        margin-right: 0; }
      #header-region #block-menu-menu-social-media .content li.facebook a {
        background: url("../images/icons/social_icons.png") no-repeat;
        background-position: -28px 0; }
        #header-region #block-menu-menu-social-media .content li.facebook a:hover {
          background-position: -28px -27px; }
      #header-region #block-menu-menu-social-media .content li.twitter a {
        background: url("../images/icons/social_icons.png") no-repeat;
        background-position: 0 0; }
        #header-region #block-menu-menu-social-media .content li.twitter a:hover {
          background-position: 0 -27px; }
      #header-region #block-menu-menu-social-media .content li a {
        display: block;
        height: 22px;
        width: 22px;
        text-indent: -999px;
        overflow: hidden; }
        #header-region #block-menu-menu-social-media .content li a:link, #header-region #block-menu-menu-social-media .content li a:visited, #header-region #block-menu-menu-social-media .content li a.active {
          color: #ee8f1c; }
        #header-region #block-menu-menu-social-media .content li a:hover, #header-region #block-menu-menu-social-media .content li a:active {
          color: #f2a64b; }

.page-node .node > .content {
  background: white;
  padding: 30px;
  box-shadow: 2px 3px 4px #c8c8c8;
  font-family: "Georgia";
  line-height: 1.4; }
  .page-node .node > .content .field-label {
    color: #ee8f1c;
    font-family: "bariol_regularregular";
    font-weight: normal;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 30px; }
  .page-node .node > .content .field-name-field-incident-geolocation .openlayers-map,
  .page-node .node > .content .field-name-field-incident-geolocation .openlayers-container {
    width: 100% !important; }

.page-news-and-events .view-news-and-events {
  background: white;
  background: white;
  padding: 30px;
  box-shadow: 2px 3px 4px #c8c8c8;
  font-family: "Georgia";
  line-height: 1.4; }
  .page-news-and-events .view-news-and-events .views-row {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 30px;
    margin-bottom: 30px; }
    .page-news-and-events .view-news-and-events .views-row.views-row-last {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0; }
    .page-news-and-events .view-news-and-events .views-row .views-field-title {
      font-family: "bariol_regularregular";
      text-transform: uppercase;
      font-size: 16px; }

.page-incident-reports .block-incident-map label span {
  font-weight: normal; }

.page-team h1.title {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 23.40426%; }
  .page-team h1.title:last-child {
    margin-right: 0; }
.page-team .view-id-team.view-display-id-page .views-exposed-form {
  margin-right: 0;
  position: absolute;
  top: -70px;
  right: -30px; }
  .page-team .view-id-team.view-display-id-page .views-exposed-form .views-exposed-widget {
    margin: 0;
    padding: 0;
    padding-left: 30px; }
  .page-team .view-id-team.view-display-id-page .views-exposed-form input {
    border: 0;
    background: white;
    padding: 10px;
    box-shadow: 2px 3px 4px #c8c8c8;
    font-size: 16px;
    width: 200px; }
  .page-team .view-id-team.view-display-id-page .views-exposed-form #edit-keys {
    background: white url("../images/icons/search_icon.png") no-repeat 5% -22px;
    padding-left: 35px; }
  .page-team .view-id-team.view-display-id-page .views-exposed-form select {
    border: 0;
    background: white url("../images/icons/orange_arrow.png") no-repeat 85% 50%;
    margin-right: -80px;
    width: 210px; }
  .page-team .view-id-team.view-display-id-page .views-exposed-form .form-type-select {
    background: white url("../images/icons/orange_arrow.png") no-repeat 95% 50%;
    border: 0;
    background: white;
    padding: 10px;
    box-shadow: 2px 3px 4px #c8c8c8;
    font-size: 16px;
    width: 200px;
    overflow: hidden; }
  .page-team .view-id-team.view-display-id-page .views-exposed-form label {
    display: none; }
  .page-team .view-id-team.view-display-id-page .views-exposed-form #edit-keys-wrapper {
    position: relative; }
    .page-team .view-id-team.view-display-id-page .views-exposed-form #edit-keys-wrapper label {
      display: block;
      font-weight: normal;
      font-size: 16px;
      position: absolute;
      top: 10px;
      left: 65px; }
.page-team .view-id-team.view-display-id-page .view-content {
  clear: both; }
  .page-team .view-id-team.view-display-id-page .view-content h3 {
    font-style: oblique;
    font-weight: normal;
    font-size: 20px;
    margin-top: 10px; }
.page-team .view-id-team.view-display-id-page .views-row {
  width: 100%;
  background: white;
  padding: 30px;
  box-shadow: 2px 3px 4px #c8c8c8;
  margin-bottom: 30px;
  overflow: hidden; }
  .page-team .view-id-team.view-display-id-page .views-row:nth-child(1n) {
    margin-right: 0; }
  .page-team .view-id-team.view-display-id-page .views-row .views-field-title {
    font-family: "bariol_regularregular";
    text-transform: uppercase;
    margin-bottom: 5px; }
  .page-team .view-id-team.view-display-id-page .views-row .views-field-field-team-bio {
    font-family: "Georgia"; }
  .page-team .view-id-team.view-display-id-page .views-row .views-field-view-node {
    text-align: right;
    margin-top: 10px; }
  .page-team .view-id-team.view-display-id-page .views-row .views-field-field-team-image {
    margin: 0;
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 23.40426%; }
    .page-team .view-id-team.view-display-id-page .views-row .views-field-field-team-image:last-child {
      margin-right: 0; }
    .page-team .view-id-team.view-display-id-page .views-row .views-field-field-team-image img {
      width: 100%;
      height: auto; }

.page-about .region-home-content-top-rotator {
  background: none;
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 74.46809%; }
  .page-about .region-home-content-top-rotator:last-child {
    margin-right: 0; }
  .page-about .region-home-content-top-rotator #block-views-about_page-block_1 .views-row {
    border: 0;
    margin: 0;
    padding: 0; }
    .page-about .region-home-content-top-rotator #block-views-about_page-block_1 .views-row .views-field-title {
      font-size: 50px;
      text-transform: none;
      padding: 10px 0;
      line-height: 1.24; }
    .page-about .region-home-content-top-rotator #block-views-about_page-block_1 .views-row .views-field-title,
    .page-about .region-home-content-top-rotator #block-views-about_page-block_1 .views-row .views-field-body,
    .page-about .region-home-content-top-rotator #block-views-about_page-block_1 .views-row .views-field-field-image {
      width: 100%; }
.page-about .view-about-page.view-display-id-page > .view-content {
  background: white;
  padding: 30px;
  box-shadow: 2px 3px 4px #c8c8c8; }
.page-about .view-about-page .views-row {
  width: 100%;
  margin-right: 0;
  padding: 30px 0;
  margin: 30px 0;
  border-bottom: 1px solid #cccccc;
  overflow: hidden; }
  .page-about .view-about-page .views-row:first-child {
    padding-top: 0; }
  .page-about .view-about-page .views-row .views-field-field-image {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 40.42553%; }
    .page-about .view-about-page .views-row .views-field-field-image:last-child {
      margin-right: 0; }
    .page-about .view-about-page .views-row .views-field-field-image img {
      width: 100%;
      height: auto; }
  .page-about .view-about-page .views-row .views-field-title {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 57.44681%;
    margin-right: 0;
    text-transform: uppercase;
    font-size: 16px; }
    .page-about .view-about-page .views-row .views-field-title:last-child {
      margin-right: 0; }
  .page-about .view-about-page .views-row .views-field-body {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 57.44681%;
    margin-right: 0;
    font-family: "Georgia"; }
    .page-about .view-about-page .views-row .views-field-body:last-child {
      margin-right: 0; }

.page-get-involved .view-get-involved.view-display-id-page {
  margin-top: 30px;
  border-top: 1px solid #cccccc;
  padding-top: 30px; }
  .page-get-involved .view-get-involved.view-display-id-page .views-row {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 30px;
    padding-bottom: 30px;
    overflow: hidden; }
  .page-get-involved .view-get-involved.view-display-id-page .views-field-field-image {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 14.89362%; }
    .page-get-involved .view-get-involved.view-display-id-page .views-field-field-image:last-child {
      margin-right: 0; }
  .page-get-involved .view-get-involved.view-display-id-page .views-field-title {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 82.97872%;
    margin-right: 0;
    font-family: "bariol_regularregular";
    color: #ee8f1c;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px; }
    .page-get-involved .view-get-involved.view-display-id-page .views-field-title:last-child {
      margin-right: 0; }
  .page-get-involved .view-get-involved.view-display-id-page .views-field-body {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 82.97872%;
    margin-right: 0;
    font-family: "Georgia"; }
    .page-get-involved .view-get-involved.view-display-id-page .views-field-body:last-child {
      margin-right: 0; }

.page-resources .view-resources .views-exposed-form .views-exposed-widget {
  float: none;
  padding: 10px 20px 10px 0;
  line-height: 1em; }
.page-resources .view-resources .views-exposed-form .col {
  float: left;
  margin-right: 20px; }
.page-resources .view-resources .views-exposed-form label {
  color: #ee8f1c;
  font-weight: normal;
  display: inline-block;
  font-style: italic;
  width: 90px;
  vertical-align: top; }
.page-resources .view-resources .views-exposed-form .views-widget {
  display: inline-block; }
.page-resources .view-resources .views-exposed-form .form-text {
  border: 0;
  background: white;
  padding: 10px;
  box-shadow: 2px 3px 4px #c8c8c8;
  display: inline-block;
  height: 45px;
  width: 230px;
  font-size: 16px; }
.page-resources .view-resources .views-exposed-form select {
  border: 0;
  background: white url("../images/icons/orange_arrow.png") no-repeat 85% 50%;
  margin-right: -80px;
  width: 240px; }
.page-resources .view-resources .views-exposed-form .form-type-select {
  background: white url("../images/icons/orange_arrow.png") no-repeat 95% 50%;
  border: 0;
  background: white;
  padding: 10px;
  box-shadow: 2px 3px 4px #c8c8c8;
  font-size: 16px;
  width: 230px;
  height: 45px;
  overflow: hidden; }
.page-resources .view-resources .views-exposed-form .views-widget-filter-field_date_value #edit-field-date-value-min-wrapper,
.page-resources .view-resources .views-exposed-form .views-widget-filter-field_date_value #edit-field-date-value-max-wrapper {
  float: left; }
  .page-resources .view-resources .views-exposed-form .views-widget-filter-field_date_value #edit-field-date-value-min-wrapper .form-item,
  .page-resources .view-resources .views-exposed-form .views-widget-filter-field_date_value #edit-field-date-value-max-wrapper .form-item {
    position: relative;
    margin-right: 5px; }
    .page-resources .view-resources .views-exposed-form .views-widget-filter-field_date_value #edit-field-date-value-min-wrapper .form-item .date-padding,
    .page-resources .view-resources .views-exposed-form .views-widget-filter-field_date_value #edit-field-date-value-max-wrapper .form-item .date-padding {
      float: none; }
    .page-resources .view-resources .views-exposed-form .views-widget-filter-field_date_value #edit-field-date-value-min-wrapper .form-item input,
    .page-resources .view-resources .views-exposed-form .views-widget-filter-field_date_value #edit-field-date-value-max-wrapper .form-item input {
      width: 110px;
      margin: 0; }
    .page-resources .view-resources .views-exposed-form .views-widget-filter-field_date_value #edit-field-date-value-min-wrapper .form-item label,
    .page-resources .view-resources .views-exposed-form .views-widget-filter-field_date_value #edit-field-date-value-max-wrapper .form-item label {
      position: absolute;
      top: 45px; }
    .page-resources .view-resources .views-exposed-form .views-widget-filter-field_date_value #edit-field-date-value-min-wrapper .form-item .description,
    .page-resources .view-resources .views-exposed-form .views-widget-filter-field_date_value #edit-field-date-value-max-wrapper .form-item .description {
      position: relative;
      top: 10px; }
.page-resources .view-resources .views-exposed-form .views-submit-button .form-submit,
.page-resources .view-resources .views-exposed-form .views-reset-button .form-submit {
  background: #ee8f1c;
  border: 0;
  color: white;
  width: 100px;
  height: 45px;
  margin-top: 0; }
.page-resources .view-resources .view-content {
  background: white;
  padding: 30px;
  box-shadow: 2px 3px 4px #c8c8c8; }
  .page-resources .view-resources .view-content tr.even,
  .page-resources .view-resources .view-content tr.odd {
    background: none;
    border-bottom: 1px solid #cccccc; }

.page-contact .form-item label {
  font-weight: normal;
  color: #ee8f1c;
  margin-bottom: 5px; }
.page-contact .form-text,
.page-contact .form-textarea {
  background: white;
  box-shadow: 2px 3px 4px #c8c8c8;
  border: 0;
  padding: 10px; }
.page-contact .form-type-textarea .grippie {
  display: none !important; }
.page-contact #edit-actions {
  text-align: right; }
  .page-contact #edit-actions .form-submit {
    color: #ee8f1c;
    background: white;
    box-shadow: 2px 3px 4px #c8c8c8;
    padding: 10px 30px;
    border: 0; }

.node-incident_report-form .form-item {
  clear: both;
  overflow: hidden;
  padding: 10px 0; }
  .node-incident_report-form .form-item label {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 23.40426%;
    text-align: right;
    padding-top: 5px; }
    .node-incident_report-form .form-item label:last-child {
      margin-right: 0; }
  .node-incident_report-form .form-item input {
    border: 0;
    background: white;
    box-shadow: 2px 2px 2px #cccccc;
    font-size: 15px;
    padding: 5px;
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 57.44681%; }
    .node-incident_report-form .form-item input:last-child {
      margin-right: 0; }
  .node-incident_report-form .form-item .form-textarea-wrapper {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 57.44681%; }
    .node-incident_report-form .form-item .form-textarea-wrapper:last-child {
      margin-right: 0; }
    .node-incident_report-form .form-item .form-textarea-wrapper textarea {
      background: white;
      font-size: 15px;
      padding: 5px;
      border: 0;
      box-shadow: 2px 2px 2px #cccccc; }
    .node-incident_report-form .form-item .form-textarea-wrapper .grippie {
      display: none; }
.node-incident_report-form .field-widget-name-widget .form-item {
  margin: 0;
  padding: 5px 0; }
  .node-incident_report-form .field-widget-name-widget .form-item input {
    display: block;
    float: left;
    margin-right: 2.12766%;
    width: 91.48936%; }
    .node-incident_report-form .field-widget-name-widget .form-item input:last-child {
      margin-right: 0; }
  .node-incident_report-form .field-widget-name-widget .form-item .description {
    clear: both;
    padding: 5px 0; }
.node-incident_report-form .field-name-field-description {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #999999; }
.node-incident_report-form .field-name-field-incident-address {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 48.93617%; }
  .node-incident_report-form .field-name-field-incident-address:last-child {
    margin-right: 0; }
  .node-incident_report-form .field-name-field-incident-address fieldset {
    border: 0;
    padding: 0;
    margin: 0; }
    .node-incident_report-form .field-name-field-incident-address fieldset legend {
      font-weight: bold; }
    .node-incident_report-form .field-name-field-incident-address fieldset .addressfield-container-inline .form-item {
      float: none;
      margin: 0;
      padding: 4px 0; }
.node-incident_report-form .field-name-field-incident-geolocation {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 48.93617%;
  margin-right: 0;
  overflow: hidden;
  margin-bottom: 30px; }
  .node-incident_report-form .field-name-field-incident-geolocation:last-child {
    margin-right: 0; }
.node-incident_report-form .field-name-field-incident-date {
  border-top: 1px solid #999999;
  padding-top: 10px;
  margin-top: 30px;
  clear: both; }
  .node-incident_report-form .field-name-field-incident-date fieldset {
    border: 0; }
    .node-incident_report-form .field-name-field-incident-date fieldset .fieldset-wrapper {
      display: block;
      float: left;
      margin-right: 2.12766%;
      width: 74.46809%;
      margin-left: 25.53191%; }
      .node-incident_report-form .field-name-field-incident-date fieldset .fieldset-wrapper:last-child {
        margin-right: 0; }
      .node-incident_report-form .field-name-field-incident-date fieldset .fieldset-wrapper .form-item {
        width: 100%; }
        .node-incident_report-form .field-name-field-incident-date fieldset .fieldset-wrapper .form-item label {
          text-align: left;
          width: 100%; }
      .node-incident_report-form .field-name-field-incident-date fieldset .fieldset-wrapper .date-padding {
        width: 100%;
        float: none;
        overflow: hidden;
        padding: 0; }
        .node-incident_report-form .field-name-field-incident-date fieldset .fieldset-wrapper .date-padding .form-item {
          display: block;
          float: left;
          margin-right: 2.12766%;
          width: 31.91489%;
          clear: none; }
          .node-incident_report-form .field-name-field-incident-date fieldset .fieldset-wrapper .date-padding .form-item:last-child {
            margin-right: 0; }
          .node-incident_report-form .field-name-field-incident-date fieldset .fieldset-wrapper .date-padding .form-item input {
            display: block;
            float: left;
            margin-right: 2.12766%;
            width: 91.48936%; }
            .node-incident_report-form .field-name-field-incident-date fieldset .fieldset-wrapper .date-padding .form-item input:last-child {
              margin-right: 0; }
    .node-incident_report-form .field-name-field-incident-date fieldset legend {
      font-weight: bold; }
.node-incident_report-form .field-type-file table {
  background: none; }
  .node-incident_report-form .field-type-file table th {
    border: 0; }
  .node-incident_report-form .field-type-file table tr {
    background: none; }
.node-incident_report-form .field-type-file .tabledrag-toggle-weight-wrapper {
  display: none; }
.node-incident_report-form .field-type-file .form-submit {
  background: #ee8f1c;
  color: white;
  padding: 5px 10px;
  width: auto;
  border: 0; }
.node-incident_report-form .field-type-file fieldset {
  border: 0;
  margin: 0;
  padding: 0; }
.node-incident_report-form #edit-field-incident-media,
.node-incident_report-form #edit-field-incident-videos {
  display: block;
  float: left;
  margin-right: 2.12766%;
  width: 48.93617%; }
  .node-incident_report-form #edit-field-incident-media:last-child,
  .node-incident_report-form #edit-field-incident-videos:last-child {
    margin-right: 0; }
  .node-incident_report-form #edit-field-incident-media .field-multiple-drag,
  .node-incident_report-form #edit-field-incident-videos .field-multiple-drag {
    display: none; }
  .node-incident_report-form #edit-field-incident-media label,
  .node-incident_report-form #edit-field-incident-videos label {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0; }
.node-incident_report-form #edit-field-incident-videos {
  margin-right: 0; }
.node-incident_report-form #edit-field-documents {
  clear: both;
  padding: 30px 0; }
  .node-incident_report-form #edit-field-documents legend {
    font-weight: bold;
    font-size: 16px; }
  .node-incident_report-form #edit-field-documents .description {
    margin-left: 25.53191%; }
.node-incident_report-form #edit-field-links label {
  text-align: left;
  font-weight: bold;
  font-size: 16px; }
.node-incident_report-form #edit-field-links .tabledrag-toggle-weight-wrapper {
  display: none; }
.node-incident_report-form #edit-field-links table tr {
  background: none; }
  .node-incident_report-form #edit-field-links table tr td.field-multiple-drag {
    display: none; }
.node-incident_report-form #edit-field-links .description {
  clear: both;
  margin-left: 25.53191%;
  padding-top: 10px; }
.node-incident_report-form #edit-field-links .form-submit {
  background: #ee8f1c;
  color: white;
  padding: 5px 10px;
  width: auto;
  border: 0; }
.node-incident_report-form .form-actions input {
  font-size: 16px;
  padding: 10px 20px;
  background: #ee8f1c;
  border: 0;
  color: white;
  margin-right: 10px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
