/**
 * @file
 * Style for drupal blocks.
 */

/**
 * Style by region
 */


@media all and (max-width: $breakpoint) {


// Header
.region-header {

  .block {

    .block-title { @include element-invisible(); }
  }
}

// Footer
.region-footer {

  .block {
    float: left;

    .block-title { @include element-invisible(); }
  }
}

/**
 * Style by type
 */

// Blocks menu
.block-menu {

  ul.menu {
    margin: 0 0 rhythm(1) 0;
    padding: 0;

    li {
      list-style: none outside none;
      margin-bottom: .3em;
    }
  }
}

/**
 * Unique blocks
 */







	.float-left-half-width {
		display:block;
		float:none;
		width:100%;
		margin-right:30px;
	}
	
	
	
	
	
	
	.paragraphs-item-pull-quote {
		display:block;
		float:left;
		width:100%;
		margin-bottom:2em;
		margin-top:2em;
		padding-bottom:4em;
		padding-top:3em;
		border-top:1px solid $blue;
		border-bottom:1px solid $blue;
		
		.field-name-field-the-quote {
			
			&:before {
					content:"“";
					font-size:5em;
					color:$blue;
					line-height:0;
					font-weight:bold;
					display:block;
					margin-bottom:16px;
					margin-top:30px;
			}
			
			.field-item {
				font-size:2.8em;
				color:$blue;
				line-height:1.4em;
				margin-bottom:20px;
				font-weight:300;
				float:left;
				
				&:after {
					content:"”";
					display:inline;
				}
			}
		}
		
		.field-name-field-person-quoted {
			font-size:16px;
			color:$text-grey;
			font-style:italic;
		}
	}
	
	.field-name-field-class-for-this-box {
		display:none;
	}
	
	.float-right-half-width {
		display:block;
		float:none;
		width:100%;
	}

	body.front #content #block-views-peace-geeks-twitter-block {
			width:100%;
			height:auto;
			padding:1.4em;
			background:$soft-grey;
			font-size:1em;
			display:block;
			float:none;
			color:$text-grey;
			a {
				color:$orange;
			}
			h2.block-title {
				display:none;
			}
			.view-content {
				height:300px;
				width:100%;
				overflow:scroll;
			}	
			
			.view-header {
				padding-bottom:1em;
				a {
					color:$text-grey;
					font-style:italic;
					font-family:"Open Sans Italic";
					font-weight:normal;
					font-size:1.1em;
				}
			}
			
			.views-row {
				display:block;
				width:100%;
				border-bottom:1px solid $text-grey;
				margin-bottom:1em;
				padding-bottom:1em;
			}
			
			.views-field-created-time {
				a {
					color:$text-grey;
				}
			}
			
			.view-footer {
				display:block;
				width:100%;
				height:40px;
				#front-twitter-logo-block {
					display:block;
					background:url(../images/twitterbird.png) bottom right no-repeat;
					width:98%;
					height:50px;
					background-size:40px;
				}
			}	
		}

	body.front #content .block-views {
	
		a {
			color:white;
		}
		
		color:white;
		display:block;
		float:none;
		
		.front-above-titles {
			font-weight:300;
			font-size:1.1em;
			font-style:italic;
			display:block;
			padding:1em 0 .2em 1.6em;
		}
		
		
		
		.views-field-title {
			font-weight:600;
			font-size:2em;
			letter-spacing:1px;
			line-height:1.4em;
			padding-left:1em;
			padding-right:1em;
		}
	
		.view-display-id-front_latest_project {
			
			position:relative;
		  	display: inline-block;
		  	width: 100%;
		 	height: auto;
		 	margin-right:0;
		 	background:$blue;
		 	float:left;
		 	
		 	.views-field-field-project-tags {
				padding:10px 20px 0 20px;
				ol {
					display:block;
					position:absolute;
					bottom:0;
					margin-bottom:-4px;
					li {
						list-style-type:none;
						display:block;
						float:left;
						margin-right:6px;
						margin-bottom:4px;
						a {
							display:inline-block;
							background:white;
							padding:4px 10px;
							color:$text-grey;
							font-style:italic;
							font-size:12px;
							font-weight:normal;
							&:before {
								content:"#";
							}
						}
					}
				}
			}
		
		}
		
		.view-display-id-featured_partner_front_block {
			
			position:relative;
		  	display: block;
		  	width: 100%;
		 	height: auto;
		 	margin-right:0;
		 	background:$blue;
		 	float:none;
		 	margin-bottom:20px;
		 	
		 	.views-field-title {
		  		padding-bottom:2em;
		  	}
		  	
		  	.views-field-field-banner-image {
		  		img {
		  			max-width:100%;
		  			width:100%;
		  			height:auto;
		  		}
		  	}
		 	
		 	.views-field-field-tags {
				padding:10px 20px 0 20px;
				ol {
					display:block;
					position:absolute;
					bottom:0;
					margin-bottom:-4px;
					li {
						list-style-type:none;
						display:block;
						float:left;
						margin-right:6px;
						margin-bottom:4px;
						a {
							display:inline-block;
							background:white;
							padding:4px 10px;
							color:$text-grey;
							font-style:italic;
							font-size:12px;
							font-weight:normal;
							&:before {
								content:"#";
							}
						}
					}
				}
			}
		
		}
		
		.view-display-id-front_volunteer {
			
			position: relative;
		  	display: inline-block;
		  	width: 100%;
		  	height: auto;
		  	margin-top:20px;
		  	margin-right:0;
		  	background:$grey;
		  	float:left;
		  	
		  	.views-field-field-team-image {
		  		img {
		  			max-width:100%;
		  			width:100%;
		  			height:auto;
		  		}
		  	}	
		  	
		  	.views-field-title {
		  		padding-bottom:2em;
		  	}
		  	
		  	.views-field-field-amani-tags {
				padding:10px 20px 0 20px;
				ol {
					display:block;
					position:absolute;
					bottom:0;
					margin-bottom:-4px;
					li {
						list-style-type:none;
						display:block;
						float:left;
						margin-right:6px;
						margin-bottom:4px;
						a {
							display:inline-block;
							background:white;
							padding:4px 10px;
							color:$text-grey;
							font-style:italic;
							font-size:12px;
							font-weight:normal;
							&:before {
								content:"#";
							}
						}
					}
				}
			}
		}
	
		.view-display-id-front_latest_news {
		
			background:$grey;
			position: relative;
		  	display: inline-block;
		  	float:left;
		  	width:100%;
		  	margin-top:20px;
		  	margin-right:0;
		  	height:auto;
		  	
		  	.views-field-title {
		  		padding-bottom:1em;
		  	}
		  	
		  	.views-field-field-image {
		  		img {
		  			max-width:100%;
		  			width:100%;
		  			height:auto;
		  		}
		  	}	
		  	
		}
		
		.view-display-id-front_latest_event {
		
			background:$grey;
			position: relative;
		  	display: inline-block;
		  	float:left;
		  	width:100%;
		  	padding-bottom:3em;
		  	margin-top:20px;
		  	height:auto;
		  	
		  	.views-field-title {
		  		padding-bottom:1em;
		  	}
		  	
		  	.views-field-field-image {
		  		img {
		  			max-width:100%;
		  			width:100%;
		  			height:auto;
		  		}
		  	}	
		  	
		  	.views-field-field-tags {
				padding:10px 20px 0 20px;
				ol {
					display:block;
					position:absolute;
					bottom:0;
					margin-bottom:-4px;
					li {
						list-style-type:none;
						display:block;
						float:left;
						margin-right:6px;
						margin-bottom:4px;
						a {
							display:inline-block;
							background:white;
							padding:4px 10px;
							color:$text-grey;
							font-style:italic;
							font-size:12px;
							font-weight:normal;
							&:before {
								content:"#";
							}
						}
					}
				}
			}
		}
		
		.view-display-id-front_areas_of_focus {
			
			background:$blue;
			position: relative;
		  	display: inline-block;
		  	float:left;
		  	width:100%;
		  	height:auto;
		  	margin-top:20px;
		  	padding-top:.8em;
		  	padding-bottom:2em;
		  	&:after {
				content:"";
				display:block;
				float:right;
				position:absolute;
				margin-top:34px;
				padding-right:10px;
				width:12px;
				height:24px;
				background:url(../images/icons/right-arrow.png) top left no-repeat;
				bottom:30px;
				right:10px;
			}
		}
		
		.view-display-id-current_volunteer_opps {
			
			background:$orange;
			display:inline-block;
			float:left;
			margin-top:20px;
			margin-left:0;
			width:100%;
			height:auto;
			&:after {
				content:"";
				display:block;
				float:right;
				position:relative;
				margin-top:-26px;
				padding-right:20px;
				padding-bottom:2em;
				width:12px;
				height:24px;
				background:url(../images/icons/right-arrow.png) top left no-repeat;
			}
		}
	
	}




// Search form
	#block-search-form {
	  	display: none;
	  	float: right;
	  	text-align: right;
		margin-top: 0;
		width: auto;
		position: absolute;
		top: 24px;
		right: 0;
	  
	  	.form-text {
			background-color: $soft-grey;
			@include font-size(12px);
			font-weight: normal;
			height: 24px;
			padding:0 4px;
			width: 170px;
	  	}

	 	 .form-actions {
			display: none;
	  	}
	}





/* Events blocks */



	body.section-event, body.section-events {
	
		aside.sidebars {
			.region-sidebar-second {
				display:block;
				float:right;
				width:100%;
				margin-left:0;
				margin-right:0;
				background:$soft-grey;
				padding:0;
				margin-top:5em;
				
				/* Calendar styling */
				
				.block-views.first {
					border-bottom:none;
					margin-top:-4px;
					h2.block-title {
						display:none;
					}
					
					.view-header {
						width:100%;
						display:block;
						height:32px;
					}
					
					.view-content {
						width:100%;
						display:block;
						padding-bottom:20px;
					}
					
					.calendar-calendar {
						table {
							border:1px solid $border-grey;
							background:$soft-grey;
							thead {
								background:$grey;
								tr {
									background:$grey;
									th {
										background:$grey;
										color:$text-grey;
										font-weight:300;
										font-size:11px;
									}
								}	
							}
							tr {
								border:1px solid $border-grey;
								height:28px;
								background:$soft-grey;
								td {	
									border:1px solid $border-grey;
									text-align:center;
									font-size:11px;
									color:$text-black;
									&.empty {
										background:$soft-grey;
									}
								}	
							}	
						}	
					}
					
					ul.pager {
						li {
							list-style-type:none;
							padding:0;
							margin:0;
							background:$blue;
							a {
								color:white;
								font-weight:300;
								font-size:30px;
							}
						}
					}
					
										
					.date-heading {
						display:block;
						background:$blue;
						color:white;
						height:33px;
						h3 {
							font-weight:300;
							color:white;
							font-size:20px;
							a {
								color:white;
							}
						}
					}
				}
				/* End Calendar Styling */
				
				
				/* Other Events block styling */
				
				.block-views {
				
					h2 {
						font-size:16px;
						color:$blue;
						text-transform:uppercase;
						line-height:14px;
						font-weight:600;
						margin-top:0;
						margin-bottom:0;
						padding-left:20px;
						padding-right:20px;
						padding-top:20px;
					}
					
					display:block;
					width:100%;
					border-bottom:1px solid $text-grey;
					
					&.last {
						border-bottom:none;
					}
					
					ol {
						display:block;
						padding-top:10px;
						li {
							list-style-type:none;
							display:block;
							padding-bottom:30px;
							&.views-row-last {
								padding-bottom:10px;
							}
						}
					}
					
					.view.upcoming-events-side-block, .view.facts-block {
						padding:10px 20px;
						display:block;
					}
					
					.view.upcoming-events-side-block {
						.views-field-title a {
							color:$text-black;
							font-size:14px;
							font-weight:300;
							line-height:18px;
							padding:0;
						}
						.views-field-field-event-date {
							color:$blue;
							font-size:11px;
							margin:0;
						}
						
						ol {
							li {
								padding-bottom:20px;
							}
						}
					}
					
					.view.facts-block {
						.views-field-title {
							color:$orange;
							font-size:30px;
							font-weight:600;
							line-height:30px;
						}
						
						.views-field-body {
							font-size:14px;
							color:$text-grey;
							line-height:18px;
							padding-top:6px;
						}
					}
					
					
				}
			}
		}
	
	
	}




/* Disqus */

#block-disqus-disqus-comments {
	margin-top:4em;
}

/* News blocks */


	body.section-news, body.node-type-article {
	
		aside.sidebars {
			.region-sidebar-second {
				display:block;
				float:right;
				width:100%;
				margin-left:0;
				margin-right:0;
				background:$soft-grey;
				padding:0;
				margin-top:5em;
				
				a#likeusfacebook {
					display:block;
					width:100%;
					padding:20px;
					background:url(../images/facebook-peacegeeks.png) top left no-repeat;
					height:auto;
					margin:14px auto 30px auto;
				}
				
				.block-block {
					h2 {
						font-size:16px;
						color:$blue;
						text-transform:uppercase;
						line-height:14px;
						font-weight:600;
						margin-top:0;
						margin-bottom:0;
						padding-left:20px;
						padding-right:20px;
						padding-top:20px;
					}
					
					display:block;
					width:100%;
					border-bottom:1px solid $text-grey;
				}
				
				.block-views {
				
					h2 {
						font-size:16px;
						color:$blue;
						text-transform:uppercase;
						line-height:14px;
						font-weight:600;
						margin-top:0;
						margin-bottom:0;
						padding-left:20px;
						padding-right:20px;
						padding-top:20px;
					}
					
					display:block;
					width:100%;
					border-bottom:1px solid $text-grey;
					
					&.last {
						border-bottom:none;
					}
					
					ol {
						display:block;
						padding-top:10px;
						li {
							list-style-type:none;
							display:block;
							padding-bottom:30px;
							&.views-row-last {
								padding-bottom:10px;
							}
						}
					}
					

					
					.view {
						padding:10px 20px;
						display:block;
						
						.views-field-title a {
							color:$text-black;
							font-size:14px;
							font-weight:300;
							line-height:18px;
							padding:0;
						}
						
						
						ol {
							li {
								padding-bottom:16px;
								&.views-row-last {
								padding-bottom:6px;
							}
							}
						}
					}
					
					.view-display-id-news_categories_block {
						.views-field-name {
							margin:0;
							a {
								color:$text-black;
								font-size:14px;
								font-weight:300;
								line-height:18px;
								padding:0;
							}
						}
					}
					
					.view-display-id-pg_twitter_sideblock {
									
				
						padding:20px;
						background:$soft-grey;
						font-size:1em;
						display:block;
						float:left;
						color:$text-grey;
						a {
							color:$orange;
						}
						h2.block-title {
							display:none;
						}
						.view-content {
							
						}	
			
						.view-header {
							padding-bottom:1em;
							a {
								color:$text-grey;
								font-style:italic;
								font-family:"Open Sans Italic";
								font-weight:normal;
								font-size:1.1em;
							}
						}
			
						.views-row {
							display:block;
							width:100%;
							/*border-bottom:1px solid $text-grey;*/
							margin-bottom:1em;
							padding-bottom:1em;
						}
			
						.views-field-created-time {
							a {
								color:$text-grey;
							}
						}
			
						.view-footer {
							
							a {
								color:$text-black;
								display:block;
								width:74%;
								margin:0 auto;
								border:2px solid $border-grey;
								padding:10px 6px 6px 8px;
								text-align:right;
							}
							#front-twitter-logo-block {
								display:block;
								background:url(../images/twitter-bird-small.png) bottom right no-repeat;
								width:100%;
								background-size:30px;
								background-position:0 0;
								height:24px;
							}
						}	
					}
					
					
					
				}
			}
		}
	
	
	}

}
