/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */
/* Import Sass mixins, variables, Compass modules, etc. */
@font-face {
  font-family: 'MinionPro';
  src: url("fonts/Minion-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
/* Regular */
@font-face {
  font-family: 'Open Sans Regular';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}
/* Italic */
@font-face {
  font-family: 'Open Sans Italic';
  src: url("../fonts/OpenSans-Italic.ttf");
  font-weight: normal;
  font-weight: 400;
  font-style: italic;
}
/* Light */
@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/OpenSans-Light.ttf");
  font-weight: 200;
  font-style: normal;
}
/* Light Italic */
@font-face {
  font-family: 'Open Sans Light Italic';
  src: url("../fonts/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
/* Semibold */
@font-face {
  font-family: 'Open Sans Semi Bold';
  src: url("../fonts/OpenSans-Semibold.ttf");
  font-weight: 500;
  font-style: normal;
}
/* Semibold Italic */
@font-face {
  font-family: 'Open Sans Semi Bold';
  src: url("../fonts/OpenSans-SemiboldItalic.ttf");
  font-weight: 500;
  font-style: italic;
}
/* Bold */
@font-face {
  font-family: 'Open Sans Bold';
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
  font-weight: 700;
  font-style: normal;
}
/* Bold Italic */
@font-face {
  font-family: 'Open Sans Bold Italic';
  src: url("../fonts/OpenSans-BoldItalic.ttf");
  font-weight: bold;
  font-weight: 700;
  font-style: italic;
}
/* Extra Bold */
@font-face {
  font-family: 'Open Sans Extra Bold';
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-weight: 900;
  font-style: normal;
}
/* Extra Bold Italic */
@font-face {
  font-family: 'Open Sans Extra Bold Italic';
  src: url("../fonts/OpenSans-ExtraBoldItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
/**
 * Use 10 grid columns for larger screens.
*/
/* HTML element (SMACSS base) rules */
/**
 * @file
 * Normalize.css is intended to be used as an alternative to CSS resets.
 *
 * This file is a slight fork of these original sources:
 * - normalize.css v2.1.2 | MIT License | git.io/normalize
 * - normalize.scss v2.1.2 | MIT/GPLv2 License | bit.ly/normalize-scss
 *
 * It's suggested that you read the normalize.scss file and customise it to meet
 * your needs, rather then including the file in your project and overriding the
 * defaults later in your CSS.
 * @see http://nicolasgallagher.com/about-normalize-css/
 *
 * Also: @see http://meiert.com/en/blog/20080419/reset-style-sheets-are-bad/
 *       @see http://snook.ca/archives/html_and_css/no_css_reset/
 */
/**
 * HTML5 display definitions
 */
/* Correct `block` display not defined in IE 8/9. */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

/* Correct `inline-block` display not defined in IE 8/9. */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* Address styling not present in IE 8/9. */
[hidden] {
  display: none;
}

/**
 * Base
 *
 * Instead of relying on the fonts that are available on a user's computer, you
 * can use web fonts which, like images, are resources downloaded to the user's
 * browser. Because of the bandwidth and rendering resources required, web fonts
 * should be used with care.
 *
 * Numerous resources for web fonts can be found on Google. Here are a few
 * websites where you can find Open Source fonts to download:
 * - http://www.fontsquirrel.com/fontface
 * - http://www.theleagueofmoveabletype.com
 *
 * In order to use these fonts, you will need to convert them into formats
 * suitable for web fonts. We recommend the free-to-use Font Squirrel's
 * Font-Face Generator:
 *   http://www.fontsquirrel.com/fontface/generator
 *
 * The following is an example @font-face declaration. This font can then be
 * used in any ruleset using a property like this:  font-family: Example, serif;
 *
 * Since we're using Sass, you'll need to declare your font faces here, then you
 * can add them to the font variables in the _init.scss partial.
 */
/*
@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 3. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 */
html {
  font-family: "Open Sans", sans-serif;
  /* 1 */
  font-size: 81.25%;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  line-height: 1.53846em;
}

/* Remove default margin. */
body {
  color: #414042;
  margin: 0;
  padding: 0;
}

/**
 * Links
 *
 * The order of link states are based on Eric Meyer's article:
 * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
 */
a:link,
a:visited {
  color: #59C2ED;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #1696ca;
}

/* Address `outline` inconsistency between Chrome and other browsers. */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and also mouse hovered in all browsers. */
a:active,
a:hover {
  outline: 0;
}

/**
 * Typography
 *
 * To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
 * so that the line height of our base font becomes the basic unit of vertical
 * measurement. We use multiples of that unit to set the top and bottom margins
 * for our block level elements and to set the line heights of any fonts.
 * For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm
 */
/* Set 1 unit of vertical rhythm on the top and bottom margin. */
p,
pre {
  margin: 0 0 1.53846em 0;
}

blockquote {
  /* Also indent the quote on both sides. */
  margin: 0 0 1.53846em 20px;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2.15em;
  line-height: 1.43113em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.71556em;
  margin-bottom: 0.71556em;
}

h2 {
  font-size: 1.61em;
  line-height: 1.91113em;
  margin-top: 0.95557em;
  margin-bottom: 0.95557em;
}

h3 {
  font-size: 1.23em;
  line-height: 1.25078em;
  margin-top: 1.25078em;
  margin-bottom: 1.25078em;
}

h4 {
  font-size: 1em;
  line-height: 1.53846em;
  margin-top: 1.53846em;
  margin-bottom: 1.53846em;
}

h5 {
  font-size: 0.83em;
  line-height: 1.85357em;
  margin-top: 1.85357em;
  margin-bottom: 1.85357em;
}

h6 {
  font-size: 0.67em;
  line-height: 2.29621em;
  margin-top: 2.29621em;
  margin-bottom: 2.29621em;
}

/* Address styling not present in IE 8/9, Safari 5, and Chrome. */
abbr[title] {
  border-bottom: 1px dotted;
}

/* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome. */
b,
strong {
  font-weight: bold;
}

/* Address styling not present in Safari 5 and Chrome. */
dfn {
  font-style: italic;
}

/* Address differences between Firefox and other browsers. */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: 1.53846em 0;
}

/* Address styling not present in IE 8/9. */
mark {
  background: #ff0;
  color: #000;
}

/* Correct font family set oddly in Safari 5 and Chrome. */
code,
kbd,
pre,
samp,
tt,
var {
  font-size: 1em;
  line-height: 1.53846em;
}

/* Improve readability of pre-formatted text in all browsers. */
pre {
  white-space: pre-wrap;
}

/* Set consistent quote types. */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* Address inconsistent and variable font size in all browsers. */
small {
  font-size: 80%;
}

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/**
 * Lists
 */
dl,
menu,
ol,
ul {
  /* Address margins set differently in IE 6/7. */
  margin: 0 0 1.53846em 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  /* Turn off margins on nested lists. */
  margin: 0;
}

dd {
  margin: 0 0 0 20px;
  /* LTR */
}

/* Address paddings set differently in IE 6/7. */
menu,
ol,
ul {
  padding: 0 0 0 0;
  /* LTR  Left value used to be $indent-amount */
}

/**
 * Embedded content and figures
 *
 * @todo Look into adding responsive embedded video.
 */
img {
  /* Remove border when inside `a` element in IE 8/9. */
  border: 0;
  /* Suppress the space beneath the baseline */
  /* vertical-align: bottom; */
  /* Responsive images */
  max-width: 100%;
  height: auto;
}

/* Correct overflow displayed oddly in IE 9. */
svg:not(:root) {
  overflow: hidden;
}

/* Address margin not present in IE 8/9 and Safari 5. */
figure {
  margin: 0;
}

/**
 * Forms
 */
/* Define consistent border, margin, and padding. */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.07692em;
  border-top-style: solid;
  padding-top: 0.46154em;
  border-bottom-width: 0.07692em;
  border-bottom-style: solid;
  padding-bottom: 0.92308em;
  border-left-width: 0.07692em;
  border-left-style: solid;
  padding-left: 0.92308em;
  border-right-width: 0.07692em;
  border-right-style: solid;
  padding-right: 0.92308em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Improve appearance and consistency with IE 6/7.
 * 5. Keep form elements constrained in their containers.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
  max-width: 100%;
  /* 5 */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 5 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* Drupal-style form labels. */
label {
  display: block;
  font-weight: bold;
}

/**
 * Tables
 */
table {
  /* Remove most spacing between table cells. */
  border-collapse: collapse;
  border-spacing: 0;
  /* Prevent cramped-looking tables */
  /* width: 100%; */
  /* Add vertical rhythm margins. */
  margin-top: 1.53846em;
  margin-bottom: 1.53846em;
}

/**
 * Misc
 */
div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Layout rules */
/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */
/**
 * Anchor footer to the bottom
 */
html,
body {
  height: 100%;
}

#page {
  min-height: 100%;
  margin-top: 4em;
  padding-bottom: 180px;
  position: relative;
}

body.not-logged-in #page {
  margin-top: 0;
}
@media all and (min-width: 768px) {
  body.not-logged-in #page {
    margin-top: 3em;
  }
}

#footer {
  bottom: 0;
  height: 180px;
  left: 0;
  position: absolute;
  width: 100%;
}

/**
 * Center the page.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
#page,
.region-bottom {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* Containers for grid items and flow items. */
#header:before, #header:after,
#main:before,
#main:after,
#footer:before,
#footer:after {
  content: "";
  display: table;
}
#header:after,
#main:after,
#footer:after {
  clear: both;
}

/* Navigation bar */
@media all and (min-width: 480px) {
  #main {
    /* Move all the children of #main down to make room. */
    position: relative;
  }

  #navigation {
    /* Move the navbar up inside #main's padding. */
    position: absolute;
    top: 0;
    height: 1em;
    width: 100%;
  }
}
/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {
  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 2 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
  }
  .sidebar-first #content {
    float: left;
    width: 200%;
    margin-left: 100%;
    margin-right: -300%;
  }
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
    /* Span 1 column, starting in 3rd column from left. */
  }
  .sidebar-second #content {
    float: left;
    width: 200%;
    margin-left: 0%;
    margin-right: -200%;
  }
  .sidebar-second .region-sidebar-second {
    float: left;
    width: 100%;
    margin-left: 200%;
    margin-right: -300%;
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 2 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
    /* Start a new row and span all 3 columns. */
  }
  .two-sidebars #content {
    float: left;
    width: 200%;
    margin-left: 100%;
    margin-right: -300%;
  }
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 300%;
    margin-left: 0%;
    margin-right: -300%;
    padding-left: 0;
    padding-right: 0;
    clear: left;
    /* Apply the shared properties of grid items in a single, efficient ruleset. */
    /* Span 1 column, starting in the 1st column from left. */
    /* Span 1 column, starting in the 2nd column from left. */
    /* Span 1 column, starting in the 3rd column from left. */
  }
  .two-sidebars .region-sidebar-second .block {
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .two-sidebars .region-sidebar-second .block:nth-child(3n+1) {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    clear: left;
  }
  .two-sidebars .region-sidebar-second .block:nth-child(3n+2) {
    float: left;
    width: 100%;
    margin-left: 100%;
    margin-right: -200%;
  }
  .two-sidebars .region-sidebar-second .block:nth-child(3n) {
    float: left;
    width: 100%;
    margin-left: 200%;
    margin-right: -300%;
  }
}
/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {
  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 4 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
  }
  .sidebar-first #content {
    float: left;
    width: 400%;
    margin-left: 100%;
    margin-right: -500%;
  }
  .sidebar-first .region-sidebar-first {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 4 columns, starting in 1st column from left. */
    /* Span 1 column, starting in 5th column from left. */
  }
  .sidebar-second #content {
    float: left;
    width: 400%;
    margin-left: 0%;
    margin-right: -400%;
  }
  .sidebar-second .region-sidebar-second {
    float: left;
    width: 100%;
    margin-left: 400%;
    margin-right: -500%;
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 3 columns, starting in 2nd column from left. */
    /* Span 1 column, starting in 1st column from left. */
    /* Span 1 column, starting in 5th column from left. */
  }
  .two-sidebars #content {
    float: left;
    width: 300%;
    margin-left: 100%;
    margin-right: -400%;
  }
  .two-sidebars .region-sidebar-first {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
  }
  .two-sidebars .region-sidebar-second {
    float: left;
    width: 100%;
    margin-left: 400%;
    margin-right: -500%;
  }
}
/* Component (SMACSS module) rules */
/**
 * @file
 * Style for menus.
 */
#mobile-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 25px;
  height: 30px;
  background-image: url("../images/mobile-menu-toggle.png") no-repeat center center;
  display: block;
  z-index: 999;
}

#header #block-system-main-menu {
  display: none;
}
#header #block-system-main-menu ul.menu {
  margin-top: 5px;
  margin-bottom: 0;
  border-top: 2px solid #474F5E;
}
#header #block-system-main-menu li {
  border-bottom: 1px solid #CFEDFA;
  background-color: #fff;
  padding: 8px 0 5px;
  margin: 0;
  text-align: center;
}
#header #block-system-main-menu a {
  font-size: 14px;
  font-size: 1.07692rem;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 14px;
  color: #474F5E;
  text-transform: uppercase;
}

@media all and (min-width: 768px) {
  #mobile-toggle {
    display: none;
  }
}
@media all and (min-width: 768px) {
  #header #block-system-main-menu {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    position: relative;
    left: -43px;
    top: 0;
  }
  #header #block-system-main-menu .mobile-menu-link {
    display: none;
  }
  #header #block-system-main-menu ul.menu {
    margin: 0 auto;
    border: 0;
  }
  #header #block-system-main-menu li {
    border: 0;
    padding: 0;
    border-right: 1px solid;
    font-size: 14px;
    font-size: 1.07692rem;
    float: left;
  }
  #header #block-system-main-menu li:last-child {
    border-right: 0 none;
  }
  #header #block-system-main-menu a {
    color: #474f5e;
    font-size: 16px;
    font-size: 1.23077rem;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 16px;
    padding: 0 16px;
    float: left;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
#navigation {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  position: relative;
  left: 0;
  top: 0;
}
#navigation .mobile-menu-link {
  display: none;
}
#navigation ul {
  margin-left: 0;
}
#navigation li {
  border-right: 1px solid;
  font-size: 14px;
  font-size: 1.07692rem;
}
#navigation li:last-child {
  border-right: 0 none;
}

div[id*="block-menu-menu-social-media"] {
  display: inline-block;
  margin-left: 40px;
}
@media all and (min-width: 768px) {
  div[id*="block-menu-menu-social-media"] {
    width: auto;
    position: absolute;
    right: 185px;
    top: 28px;
  }
}
div[id*="block-menu-menu-social-media"]:hover .contextual-links-wrapper {
  display: none;
}
div[id*="block-menu-menu-social-media"] .block-title {
  display: none;
}
div[id*="block-menu-menu-social-media"] ul.menu {
  margin: 0;
}
div[id*="block-menu-menu-social-media"] li {
  display: inline-block;
  list-style: none outside none;
  margin-left: 0.3em;
}

/**
 * @file
 * Style for drupal blocks.
 */
/**
 * Style by region
 */
.region-header .block .block-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.region-footer .block {
  float: left;
}
.region-footer .block .block-title {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Style by type
 */
.block-menu ul.menu {
  margin: 0 0 1.53846em 0;
  padding: 0;
}
.block-menu ul.menu li {
  list-style: none outside none;
  margin-bottom: .3em;
}

/**
 * Unique blocks
 */
#block-search-form {
  display: inline-block;
  float: right;
  text-align: right;
  margin-top: -4px;
}
@media all and (min-width: 768px) {
  #block-search-form {
    margin-top: 0;
    width: auto;
    position: absolute;
    top: 24px;
    right: 0;
  }
}
#block-search-form:hover .contextual-links-wrapper {
  display: none;
}
#block-search-form .form-text {
  background-color: #E6E6E6;
  font-size: 12px;
  font-size: 0.92308rem;
  font-weight: normal;
  line-height: 12px;
  height: 24px;
  padding: 6px 10px;
  width: 170px;
}
#block-search-form .form-actions {
  display: none;
}

/**
 * @file
 * Print styling
 *
 * We provide some sane print styling for Drupal using Zen's layout method.
 */
/**
 * By importing this CSS file as media "all", we allow this print file to be
 * aggregated with other stylesheets, for improved front-end performance.
 */
@media print {
  /* Underline all links. */
  a:link,
  a:visited {
    text-decoration: underline !important;
    /* Don't underline header. */
  }
  a:link.header__site-link,
  a:visited.header__site-link {
    text-decoration: none !important;
  }

  #content {
    /* Add visible URL after links. */
    /* Only display useful links. */
    /* Add visible title after abbreviations. */
  }
  #content a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
    font-size: 13px;
  }
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    content: "";
  }
  #content abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Un-float the content. */
  #content {
    float: none !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Turn off any background colors or images. */
  body,
  #page,
  #main,
  #content {
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

  /* Hide sidebars and nav elements. */
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    visibility: hidden;
    display: none;
  }
}
/* SMACSS theme rules */
/**
 * @file
 * General layout
 */
#header,
#main,
#footer {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.right-col {
  position: absolute;
  top: 100px;
  left: 75px;
  background-color: orange;
  width: 400px;
  height: 400px;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
}

.region.region-home-content-top-rotator {
  margin-top: 35px;
}

.field-content.slide_title {
  font-family: 'Open Sans Light Italic', sans-serif;
  font-style: italic;
  font-size: 32px;
  line-height: 125%;
  color: #FFF;
  position: absolute;
  top: 4px;
}

.field-content.slide_body {
  font-family: 'Open Sans Semi Bold', sans-serif;
  font-weight: bold;
  color: #FFF;
  position: absolute;
  top: 65px;
}

.form-textarea,
.form-text {
  background: #474F5E;
  border: 0px none;
  border-radius: 0px;
  padding: 5px 10px;
  max-width: 100%;
}

.form-submit {
  background-color: #474F5E;
  border: 0 none;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  font-weight: 200;
  padding: 5px 10px;
}
.form-submit:hover, .form-submit:focus {
  background-color: #5d677b;
}

/**
 * @file
 * Style for menus.
 */
/**
* Footer
*/
#footer {
  background-color: #474F5E;
  color: #fff;
  font-weight: 200;
  margin-top: 30px;
  width: 960px;
  padding: 20px 10px 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#footer:before, #footer:after {
  content: "";
  display: table;
}
#footer:after {
  clear: both;
}
@media all and (min-width: 768px) {
  #footer {
    padding-top: 40px;
  }
}
#footer:before {
  content: "";
  position: absolute;
  display: block;
  top: 0px;
  left: -9998px;
  height: 100%;
  z-index: -1;
  border-right: 9999px solid #474F5E;
  box-shadow: 9999px 0px 0px 0px #474F5E;
}
#footer a {
  color: #fff;
}
#footer a:focus, #footer a:hover, #footer a:active {
  color: #1696ca;
}
#footer div[id*="block-menu-menu-meta"],
#footer div[id*="block-search-form"] {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
#footer #block-bean-amani-powered-by {
  width: 30%;
}
#footer #block-bean-amani-powered-by .field-item > img {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
#footer #block-menu-menu-amani-main-menu {
  width: 70%;
}
#footer #block-menu-menu-amani-main-menu li {
  width: 10em;
  display: inline-block;
  float: left;
}
#footer #block-menu-menu-amani-main-menu li a {
  font-size: 14px;
  font-size: 1.07692rem;
  letter-spacing: 0.5px;
}
#footer #block-menu-menu-amani-main-menu li:nth-child(2n+1) {
  clear: left;
}

/**
* Header
*/
#header #logo img {
  width: 120px;
}
@media all and (min-width: 768px) {
  #header #logo img {
    width: auto;
  }
}

.region-header {
  width: 100%;
  position: absolute;
  top: 70px;
  padding: 0 10px;
}
@media all and (min-width: 768px) {
  .region-header {
    position: initial;
    top: auto;
    left: auto;
    padding: 0;
  }
}

#header {
  width: 970px;
  height: 93px;
  z-index: 9;
  background-color: #fff;
}
#header h1.header__site-name {
  display: inline-block;
  text-indent: -9999em;
  float: left;
}
#header .header__secondary-menu,
#header #block-menu-menu-meta {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

#navigation ul {
  list-style-type: none;
}
#navigation li {
  float: left;
}

#navigation li {
  background-color: transparent;
  border-color: #474F5E;
}
#navigation a {
  padding: 0 16px;
  font-size: 16px;
  font-size: 1.23077rem;
  font-weight: 200;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #474F5E;
  border: none;
}
#navigation a:hover, #navigation a.active {
  background-color: transparent;
  text-shadow: 0 0 #474F5E;
}

div[id*="block-menu-menu-social-media"] a {
  color: #414042;
  font-family: "SSSocial";
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  font-size: 1.53846rem;
}
div[id*="block-menu-menu-social-media"] a:focus, div[id*="block-menu-menu-social-media"] a:hover, div[id*="block-menu-menu-social-media"] a:active {
  color: #ace1f6;
}

#footer div[id*="block-menu-menu-social-media"] {
  width: 70%;
  float: right;
  text-align: left;
  margin-top: 20px;
  margin-left: 0;
  position: relative;
  right: auto;
  left: -3px;
  top: 0;
}
#footer div[id*="block-menu-menu-social-media"] a {
  color: #fff;
}

/**
 * @file
 * Donation button
 */
#content.column {
  position: relative;
  height: 100%;
  min-height: 800px;
}

#block-bean-donate {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 99;
}
#block-bean-donate .field-item > a {
  background-color: #F09416;
  -webkit-box-shadow: 3px 8px 5px 0px #e0dde0;
  -moz-box-shadow: 3px 8px 5px 0px #e0dde0;
  box-shadow: 3px 8px 5px 0px #e0dde0;
  font-size: 17px;
  font-size: 1.30769rem;
  line-height: 1;
  font-wight: 200;
  padding: 15px 30px 12px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: right;
}

/**
 * @file
 * Front Page Special Event block
 */
.block-amani-front-page {
  background-color: #474F5E;
  color: #fff;
  padding: 30px;
  margin: 40px 0 0 0;
}
.block-amani-front-page h2 {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.block-amani-front-page p {
  font-size: 35px;
  line-height: 40px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
