/*
Error: Invalid CSS after "&.": expected class name, was ".page-resources..."
        on line 750 of c:/xampp/htdocs/wcs/amani/amani/themes/awp/sass/layouts/_responsive.scss
        from line 10 of c:/xampp/htdocs/wcs/amani/amani/themes/awp/sass/layouts/_responsive-rtl.scss
        from line 13 of c:/xampp/htdocs/wcs/amani/amani/themes/awp/sass/styles-rtl.scss

745:       margin-left: 0px;
746:       margin-right: 210px;
747: 
748:       h2.block__title{
749: 
750:       }
751:       .menu{
752:         li{
753: 
754:           float: right;
755:           margin-left: 10px;

Backtrace:
c:/xampp/htdocs/wcs/amani/amani/themes/awp/sass/layouts/_responsive.scss:750
c:/xampp/htdocs/wcs/amani/amani/themes/awp/sass/layouts/_responsive-rtl.scss:10
c:/xampp/htdocs/wcs/amani/amani/themes/awp/sass/styles-rtl.scss:13
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:1162:in `expected'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:1098:in `expected'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:1093:in `tok!'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/static_parser.rb:191:in `class_selector'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/static_parser.rb:159:in `simple_selector_sequence'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/static_parser.rb:112:in `selector'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/static_parser.rb:86:in `selector_comma_sequence'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/parser.rb:1076:in `expr!'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/scss/static_parser.rb:20:in `parse_selector'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:424:in `visit_rule'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `map'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `map'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `map'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `visit_children'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `block in visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:512:in `visit_media'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `map'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:88:in `block in with_import'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:88:in `with_import'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `map'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:88:in `block in with_import'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:88:in `with_import'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `block in with_base'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:115:in `with_frame'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/stack.rb:79:in `with_base'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:158:in `visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `map'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:52:in `visit_children'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `block in visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/base.rb:36:in `visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:157:in `visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/visitors/perform.rb:8:in `visit'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/root_node.rb:36:in `css_tree'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/tree/root_node.rb:20:in `render'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/engine.rb:278:in `render'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `each'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/sass-3.4.15/lib/sass/plugin/compiler.rb:328:in `block in watch'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/listen-2.10.0/lib/listen/listener.rb:291:in `call'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/listen-2.10.0/lib/listen/listener.rb:291:in `_process_changes'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/listen-2.10.0/lib/listen/listener.rb:255:in `block in _wait_for_changes'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/listen-2.10.0/lib/listen/listener.rb:238:in `loop'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/listen-2.10.0/lib/listen/listener.rb:238:in `_wait_for_changes'
c:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/listen-2.10.0/lib/listen/listener.rb:327:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"&.\": expected class name, was \".page-resources...\"\A         on line 750 of c:/xampp/htdocs/wcs/amani/amani/themes/awp/sass/layouts/_responsive.scss\A         from line 10 of c:/xampp/htdocs/wcs/amani/amani/themes/awp/sass/layouts/_responsive-rtl.scss\A         from line 13 of c:/xampp/htdocs/wcs/amani/amani/themes/awp/sass/styles-rtl.scss\A \A 745:       margin-left: 0px;\A 746:       margin-right: 210px;\A 747: \A 748:       h2.block__title{\A 749: \A 750:       }\A 751:       .menu{\A 752:         li{\A 753: \A 754:           float: right;\A 755:           margin-left: 10px;"; }
