/**
 * @file
 * Positioning for a responsive layout.
 *
 * Define CSS classes to create a fluid grid layout with optional sidebars
 * depending on whether blocks are placed in the left or right sidebars.
 *
 * This layout uses the Zen Grids plugin for Compass: http://zengrids.com
 */

// We are going to create a fluid grid with 1, 3, or 5 columns and 20px gutters
// between columns (applied as 10px of left/right padding on each column).
$zen-column-count:  1;
$zen-gutter-width:  20px;
$zen-float-direction: left !default;

// If you need IE6/7 support for box-sizing: border-box (default), see _init.scss
//$zen-box-sizing: content-box;

// You can generate more efficient CSS if you manually apply the
// zen-grid-item-base mixin to all grid items from within a single ruleset.
$zen-auto-include-item-base: false;
// $zen-auto-include-flow-item-base: false;

// Suppress this section of CSS for RTL layouts since it contains no LTR-specific styles.
@if $zen-reverse-all-floats == false {

/**
 * Center the page.
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
#page,
.region-bottom {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

/* Apply the shared properties of grid items in a single, efficient ruleset. */
#header,
#content,
#navigation,
.region-sidebar-first,
.region-sidebar-second,
#footer {
  // See the note about $zen-auto-include-item-base above.
  @include zen-grid-item-base();
}

/* Containers for grid items and flow items. */
#header,
#main,
#footer {
  @include zen-grid-container();
}

/* Navigation bar */
@media all and (min-width: 480px) {
  #main {
    /* Move all the children of #main down to make room. */
    padding-top: $nav-height;
    position: relative;
  }
  #navigation {
    /* Move the navbar up inside #main's padding. */
    position: absolute;
    top: 0;
    height: $nav-height;
    width: $zen-grid-width;
  }
}

} // End of @if $zen-reverse-all-floats == true








/**
 * Use 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {

  $zen-column-count: 3;

  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(2, 2, $zen-float-direction, $zen-column-count);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1, $zen-float-direction, $zen-column-count);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 2 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(2, 1, $zen-float-direction, $zen-column-count);
    }

    /* Span 1 column, starting in 3rd column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 3, $zen-float-direction, $zen-column-count);
    }
  }
  .section-resources,
  .page-resources-list{
    $zen-column-count: 5;
    #content {
      @include zen-grid-item(3, 1, $zen-float-direction, $zen-column-count);
    }

    .region-sidebar-second {
      @include zen-grid-item(2, 4, $zen-float-direction, $zen-column-count);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 2 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(2, 2, $zen-float-direction, $zen-column-count);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1, $zen-float-direction, $zen-column-count);
    }

    /* Start a new row and span all 3 columns. */
    .region-sidebar-second {
      @include zen-grid-item(3, 1, $zen-float-direction, $zen-column-count);
      @include zen-nested-container(); // Since we're making every block in this region be a grid item.
      @include zen-clear();

      /* Apply the shared properties of grid items in a single, efficient ruleset. */
      .block {
        @include zen-grid-item-base();
      }
      /* Span 1 column, starting in the 1st column from left. */
      .block:nth-child(3n+1) {
        @include zen-grid-item(1, 1, $zen-float-direction, $zen-column-count);
        @include zen-clear();
      }
      /* Span 1 column, starting in the 2nd column from left. */
      .block:nth-child(3n+2) {
        @include zen-grid-item(1, 2, $zen-float-direction, $zen-column-count);
      }
      /* Span 1 column, starting in the 3rd column from left. */
      .block:nth-child(3n) {
        @include zen-grid-item(1, 3, $zen-float-direction, $zen-column-count);
      }
    }
  }
}



/***Mobile CSS*/

@media all and  (max-width: 780px) {
  $zen-column-count: 12;
  body.html{
    #page, .region-bottom,
    #content{
      width: 100% !important;
    }
    
    #mobile-menu-wrapper{
      display: block;
      width: 100%;
      position: relative;
      position: absolute !important;
      top: 110px;
      left: auto;
      right: 0;
      #menu-attached-button{
        display: block;
        position: absolute;
        right: 30px;
        left: auto;
        top: -70px;
        font-size: 0;
        width: 47px;
        height: 40px;
        background: url("../images/mobile/menu-icon.png") center no-repeat;
      }
      #mobile-menu{
        background: #000;
        background: rgba(0,0,0,0.7);
        li.item-with-ul > * > a{
          border-right: 0;
          border-left: 0;
          padding: 0;
          width: 100%;
          li{
            a{
              border: 0;
            }
          }
        }
        li.item-with-ul > *:first-child{

          border: 0;
        }
        & > li{
          border-right: 0 !important;
          border-left: 0 !important;
          border-bottom: 1px solid #ccc;
          li{
            border: 0 !important;
            padding: 2px 10%;
            a{
              border: 0 !important;

            }
          }
          .submenu-title{
            background-image: url("../images/mobile/down.png");
            background-position: 92% center;
            background-repeat: no-repeat;
            border-bottom: 0;
            float: left;
            margin: 0;
            width: 100%;
          }
          &.active{
            .submenu-title{
              background-image: url("../images/mobile/up.png");
              background-color: $awp-green;
            }
          }
          a{
            color: $awp-white !important;
            font-weight: bold;
            font-size: 8vw;
            text-align: left;
            padding: 10px 0 !important;
            width: 60% !important;
            border-bottom: 0px solid #FFF;
            padding-left: 5% !important;
            display: block;
            margin: 0 auto;
            float: none;
          }
          li{
            text-align: left;
            a{
              padding: 5px 5px !important;
              font-size: 5vw;
              font-weight: normal;
            }
          }
          &.active {
            & > a{
              background: $awp-green;
            }

          }
        }

      }
    }
    #header{
      margin-top: 0;
      background: $awp-red;
      width: 100% !important;
      padding: 0;
      .site--slogan,
      #site-slogan{
        display: none;
      }
      .lang-block{
        display: block;
        position: absolute;
        top: 35px;
        left: 25px;
        float: none;
        padding: 0;
        margin: 0;
        ul{
          li{
            &.active{
              display: none;
            }
            a{
              color: #fff;
            }
          }
        }
      }
      a.header__logo{
        display: block;
        width: 32%;
        max-width: 180px;
        height: 81px;
        background: url("../images/mobile/logo.png") center no-repeat;
        background-size: 100% !important;
        margin: 0 auto;
        margin-top: 10px;
      }
      .header__logo-image{
        display: none !important;
      }
      #collapsed-menu-button,
      #block-superfish-1,
      .header_links{
        display: none !important
      }
      .logo-region{
        width: 100%;
        clear: both;
        height: 110px;
        text-align: center;
        a{
          float: none;
        }
      }
    }
    #block-block-3{
      display: none;
    }

    #block-views-4853df8e1a361dde03121dad9c7fe95f,
    #block-views-global-voices-blog-block,
    #block-views-front-page-tweets-block{
      width: 100%;
      clear: both;
    }
    .view-monthly-critique-boxes{
      .view-aidwatch-front-page-blocks{
        border: 0;
        margin: 0;

        &.f-left-block{
          .views-row{

              &.views-row-first  .views-field-field-image{
                background-color: $calendar-color;
                //background: url("../images/mobile/calendar.png") $calendar-color center no-repeat;
              }
              &.views-row-last  .views-field-field-image{
                background-color: $trucks-color;
                //background: url("../images/mobile/truck.png") $trucks-color center no-repeat;
              }

          }
        }
        &.f-center-block{
          .views-row{

              &.views-row-first  .views-field-field-image{
                background-color: $people-color;
                //background: url("../images/mobile/displace.png") $people-color center no-repeat;
              }
              &.views-row-last  .views-field-field-image{
                background-color: $money-color;
                //background: url("../images/mobile/dollar.png") $money-color center no-repeat;
              }

          }
        }
        &.f-right-block{
          .views-row{

              &.views-row-first .views-field-field-image{
                background-color: $temp-color;
                //background: url("../images/mobile/temp.png") $temp-color center no-repeat;
              }
              &.views-row-last  .views-field-field-image{
                background-color: $rebuilt-color;
                //background: url("../images/mobile/hummer.png") $rebuilt-color center no-repeat;
              }


          }
        }
        .views-row .views-field-field-image{
          background-size: 50% auto !important;
        }

      }
      .views-row{
        .views-row,
        .views-row:hover{
          height: 150px;
          margin-bottom: 20px;
          background: #F0F0F0 !important;
          padding: 0;
          .views-field-field-image{
            margin-right: 10%;
            padding: 5%;
            position: relative;
            top: -20%;
            background: $awp-red;
            height: 100%;
            width: 20%;
            [dir="rtl"] &{
              margin-left: 10%;
              margin-right: 0%;
            }
            img{
              /*-webkit-filter: saturate(33333333%);*/
              display: none !important;
              &.hover-img{
                display: block !important;
              }
            }
          }
          .views-field-title{
            float: left;
            clear: none;
            position: relative;
            left: 16%;
            top: 40px;
            display: block;
            width: 25%;
            [dir="rtl"] &{
              float: right;
              right: 16%;
              left: auto;
            }
            a{
              font-size: 3vw;
              font-weight: bold;
              color: #807f83;


            }
          }
          .views-field-field-text{
            color: $awp-dark-grey;
            float: left;
            position: relative;
            clear: none;
            left: -32%;
            width: 20%;
            top: 45px;
            font-size: 3vw;
            &.long-text{
              font-size: 3vw;
            }
            [dir="rtl"] &{
              float: right;
              right: -32%;
              left: auto;
            }
          }
          .views-field-title-1{/*more*/
            position: absolute;
            height: 150px;
            left: 100%;
            right: auto;
            display: table;
            background: #D7D7D7;
            top: 0;
            margin-left: -60px;
            bottom: auto;
            width: 60px;
            [dir="rtl"] &{
              right: 100%;
              left: auto;
              margin-right: -60px;
              margin-left: 0px;
            }
            .field-content{
              display: table-cell;
              vertical-align: middle;
              width: 100px;
              text-align: center;
              a{
                border: 0;
                color: #415968;
                font-size: 15px;
                padding: 0;

              }
            }


          }
        }
      }
    }
    &.front {
      h2.block-title{
        font-size: 7vw;
      }
      .view-awp-fundamental-questions-{
        .views-row{
          display: none;
          &.views-row-1{
            display: block;
          }
        }
      }
      .views-slideshow-cycle-main-frame,
      .views-slideshow-cycle-main-frame-row,
      .views-slideshow-cycle-main-frame-row-item{
        width: 100% !important;
      }
      .view-awp-front-page-slideshow{

        .views-row{

          .views-field-title{
            width: 50%;
            top: 5%;
            left: 0;
            padding: 0px 10%;
            height: 100%;
            .field-content,
            a{
              font-size: 6vw !important;

            }
          }
        }
      }
      #block-views-awp-front-page-slideshow-block{
        margin: 0;
        margin-bottom: -7px;
      }
      #block-views-global-voices-blog-block .view-global-voices-blog .views-row .views-field-title a{
        font-size: 5vw;
      }
      #block-views-global-voices-blog-block,
      #block-views-front-page-tweets-block{
        height: auto !important;
      }
      #block-views-global-voices-blog-block h2.block-title,
      #block-views-front-page-tweets-block .view-header{
        font-size: 7vw;
        margin: 10px 0;
      }

      #block-views-3035a87eee3a51153d184d85d17cc285 .view-glimpses-of-daily-life-in-gaza{/*dialu life*/
        .views-row{
          background: none ;
          padding-bottom: 10px;
          border-bottom: 1px solid #ccc;
          .views-field-field-image{
            width: 100%;
          }
          .views-field-title{
            float: none;
            a{
              font-size: 5vw;
            }
          }
          .views-field-field-article-date,
          .views-field-body{
            float: none;
            font-size: 3vw;
            line-height: 1.7;
            .field-content .views-more-link{
              font-size: 3vw;
            }
          }
        }

      }
      #block-views-4853df8e1a361dde03121dad9c7fe95f{
        .block-title{
          margin: 10px 0;
          padding-bottom: 5px;
          border-bottom: 1px solid #ccc;
        }
        .view-awp-fundamental-questions-{
          .view-content{
            .views-row{
              padding-bottom: 20px;
              box-shadow: 0px 5px 2px #eee;
              background: none;
              .views-field-title{
                font-size: 5vw;
                font-weight: 600;
              }
              .views-field-body{
                .fb-share-button,
                iframe{
                  display: none;
                }
                .field-content a{
                  float: right;
                  font-size: 5vw;
                }
              }
            }
          }
        }
      }
    }/*front*/
    #block-block-8{
      width: 100%;
      overflow: hidden;
      clear: both;
      display: block;
      background: #FFF;
      padding: 40px 0;
      margin-bottom: -10px;


      .header-btn{
        overflow: hidden;
        float: left;
        width: 18%;
        margin: 13px 0%;
        border-left: 2px solid #D31245;
        padding: 0 2%;
        [dir="rtl"] &{
          float: right;
          border: 0;
          border-right: 2px solid #D31245;
        }
        a{
          display: block;
          width: 100%;
          height: 100%;
          font-weight: bold;
          color: #D31245;
          background: none;
          text-align: center;
          font-size: 3vw;
          padding: 0;


        }
      }

      .social-icons{
        width: 48%;
        overflow: hidden;
        float: left;
        overflow: hidden;
        margin-right: 5%;
        [dir="rtl"] &{
          float: right;
        }
        .followus{
          float: left;
          font-size: 3vw;
          font-weight: bold;
          padding: 0 8%;
          margin-top: 13px;
          text-align: center;
          [dir="rtl"] &{
            float: right;
          }
        }
        a{
          display: block;
          width: 14%;
          height: 40px;
          font-size: 0;
          float: left;
          [dir="rtl"] &{
            float: right;
          }
          &.twitter{
            background: url("../images/mobile/twitter.png") no-repeat center;
          }
          &.facebook{
            background: url("../images/mobile/facebook.png") no-repeat center;
          }
          &.youtube{
            background: url("../images/mobile/youtube.png") no-repeat center;
          }
          background-size: 100% !important;
          margin: 0 2%;
        }
      }

      .header-btn a,
      .social-icons .followus{
        font-size: 3.2vw;
        color: #D31245;
        font-weight: bold;
        float: left;
        text-align: center;
        [dir="rtl"] &{
          float: right;
        }
      }

    }/*block-8*/
    &.front{
      #block-block-8 {
        margin-bottom: -10px;
      }
    }
    &.not-front{

      #block-block-4,
      #block-block-3{
        display: none !important;
      }
      .region-sidebar-second{
        display: none;
      }
      .view-header-photos{
        margin-bottom: -40px;
      }
      h1#page-title{
        width: 100%;
        font-size: 9vw;
      }
    }

    #footer{
      position: relative;
      padding-bottom: 80px;
      #block-menu-menu-awp-footer-menu{
        margin: 0;
        margin-bottom: -5px;
        ul.menu{
          padding: 0;
          li{
            &.first{
              margin-right: 10px;
              [dir = "rtl"] & {
                margin-left: 10px;
                margin-right: 0;
              }
            }
          }
        }
        a{
          font-size: 2vw !important;
          display: block;
        }
        .menu li.first a{
          font-size: 0 !important;
          background: url("../images/footer/home.png") 0 0 no-repeat;
          background-size: 100%;
          margin-top: -3px;

        }
        .menu li a.top-link{
          margin: 0;
        }
      }
      #block-bean-amani-powered-by{
        width: 50%;
        float: none;
        margin: 0 auto;
        position: absolute;
        bottom: 0;
        left: 25%;
      }

    }/*footer*/

    &.not-front{
      &.node-type-project .node-title,
      &.node-type-project .real-node-title,
      &.page-resources-list .view-resource-inner .view-header .views-field-name
      {
        font-size: 8vw ;
      }
      &.page-resources-list .view-resource-inner .view-content .views-row .views-field-title{
        font-size: 7vw;
      }
      &.page-resources-list .view-resource-inner .view-header .views-field-name{
        margin-top: 5%;
      }
      &.section-resources{
        .region-sidebar-second{
          display: none;
        }
        .view-resources-categories{
          .view-content{
            .views-row{
              width: 100%;
              float: left;
              overflow: hidden;
              clear: both;
              padding-bottom: 10px;
              margin-bottom: 10px;
              border-bottom: 1px solid $awp-light-grey;
              .views-field-field-image{
                width: 30%;
                float: left;
                [dire="rtl"] & {
                  float: right;
                }
              }
              .views-field-name,
              .views-field-description{
                width: 70%;
                float: left;
                text-align: left;
                [dire="rtl"] & {
                  float: right;
                  text-align: right;
                }
                font-size: 4vw;
              }
              .views-field-name{
                font-size: 4.5vw;
                a{
                  color: #415968;
                  font-size: 4.5vw;
                }
              }
              .views-field-tid {
                display: none;
                width: 70%;
                overflow: hidden;
                float: left;
                [dire="rtl"] & {
                  float: right;
                }
                .field-content a{
                  font-size: 3vw;
                  position: relative;
                  float: none;
                  width: auto;
                  font-weight: bold;
                  clear: none;
                  margin: 10px 0;
                  left: 0;
                  right: 0;

                }
              }

            }
          }
        }
      }
    }


    /*Take action*/

    &.node-type-take-actions #page-title.page__title{
      margin: 10px 0;
      padding: 0;
    }
    &.node-type-take-actions .view-take-actions{
      background: none !important;
    }
    &.node-type-take-actions .node-take-actions {
      width: 100%;
      margin: 0;
      .field-name-field-sub-title{
        font-size: 4.5vw;
        font-weight: bold;
      }


    }
    &.node-type-take-actions .view-take-actions .views-row{
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      background: none;
      .field-name-field-row-title{
        font-size: 4.5vw;
        font-weight: bold;
      }
      .field-name-field-row-body,
      .field-name-field-row-link{
        font-size: 3.5vw;
      }
    }
    &.node-type-take-actions .view-take-actions .views-row.views-row-first .field-name-field-row-title{
      padding: 0;
      background: none;
    }


    &.node-type-take-actions{
      .view-header-photos{
        display: none;
      }
    }



  }/*body*/


  body.section-news .view-news-with-featured-.view-display-id-page .view-content .views-row .views-field-title a,
  body.section-news .view-news-and-events-blog.view-display-id-page .view-content .views-row .views-field-title a,
  body.section-news .view-glimpses-of-daily-life-in-gaza.view-display-id-page .view-content .views-row .views-field-title a,
  body.section-blog .view-news-with-featured-.view-display-id-page .view-content .views-row .views-field-title a,
  body.section-blog .view-news-and-events-blog.view-display-id-page .view-content .views-row .views-field-title a,
  body.section-blog .view-glimpses-of-daily-life-in-gaza.view-display-id-page .view-content .views-row .views-field-title a,
  body.section-glimpses-of-daily-life-in-gaza .view-news-with-featured-.view-display-id-page .view-content .views-row .views-field-title a,
  body.section-glimpses-of-daily-life-in-gaza .view-news-and-events-blog.view-display-id-page .view-content .views-row .views-field-title a,
  body.section-glimpses-of-daily-life-in-gaza .view-glimpses-of-daily-life-in-gaza.view-display-id-page .view-content .views-row .views-field-title a{
    font-size: 4.5vw !important;
  }





  #block-block-9{/*take action inner mobile block*/
    display: block;
    background-color: #Fff;
    margin-top: -40px;
    margin-bottom: 0px;
    overflow: hidden;
    .take-action-mobile-block{
      .first-div{
        width: 49%;
        height: 198px;
        background: url(../images/homepage/action.png) no-repeat 90% 90% $awp-red;
        float: left;
        background-size: 40% auto;
        [dir="rtl"] & {
          float: right;
          background: url(../images/homepage/action-ar.png) no-repeat 10% 90% $awp-red;
          background-size: 40% auto;
        }

        .big-title{
          font-size: 7vw;
          color: $awp-white;
          font-weight: bold;
          margin: 20px;
        }
        .sub-title{
          font-size: 5vw;
          color: $awp-white;
          font-weight: 100;
          margin: 20px;
        }
      }
      .second-div{
        width: 49%;
        height: 200px;
        background: $awp-red;
        float: right;
        [dir="rtl"] & {
          float: left;
        }
        .sub-block{
          height: 64px;
          background: $awp-red;
          overflow: hidden;
          border-bottom: 2px solid $awp-white;
          display: table;
          width: 100%;
          &.last{
            border-bottom: 0;
          }
          a{
            color: white;
            display: table-cell;
            vertical-align: middle;
            padding:0 20px;
            font-size: 5.5vw;
            font-weight: normal;
          }

        }
      }
    }
  }


}/*max-width : 780px*/





/**
 * Use 5 grid columns for larger screens.
 */
@media all and (min-width: 780px) {

#block-block-8,
#block-block-9{
  display: none;
}

  #header{
    $zen-column-count: 12;
    .header__logo{
      @include zen-grid-item(3, 1, $zen-float-direction, $zen-column-count);
    }
    .header__secondary-menu{
      display: none;
    }
    #name-and-slogan{
    }
    .header__region{
      @include zen-grid-item(9, 4, $zen-float-direction, $zen-column-count);
    }
    #block-superfish-1{
      .mobile-menu-link {
        display: none;
      }
    }
  }
  #header .lang-block{
    display: none;
  }
  #header .header_links .lang-block{
    display: block;
  }
  #highlighted{
    $zen-column-count: 12;
    @include zen-grid-item(12, 1, $zen-float-direction, $zen-column-count);
    margin: 20px 0;
    clear: both;
    margin-bottom: -5%;
  }
  $zen-column-count: 5;
  /**
   * The layout when there is only one sidebar, the left one.
   */
  .sidebar-first {
    /* Span 4 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(4, 2, $zen-float-direction, $zen-column-count);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1, $zen-float-direction, $zen-column-count);
    }
  }

  /**
   * The layout when there is only one sidebar, the right one.
   */
  .sidebar-second {
    /* Span 4 columns, starting in 1st column from left. */
    #content {
      @include zen-grid-item(4, 1, $zen-float-direction, $zen-column-count);
    }

    /* Span 1 column, starting in 5th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 5, $zen-float-direction, $zen-column-count);
    }
  }
  .section-resources,
  .page-resources-list{
    $zen-column-count: 12;
    #content {
      @include zen-grid-item(8, 1, $zen-float-direction, $zen-column-count);
    }

    .region-sidebar-second {
      @include zen-grid-item(4, 9, $zen-float-direction, $zen-column-count);
    }
  }

  /**
   * The layout when there are two sidebars.
   */
  .two-sidebars {
    /* Span 3 columns, starting in 2nd column from left. */
    #content {
      @include zen-grid-item(3, 2, $zen-float-direction, $zen-column-count);
    }

    /* Span 1 column, starting in 1st column from left. */
    .region-sidebar-first {
      @include zen-grid-item(1, 1, $zen-float-direction, $zen-column-count);
    }

    /* Span 1 column, starting in 5th column from left. */
    .region-sidebar-second {
      @include zen-grid-item(1, 5, $zen-float-direction, $zen-column-count);
    }
  }
  .view-aidwatch-front-page-blocks{
    width: 33%;
    float: left;
  }/*view-aidwatch-front-page-blocks*/
  .front{
    $zen-column-count: 12;
    .view-awp-front-page-slideshow{
      .views-row{
        .views-field-title{
         
        }/*views-field-title*/
      }/*views-row*/
      .views-slideshow-controls-bottom{
        top: 280px;
        width: 100%;
      }/*views-slideshow-controls-bottom*/
    }/*view-awp-front-page-slideshow*/

    #block-views-3035a87eee3a51153d184d85d17cc285{
      @include zen-grid-item(12, 1, $zen-float-direction, $zen-column-count);
      clear: both;
      overflow: hidden;
      float: none;
      .views-field-field-image{
        margin-right: 2%;
        width: 42%;
        img{
          width: 100%;
          height: auto;
        }
      }
      .views-field-title{
        width: 42%;
      }
      .views-field-field-article-date{
        width: 42%;
      }
      .views-field-body{
        width: 42%;
      }
    }
    $zen-gutter-width: 0;
    #block-views-front-page-tweets-block{
      width: 45%;
      float: left;
      margin-left: 2%;
    }
    #block-views-global-voices-blog-block{
      width: 45%;
      float: left;
    }
    #block-views-4853df8e1a361dde03121dad9c7fe95f{
      @include zen-grid-item(8, 1, $zen-float-direction, $zen-column-count);
    }
    #block-block-3{
      @include zen-grid-item(4, 9, $zen-float-direction, $zen-column-count);
    }

  }/*front*/

  .not-front{
    &.section-resources{
      .view-resources-categories{
        .view-content{
          .views-row{
            width: 50%;
            float: left;
            margin-right: 0;
            height: 350px;
            margin-top: 30px;
            a{
              color: #415968;
            }
          }
        }
      }
    }
  }

}
