/* Header background color*/
#header {
  background: #ffffff;
}

/* Main menu links*/
#header-region #navigation .content li a:link, 
#header-region #navigation .content li a:visited, 
#header-region #navigation .content li a.active, 
#navigation #navigation .content li a:link, 
#navigation #navigation .content li a:visited, 
#navigation #navigation .content li a.active, 
#header-region #block-superfish-superfish_1 .content li a:link, 
#header-region #block-superfish-superfish_1 .content li a:visited, 
#header-region #block-superfish-superfish_1 .content li a.active, 
#navigation #block-superfish-superfish_1 .content li a:link, 
#navigation #block-superfish-superfish_1 .content li a:visited, 
#navigation #block-superfish-superfish_1 .content li a.active, 
#header-region #block-superfish-1 .content li a:link, 
#header-region #block-superfish-1 .content li a:visited, 
#header-region #block-superfish-1 .content li a.active, 
#navigation #block-superfish-1 .content li a:link, 
#navigation #block-superfish-1 .content li a:visited, 
#navigation #block-superfish-1 .content li a.active, 
#header-region #block-menu-menu-amani-main-menu .content li a:link, 
#header-region #block-menu-menu-amani-main-menu .content li a:visited, 
#header-region #block-menu-menu-amani-main-menu .content li a.active, 
#navigation #block-menu-menu-amani-main-menu .content li a:link, 
#navigation #block-menu-menu-amani-main-menu .content li a:visited, 
#navigation #block-menu-menu-amani-main-menu .content li a.active {
    color: #f2a64b;
}

#header-region #navigation .content li a:hover, 
#header-region #navigation .content li a:active, 
#navigation #navigation .content li a:hover, 
#navigation #navigation .content li a:active, #header-region
#block-superfish-superfish_1 .content li a:hover, 
#header-region #block-superfish-superfish_1 .content li a:active, 
#navigation #block-superfish-superfish_1 .content li a:hover, 
#navigation #block-superfish-superfish_1 .content li a:active, 
#header-region #block-superfish-1 .content li a:hover, 
#header-region #block-superfish-1 .content li a:active, #navigation
#block-superfish-1 .content li a:hover, 
#navigation #block-superfish-1 .content li a:active, 
#header-region #block-menu-menu-amani-main-menu .content li a:hover, 
#header-region #block-menu-menu-amani-main-menu .content li a:active, 
#navigation #block-menu-menu-amani-main-menu .content li a:hover, 
#navigation #block-menu-menu-amani-main-menu .content li a:active {
    color: #7f007f;
}

/* Secondary menu links */
#header-region #block-menu-menu-meta .content li a:link, 
#header-region #block-menu-menu-meta .content li a:visited, 
#header-region #block-menu-menu-meta .content li a.active {
   color: #ee8f1c;
}

#header-region #block-menu-menu-meta .content li a:hover, 
#header-region #block-menu-menu-meta .content li a:active {
  color: #800080; 
}

/* Site titles */
h1, h2 { 
  color: #000000; 
}

Links
a:link, a:visited {
  color: #0000ff;
}

/* Footer background color*/
#footer {
  background: #414042;
  color: #ffffff;
}

/*Home page box shadow*/
#block-views-front_page_slideshow-block,
#block-views-front_page_blocks-block,
#block-views-front_page_blocks-block_1,
#block-views-front_page_blocks-block_2,
#block-views-news_and_events-block_1 {
 -webkit-box-shadow: 0px 0px 50px #ffffff;
 -moz-box-shadow: 0px 0px 50px #ffffff;
 box-s"""hadow: 0px 0px 50px #ffffff; 
}
